<ion-header>
  <ion-toolbar>
    <div class="title-container">
      <ion-icon class="back-icon" name="chevron-back-outline"></ion-icon>
      <ion-title class="title">Complete Your Profile</ion-title>
    </div>
    <progress-bar [progress]="25" [color]="'#488aff'"></progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- Mandatory profile action buttons -->
  <div class="mandatory-actions">
    <ion-card class="title-reminder">
      <small>Tip: Completed profiles have the most success on Restvo </small>
    </ion-card>
    <ion-card class="action-card">
      <img class="icon" src="assets/icon/user.svg" alt="">
      <div class="action-card-info">
        <ion-card-title mode="md">Upload a Profile Photo</ion-card-title>
        <ion-card-subtitle mode="md">Let other users see who they’re connecting with</ion-card-subtitle>
      </div>
      <img class="plus" src="assets/icon/plus.svg" alt="">
    </ion-card>
    <ion-card class="action-card">
      <img class="icon" src="assets/icon/quotation.svg" alt="">
      <div class="action-card-info">
        <ion-card-title mode="md">Add a Bio</ion-card-title>
        <ion-card-subtitle mode="md">Tell people a little bit about yourself</ion-card-subtitle>
      </div>
      <img class="plus" src="assets/icon/plus.svg" alt="">
    </ion-card>
  </div>

  <!-- Optional profile action buttons -->
  <div class="optional-actions">
    <ion-card class="title-reminder">
      <small>Optional:</small>
    </ion-card>
    <ion-card class="action-card">
      <img class="icon" src="assets/icon/notification.svg" alt="">
      <div class="action-card-info">
        <ion-card-title mode="md">Enable Push Notifications</ion-card-title>
        <ion-card-subtitle mode="md">Get notified when you recieve a new message or request</ion-card-subtitle>
      </div>
      <img class="plus" src="assets/icon/plus.svg" alt="">
    </ion-card>
    <ion-card class="action-card">
      <img class="icon" src="assets/icon/contact.svg" alt="">
      <div class="action-card-info">
        <ion-card-title mode="md">Import Your Contacts</ion-card-title>
        <ion-card-subtitle mode="md">Find out who you know has already joined Restvo</ion-card-subtitle>
      </div>
      <img class="plus" src="assets/icon/plus.svg" alt="">
    </ion-card>
  </div>
</ion-content>
