app-completeprofile {
  .title-container {
    position: relative;
    height: 50px;
    margin-top: 20px;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    width: 90%;
    padding: 0 !important;
  }

  .back-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 30px;
  }

  .title-reminder {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-top: 20px !important;
    margin-top: 0 !important;

    & small {
      font-size: 15px;
    }
  }

  .action-card {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 40px 1fr 25px;
    grid-gap: 20px;
    align-items: center;
  }

  .icon {
    display: inline-block;
    height: 40px;
    width: 40px;
  }

  .plus {
    display: inline-block;
    height: 25px;
    width: 25px;
  }
}
