<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{groupForm.value.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="groupForm">
    <ion-list>
      <div class="default-background" [ngStyle]="{'background-image': 'url(' + (groupForm.value.background | background: userData.user._id) + ')'}" >
        <div class="edit-icon"></div>
        <div class="default-title">
          {{groupForm.value.name}}
        </div>
        <div *ngIf="platform.is('cordova')" class="edit-icon-container" (click)="editBackground($event)">
          <ion-icon name="cog" color="primary"></ion-icon>
        </div>
        <div *ngIf="!platform.is('cordova')" class="edit-icon-container">
          <label for="image"><ion-icon ios="ios-cog-outline" md="md-cog" color="primary"></ion-icon></label>
          <input type="file" class="file-picker" name="image" id="image" (change)="selectPhotoFromDeviceAndUpload($event)" accept="image/*"/>
        </div>
      </div>
      <ion-item>
        <ion-label position="stacked">Group Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!groupForm.controls.name.pristine && !groupForm.controls.name.valid">
        <p class="form-error" slot="end" *ngIf="!groupForm.controls.name.pristine && groupForm.controls.name.hasError('required')">
          This is a required field.
        </p>
      </ion-item>
      <div>
        <!--<ion-item-group>
          <ion-item>
            <ion-label position="stacked">Community</ion-label>
            <ion-select [interfaceOptions]="{cssClass: 'level-15'}" #church formControlName="churchId" (ionChange)="changeCommunity(church.value)">
              <ion-select-option *ngFor="let church of churches" [value]="church._id" [class.selected]="church.selected">{{church.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="form-error-list" *ngIf="!groupForm.controls.churchId.pristine && !groupForm.controls.churchId.valid">
            <p class="form-error" slot="end" *ngIf="!groupForm.controls.churchId.pristine && groupForm.controls.churchId.hasError('required')">
              This is a required field.
            </p>
          </ion-item>
          <div *ngIf="groupForm.value.churchId !== ''">
            <ion-item>
              <ion-label>List in Discover Section? <ion-icon name="information-circle" (click)="explainDiscover()"></ion-icon></ion-label>
              <ion-toggle formControlName="public_group"></ion-toggle>
            </ion-item>
          </div>
        </ion-item-group>-->
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea autosize rows="3" [minRows]="3" [maxRows]="8" class="detailstextarea" type="text" formControlName="details"></ion-textarea>
        </ion-item>
        <!--<ion-item-group lines="none">
          <ion-item lines="none" (click)="showOptional = !showOptional">
            <ion-label slot="start">Optional</ion-label>
            <ion-button size="small" slot="end" fill="outline" *ngIf="!showOptional">Show More</ion-button>
          </ion-item>
          <div *ngIf="showOptional">
            <ion-item>
              <ion-label position="stacked">Start Time</ion-label>
              <ion-datetime (ionChange)="changeStartTime($event)" displayFormat="MMM DD, YYYY HH:mm" pickerFormat="Z MMM DD, YYYY HH:mm" min="2017" max="2050-12-31" formControlName="beginAt" [pickerOptions]="{cssClass: 'level-15'}"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">End Time</ion-label>
              <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="Z MMM DD, YYYY HH:mm" min="2017" max="2050-12-31" formControlName="endAt" [pickerOptions]="{cssClass: 'level-15'}"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Day of the Week</ion-label>
              <ion-select [interfaceOptions]="{cssClass: 'level-15'}" formControlName="meeting_day">
                <ion-select-option *ngFor="let day of days" [value]="day.name" [class.selected]="day.selected">{{day.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Meeting Frequency</ion-label>
              <ion-select [interfaceOptions]="{cssClass: 'level-15'}" formControlName="meeting_frequency">
                <ion-select-option *ngFor="let frequency of frequencies" [value]="frequency.name" [class.selected]="frequency.selected">{{frequency.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Location/Room</ion-label>
              <ion-input type="text" formControlName="location"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Street</ion-label>
              <ion-input type="text" formControlName="street"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">City</ion-label>
              <ion-input type="text" formControlName="city"></ion-input>
            </ion-item>
            <ion-item class="form-error-list" *ngIf="!groupForm.controls.city.pristine && !groupForm.controls.city.valid">
              <p class="form-error" slot="end" *ngIf="!groupForm.controls.city.pristine && groupForm.controls.city.hasError('required')">
                This is a required field.
              </p>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">State</ion-label>
              <ion-input type="text" formControlName="state"></ion-input>
            </ion-item>
            <ion-item class="form-error-list" *ngIf="!groupForm.controls.state.pristine && !groupForm.controls.state.valid">
              <p class="form-error" slot="end" *ngIf="!groupForm.controls.state.pristine && groupForm.controls.state.hasError('required')">
                This is a required field.
              </p>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Country</ion-label>
              <ion-select [interfaceOptions]="{cssClass: 'level-15'}" formControlName="country">
                <ion-select-option *ngFor="let country of countries" [value]="country.name" [class.selected]="country.selected">{{country.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="form-error-list" *ngIf="!groupForm.controls.country.pristine && !groupForm.controls.country.valid">
              <p class="form-error" slot="end" *ngIf="!groupForm.controls.country.pristine && groupForm.controls.country.hasError('required')">
                This is a required field.
              </p>
            </ion-item>
          </div>
        </ion-item-group>
        <ion-item-group *ngIf="showOptional">
          <ion-item class="ion-text-wrap" *ngIf="smsPlan">
            <ion-label slot="start">Communication Preference</ion-label>
            <p>You can control chat message delivery to the Email and SMS members.</p>
          </ion-item>
          <ion-item class="ion-text-wrap" *ngIf="!smsPlan">
            <ion-label slot="start">Communication Preference</ion-label>
            <p>You can control chat message delivery to the Email members.</p>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">Email members will receive messages</ion-label>
            <ion-toggle slot="end" formControlName="emailDisabled"></ion-toggle>
          </ion-item>
          <div *ngIf="smsPlan">
            <ion-item>
              <ion-label class="ion-text-wrap">SMS members will receive messages</ion-label>
              <ion-toggle slot="end" formControlName="smsDisabled"></ion-toggle>
            </ion-item>
            <ion-item-divider class="ion-text-wrap">
              <p>SMS keyword is a word of your choice for the text-to-join feature</p>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label position="stacked">SMS Keyword</ion-label>
              <ion-input type="text" formControlName="smsKeyword"></ion-input>
            </ion-item>
          </div>
        </ion-item-group>-->
      </div>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" shape="round" size="medium" color="primary" (click)="clickSaveButton()" [disabled]="!groupForm.valid">Save</ion-button>
  </ion-toolbar>
</ion-footer>
