app-managefeature {

  ion-item {
    cursor: pointer;
  }

  ion-menu-toggle {
    ion-badge {
      position: relative;
      top: 0.1rem;
      right: 22px;

      /*& ~ ion-icon {
        outline-color: whitesmoke;
      }*/
      z-index: 5;
    }
  }

  .full-height {
    height: 100%;
  }

  ion-header {
    padding: 30px 0;
    background-color: transparent !important;
    box-shadow: none !important;

    --background: transparent !important;
  }

  ion-slide {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
  }

  .selected {
    background-color: #e2666a !important;
  }

  .selected * {
    color: white;
    background-color: #e2666a !important;
  }

  ion-router-outlet {
    border-left: 1px solid var(--ion-color-lightgrey);
  }

  ion-content {
    display: flex;
    flex-direction: column;
  }

  .bold-font {
    font-weight: bold;
  }
}
