app-managefeature {

  ion-menu-toggle {
    ion-badge {
      position: relative;
      top: 0.1rem;
      right: 22px;

      /*& ~ ion-icon {
        outline-color: whitesmoke;
      }*/
      z-index: 5;
    }
  }

  .full-height {
    height: 100%;
  }

  ion-router-outlet {
    border-left: 1px solid var(--ion-color-lightgrey);
  }

  ion-content {
    display: flex;
    flex-direction: column;
  }

  .bold-font {
    font-weight: bold;
  }

  #show-event-title {
    width: auto;
  }
}
