<ion-header *ngIf="resource && resource._id && moment.resource && moment.resource.field">
  <ion-toolbar [ngClass]="{ 'desktop-header-toolbar': platform.width() >= 768 }">
    <ion-menu-toggle menu="main" *ngIf="!modalPage && platform.width() < 768" slot="start" fill="clear">
      <ion-button fill="clear" color="grey">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="this.chatService && this.chatService.connectTabBadge" mode="md">{{this.chatService.connectTabBadge}}</ion-badge>
    </ion-menu-toggle>
    <ion-buttons *ngIf="modalPage" slot="start">
      <ion-button (click)="closeModal(false)">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--<ion-title *ngIf="!modalPage && userData.currentManageActivityId && userData.activitiesWithAdminAccess" class="ion-text-wrap">
    </ion-title>-->
    <ion-title (click)="select.open($event)" *ngIf="!modalPage">
      <ion-select [(ngModel)]="userData.currentManageActivityId" (ngModelChange)="changeManageActivity($event)" [interface]="platform.width() < 768 ? 'alert' : 'alert'" [interfaceOptions]="{header: 'Manage'}">
        <div *ngFor="let activity of userData.activitiesWithAdminAccess">
          <ion-select-option [value]="activity._id" *ngIf="activity.categories.includes('5c915324e172e4e64590e346')">{{activity.name}}</ion-select-option>
        </div>
        <div *ngFor="let activity of userData.activitiesWithAdminAccess">
          <ion-select-option [value]="activity._id" *ngIf="activity.categories.includes('5c915475e172e4e64590e348')">{{activity.name}}</ion-select-option>
        </div>
        <div *ngFor="let activity of userData.activitiesWithAdminAccess">
          <ion-select-option [value]="activity._id" *ngIf="activity.categories.includes('5dfdbb547b00ea76b75e5a70')">{{activity.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-title>
    <ion-title *ngIf="modalPage">{{moment.matrix_string[0][0]}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chatService.openChat({ conversationId: moment.conversation, moment: moment, subpanel: this.platform.width() >= 768 })" [hidden]="moment && moment.array_boolean && (moment.array_boolean.length <= 5 || !moment.array_boolean[5])" color="grey"> <!--hide if subpanel or if content calendar and participant group chat is turned off-->
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <ion-button id="moreOrganizerActions" (click)="moreOrganizerActions()"><ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical" color="grey"></ion-icon></ion-button> <!--More-->
    </ion-buttons>
  </ion-toolbar>

  <!--Activity Hierarchy-->
  <ion-buttons *ngIf="platform.width() >= 768" style="padding-left: 10px" [ngClass]="{ 'desktop-header-toolbar': platform.width() >= 768 }">
    <ion-button (click)="upOneLevel(moment.parent_programs[0].parent_programs[0]._id)" *ngIf="moment.parent_programs && moment.parent_programs.length && moment.parent_programs[0] && moment.parent_programs[0].parent_programs && moment.parent_programs[0].parent_programs.length && moment.parent_programs[0].parent_programs[0] && moment.parent_programs[0].parent_programs[0]._id">
      <b>{{moment.parent_programs[0].parent_programs[0].resource['en-US'].value}}</b>
    </ion-button>
    <ion-icon name="chevron-forward" *ngIf="moment.parent_programs && moment.parent_programs.length && moment.parent_programs[0] && moment.parent_programs[0].parent_programs && moment.parent_programs[0].parent_programs.length && moment.parent_programs[0].parent_programs[0] && moment.parent_programs[0].parent_programs[0]._id"></ion-icon>
    <ion-button (click)="upOneLevel(moment.parent_programs[0]._id)" *ngIf="moment.parent_programs && moment.parent_programs.length && moment.parent_programs[0] && moment.parent_programs[0]._id">
      <b>{{moment.parent_programs[0].resource['en-US'].value}}</b>
    </ion-button>
    <ion-icon name="chevron-forward" *ngIf="moment.parent_programs && moment.parent_programs.length"></ion-icon>
    <ion-button>
      <b>{{moment.resource['en-US'].value}}</b>
    </ion-button>
  </ion-buttons>
  <!--Desktop Menu Items-->
  <ion-toolbar *ngIf="platform.width() >= 768">
    <ion-grid class="desktop-header-grid">
      <ion-row class="ion-justify-content-start">
        <ion-col [ngClass]="{'selected': router.url.includes('insight')}" (click)="clickManageMenu('insight', null)">
          <ion-item class="ion-no-padding" [color]="router.url.includes('insight') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="insight"></ion-icon>
            <ion-label class="menu-label">Insight</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('/profile')}" (click)="clickManageMenu('profile', null)">
          <ion-item class="ion-no-padding" [color]="router.url.includes('/profile') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="profile"></ion-icon>
            <ion-label class="menu-label">Profile</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('people')}" (click)="clickManageMenu('people', null)">
          <ion-item class="ion-no-padding" [color]="router.url.includes('people') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="people"></ion-icon>
            <ion-label class="menu-label">People</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('journey')}" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348')) && (!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e9f46e1c8bf1a622fec69d5')))" (click)="clickManageMenu('journey', null)"> <!--Journey-->
          <ion-item class="ion-no-padding" [color]="router.url.includes('journey') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="journey"></ion-icon>
            <ion-label class="menu-label">Learning</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('mentoring')}" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348')) && (!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e9fe372c8bf1a622fec69d8')))" (click)="clickManageMenu('mentoring', null)"> <!--Mentoring-->
          <ion-item class="ion-no-padding" [color]="router.url.includes('mentoring') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="mentoring"></ion-icon>
            <ion-label class="menu-label">Mentoring</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('groups')}" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348')) && (!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e9fe35cc8bf1a622fec69d7')))" (click)="clickManageMenu('groups', null)"> <!--Groups-->
          <ion-item class="ion-no-padding" [color]="router.url.includes('groups') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="group"></ion-icon>
            <ion-label class="menu-label">Groups</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('programs')}" *ngIf="moment && moment.categories && moment.categories.includes('5c915324e172e4e64590e346')" (click)="clickManageMenu('programs', null)">
          <ion-item class="ion-no-padding" [color]="router.url.includes('programs') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="programs"></ion-icon>
            <ion-label class="menu-label">Programs</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('creator')}" (click)="clickManageMenu('creator', null)" *ngIf="moment && moment.categories && (moment.categories.includes('5e9f46e1c8bf1a622fec69d5') || moment.categories.includes('5dfdbb547b00ea76b75e5a70'))"> <!--if Journey or Relationship-->
          <ion-item class="ion-no-padding" [color]="router.url.includes('creator') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="curriculum"></ion-icon>
            <ion-label class="menu-label">Curriculum</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('onboarding')}" (click)="clickManageMenu('onboarding', null)" *ngIf="!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e17acd47b00ea76b75e5a71'))">
          <ion-item class="ion-no-padding" [color]="router.url.includes('onboarding') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="onboarding"></ion-icon>
            <ion-label class="menu-label">Onboarding</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('billing')}" (click)="clickManageMenu('billing', null)" *ngIf="moment && moment.categories.includes('5c915324e172e4e64590e346') && this.stripeCustomer">
          <ion-item class="ion-no-padding" [color]="router.url.includes('billing') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="card"></ion-icon>
            <ion-label class="menu-label">Billing</ion-label>
          </ion-item>
        </ion-col>
        <ion-col [ngClass]="{'selected': router.url.includes('subscription')}" (click)="clickManageMenu('subscription', null)" *ngIf="moment && moment.categories.includes('5c915324e172e4e64590e346')">
          <ion-item class="ion-no-padding" [color]="router.url.includes('subscription') ? 'primary' : 'secondary'" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="subscription"></ion-icon>
            <ion-label class="menu-label">Subscription</ion-label>
          </ion-item>
        </ion-col>
        <ion-col routerLink="/app/manage" *ngIf="moment._id === '5d5785b462489003817fee18' && userData.hasPlatformAdminAccess">
          <ion-item class="ion-no-padding" color="secondary" lines="none">
            <ion-icon class="ion-no-margin" slot="start" name="eye"></ion-icon>
            <ion-label class="menu-label">Platform</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!--Mobile View-->
<ion-content *ngIf="resource && resource._id && moment.resource && moment.resource.field && platform.width() < 768" forceOverscroll="false">
  <ion-buttons style="padding: 10px" *ngIf="initialSetupCompleted">
    <ion-button (click)="upOneLevel(moment.parent_programs[0].parent_programs[0]._id)" *ngIf="moment.parent_programs && moment.parent_programs.length && moment.parent_programs[0] && moment.parent_programs[0].parent_programs && moment.parent_programs[0].parent_programs.length && moment.parent_programs[0].parent_programs[0] && moment.parent_programs[0].parent_programs[0]._id">
      <b>{{moment.parent_programs[0].parent_programs[0].resource['en-US'].value}}</b>
    </ion-button>
    <ion-icon name="chevron-forward" *ngIf="moment.parent_programs && moment.parent_programs.length && moment.parent_programs[0] && moment.parent_programs[0].parent_programs && moment.parent_programs[0].parent_programs.length && moment.parent_programs[0].parent_programs[0] && moment.parent_programs[0].parent_programs[0]._id"></ion-icon>
    <ion-button (click)="upOneLevel(moment.parent_programs[0]._id)" *ngIf="moment.parent_programs && moment.parent_programs.length && moment.parent_programs[0] && moment.parent_programs[0]._id">
      <b>{{moment.parent_programs[0].resource['en-US'].value}}</b>
    </ion-button>
    <ion-icon name="chevron-forward" *ngIf="moment.parent_programs && moment.parent_programs.length"></ion-icon>
    <ion-button>
      <b>{{moment.resource['en-US'].value}}</b>
    </ion-button>
  </ion-buttons>
  <ion-list>
    <ion-item (click)="clickManageMenu('insight', null)">
      <ion-icon slot="start" name="insight" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Insight</ion-label>
    </ion-item>
    <ion-item (click)="clickManageMenu('profile', null)">
      <ion-icon slot="start" name="profile" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-item>
    <ion-item (click)="clickManageMenu('people', null)">
      <ion-icon slot="start" name="people" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>People</ion-label>
    </ion-item>
    <ion-item (click)="clickManageMenu('programs', null)" *ngIf="moment && moment.categories && moment.categories.includes('5c915324e172e4e64590e346') && (!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5c915475e172e4e64590e348')))">
      <ion-icon slot="start" name="programs" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Programs</ion-label>
    </ion-item>
    <ion-item (click)="clickManageMenu('creator', null)" *ngIf="moment && moment.categories && (moment.categories.includes('5e9f46e1c8bf1a622fec69d5') || moment.categories.includes('5dfdbb547b00ea76b75e5a70'))"> <!--if Journey or Relationship-->
      <ion-icon slot="start" name="curriculum" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Curriculum</ion-label>
    </ion-item>
    <!--Journey, only Show in Community or Program, and if they enabled this Children Category-->
    <ion-item (click)="clickManageMenu('journey', null)" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348')) && (!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e9f46e1c8bf1a622fec69d5')))"> <!--Journey-->
      <ion-icon slot="start" name="journey" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Learning</ion-label>
    </ion-item>
    <!--Mentoring, only Show in Community or Program, and if they enabled this Children Category-->
    <ion-item (click)="clickManageMenu('mentoring', null)" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348')) && (!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e9fe372c8bf1a622fec69d8')))"> <!--Mentoring-->
      <ion-icon slot="start" name="mentoring" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Mentoring</ion-label>
    </ion-item>
    <!--Groups, only Show in Community or Program, and if they enabled this Children Category-->
    <ion-item (click)="clickManageMenu('groups', null)" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348')) && (!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e9fe35cc8bf1a622fec69d7')))"> <!--Group-->
      <ion-icon slot="start" name="group" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Groups</ion-label>
    </ion-item>
    <ion-item (click)="clickManageMenu('onboarding', null)" *ngIf="!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e17acd47b00ea76b75e5a71'))">
      <ion-icon slot="start" name="onboarding" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Onboarding</ion-label>
    </ion-item>
    <ion-item-group *ngIf="moment && moment.categories.includes('5c915324e172e4e64590e346')"> <!--Community Only Feature-->
      <ion-item (click)="clickManageMenu('billing', null)" [hidden]="!this.stripeCustomer">
        <ion-icon slot="start" name="card" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label>Billing</ion-label>
      </ion-item>
      <ion-item (click)="clickManageMenu('subscription', null)">
        <ion-icon slot="start" name="subscription" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label>Subscription</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item routerLink="/app/manage" *ngIf="moment._id === '5d5785b462489003817fee18' && userData.hasPlatformAdminAccess">
      <ion-icon slot="start" name="eye" *ngIf="platform.width() < 768"></ion-icon>
      <ion-label>Platform</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!--Desktop View-->

<ion-content *ngIf="resource && resource._id && moment.resource && moment.resource.field && platform.width() >= 768" forceOverscroll="false">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
