<!--
<ion-header *ngIf="resource && resource._id && moment.resource && moment.resource.field">
  <ion-toolbar>
    <ion-menu-toggle menu="main" *ngIf="!modalPage && platform.width() < 768" slot="start" fill="clear">
      <ion-button fill="clear" color="grey">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="this.chatService && this.chatService.connectTabBadge" mode="md">{{this.chatService.connectTabBadge}}</ion-badge>
    </ion-menu-toggle>
    <ion-buttons *ngIf="modalPage" slot="start">
      <ion-button (click)="closeModal(false)">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    &lt;!&ndash;<ion-title *ngIf="!modalPage && userData.currentManageActivityId && userData.activitiesWithAdminAccess" class="ion-text-wrap">
    </ion-title>&ndash;&gt;
    <ion-title (click)="select.open($event)" *ngIf="!modalPage">{{moment.matrix_string[0][0]}} <ion-note><ion-icon name="create-outline"></ion-icon></ion-note>
      <ion-select [(ngModel)]="userData.currentManageActivityId" (ionChange)="changeManageActivity($event)" [interface]="platform.width() < 768 ? 'alert' : 'popover'" [interfaceOptions]="{header: 'Manage'}" hidden>
        <div *ngFor="let activity of userData.activitiesWithAdminAccess">
          <ion-select-option [value]="activity._id" *ngIf="activity.categories.includes('5c915324e172e4e64590e346')">{{activity.name}}</ion-select-option>
        </div>
        <div *ngFor="let activity of userData.activitiesWithAdminAccess">
          <ion-select-option [value]="activity._id" *ngIf="activity.categories.includes('5c915475e172e4e64590e348')">{{activity.name}}</ion-select-option>
        </div>
        <div *ngFor="let activity of userData.activitiesWithAdminAccess">
          <ion-select-option [value]="activity._id" *ngIf="activity.categories.includes('5dfdbb547b00ea76b75e5a70')">{{activity.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-title>
    <ion-title *ngIf="modalPage">{{moment.matrix_string[0][0]}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="edit()">{{resource['en-US'].value[18]}}</ion-button> &lt;!&ndash;Edit&ndash;&gt;
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content *ngIf="resource && resource._id && moment.resource && moment.resource.field" forceOverscroll="false">
  <ion-grid class="full-height">
    <ion-row class="full-height">
      <ion-col class="full-height" size-xs="12" size-sm="12" size-md="3" size-lg="3">
        <ion-list>
          <ion-item>
            <ion-badge>{{moment.resource['en-US'].value[0]}}</ion-badge>
            <ion-badge style="margin-left: 5px" color="button1" *ngIf="moment.parent_programs && moment.parent_programs.length" (click)="upOneLevel(moment.parent_programs[0]._id)">Up one level</ion-badge>
          </ion-item>
          <ion-item (click)="clickManageMenu('insight', null)">
            <ion-icon slot="start" name="person" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'insight')}">Insight</ion-label>
          </ion-item>
          <ion-item (click)="clickManageMenu('profile', null)">
            <ion-icon slot="start" name="clipboard" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'profile')}" *ngIf="moment && moment.categories && !moment.categories.includes('5c915476e172e4e64590e349')">Profile</ion-label>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'profile')}" *ngIf="moment && moment.categories && moment.categories.includes('5c915476e172e4e64590e349')">Plan</ion-label>
          </ion-item>
          <ion-item (click)="clickManageMenu('people', null)">
            <ion-icon slot="start" name="people" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'people')}">People</ion-label>
          </ion-item>
          <ion-item (click)="clickManageMenu('programs', null)" *ngIf="moment && moment.categories && moment.categories.includes('5c915324e172e4e64590e346')">
            <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'programs')}">Programs</ion-label>
          </ion-item>
          <ion-item (click)="clickManageMenu('plans', null)" [hidden]="moment && moment.categories && moment.categories.includes('5c915476e172e4e64590e349')">
            <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'plans')}">Plans</ion-label>
          </ion-item>
            <ion-item (click)="clickManageMenu('journey', null)" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348'))">
                <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
                <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'journey')}">Journey</ion-label>
            </ion-item>
          <ion-item (click)="clickManageMenu('mentoring', null)" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348'))">
            <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'mentoring')}">Mentoring</ion-label>
          </ion-item>
          <ion-item (click)="clickManageMenu('groups', null)" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348'))">
            <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'groups')}">Groups</ion-label>
          </ion-item>
          <ion-item-group *ngIf="moment && moment.resource && moment.resource.matrix_number.length && moment.resource.matrix_number[0].includes(10210)">
            <ion-item (click)="clickManageMenu('schedule', schedule)" *ngFor="let schedule of schedules; index as i">
              <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
              <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'schedule' && selectedSchedule._id === schedule._id)}">Schedule {{i + 1}}</ion-label>
            </ion-item>
            <ion-item (click)="clickManageMenu('new-schedule', null)">
              <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
              <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'new-schedule')}">+ Schedule</ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item (click)="clickManageMenu('onboarding', null)" [hidden]="moment && moment.categories && moment.categories.includes('5c915476e172e4e64590e349')" *ngIf="!moment.child_categories.length || (moment.child_categories.length && moment.child_categories.includes('5e17acd47b00ea76b75e5a71'))">
            <ion-icon slot="start" name="list" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'onboarding')}">Onboarding</ion-label>
          </ion-item>
          <ion-item-group *ngIf="moment && moment.categories.includes('5c915324e172e4e64590e346')">
            <ion-item (click)="clickManageMenu('billing', null)" [hidden]="!this.stripeCustomer">
              <ion-icon slot="start" name="card" *ngIf="platform.width() < 768"></ion-icon>
              <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'billing')}">Billing</ion-label>
            </ion-item>
            <ion-item (click)="clickManageMenu('subscription', null)">
              <ion-icon slot="start" name="planet" *ngIf="platform.width() < 768"></ion-icon>
              <ion-label [ngClass]="{ 'bold-font': (selectedMenuOption === 'subscription')}">Subscription</ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item routerLink="/app/manage" *ngIf="moment._id === '5d5785b462489003817fee18' && userData.hasPlatformAdminAccess">
            <ion-icon slot="start" name="eye" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label>Platform</ion-label>
          </ion-item>
          <ion-item (click)="switchToUserView()">
            <ion-icon slot="start" name="eye" *ngIf="platform.width() < 768"></ion-icon>
            <ion-label>View as User</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-xs="0" size-sm="0" size-md="9" size-lg="9" *ngIf="this.platform.width() >= 768">
        <ion-router-outlet></ion-router-outlet>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content *ngIf="resource && resource._id && moment.resource && moment.resource.field" forceOverscroll="false">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
-->


<ion-header *ngIf="resource && resource._id && moment.resource && moment.resource.field" no-border>
  <ion-slides [options]="{slidesPerView: 6, grabCursor: true, updateOnWindowResize: true}">
    <ion-slide [ngClass]="{ 'selected': (selectedMenuOption === 'insight')}" (click)="clickManageMenu('insight', null)">
      <ion-card>
        <ion-icon slot="start" name="person" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label>Insight</ion-label>
      </ion-card>
    </ion-slide>
    <ion-slide [ngClass]="{ 'selected': (selectedMenuOption === 'profile')}" (click)="clickManageMenu('profile', null)">
      <ion-card>
        <ion-icon slot="start" name="clipboard" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label *ngIf="moment && moment.categories && !moment.categories.includes('5c915476e172e4e64590e349')">Profile</ion-label>
        <ion-label [ngClass]="{ 'selected': (selectedMenuOption === 'profile')}" *ngIf="moment && moment.categories && moment.categories.includes('5c915476e172e4e64590e349')">Plan</ion-label>
      </ion-card>
    </ion-slide>
    <ion-slide [ngClass]="{ 'selected': (selectedMenuOption === 'people')}" (click)="clickManageMenu('people', null)">
      <ion-card>
        <ion-icon slot="start" name="people" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label>People</ion-label>
      </ion-card>
    </ion-slide>
    <ion-slide [ngClass]="{ 'selected': (selectedMenuOption === 'groups')}" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348'))" (click)="clickManageMenu('groups', null)">
      <ion-card>
        <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label>Groups</ion-label>
      </ion-card>
    </ion-slide>
    <ion-slide [ngClass]="{ 'selected': (selectedMenuOption === 'mentoring')}" *ngIf="moment && moment.categories && (moment.categories.includes('5c915324e172e4e64590e346') || moment.categories.includes('5c915475e172e4e64590e348'))" (click)="clickManageMenu('mentoring', null)">
      <ion-card>
        <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label>Mentoring</ion-label>
      </ion-card>
    </ion-slide>
    <ion-slide *ngIf="moment && moment.categories && moment.categories.includes('5c915324e172e4e64590e346')"  [ngClass]="{ 'selected': (selectedMenuOption === 'programs')}" (click)="clickManageMenu('programs', null)">
      <ion-card>
        <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label>Programs</ion-label>
      </ion-card>
    </ion-slide>
    <ion-slide [ngClass]="{ 'selected': (selectedMenuOption === 'plans')}" (click)="clickManageMenu('plans', null)">
      <ion-card [hidden]="moment && moment.categories && moment.categories.includes('5c915476e172e4e64590e349')">
        <ion-icon slot="start" name="book" *ngIf="platform.width() < 768"></ion-icon>
        <ion-label>Plans</ion-label>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content *ngIf="resource && resource._id && moment.resource && moment.resource.field" forceOverscroll="false">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
