app-myconversations {
  ion-content {
    height: 100%;
  }

  ion-virtual-scroll {
    cursor: pointer;
  }

  ion-menu-toggle {
    ion-badge {
      position: relative;
      top: 0.1rem;
      right: 22px;

      /*& ~ ion-icon {
        outline-color: whitesmoke;
      }*/
      z-index: 5;
    }
  }

  .message-container {
    width: 100%;
  }

  .message-detail {
    //width: 85%;
    color: grey;
    margin: 8px 0 16px 0;
    max-height: 36px;
    line-height: 18px; /* Height / no. of lines to display */
    overflow: hidden;
  }

  .user-avatar {
    width: 45px !important;
    height : 45px !important;
  }

  .conversations-panel {
    padding-right: 5px;
  }

  .online {
    border: 2px solid var(--ion-color-tertiary);
  }

  .moreoptions-container {
    max-height: 30vh;
    overflow: scroll;
  }

  .moreoptions-grid {
    animation-name: move-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  .moreoptions-community-name {
    height: 20px;
    color: grey;
    font-size: 12px;
  }

  @keyframes move-down {
    from {
      transform: translateY(-90px);
    }
    to {
      transform: translateY(0);
    }
  }

  .moreoptions-row {
    width: 100%;
  }

  .moreoptions {
    width: 100%;
  }

  .moreoptions-centered {
    width: 100%;
    height: 65px;
    margin: auto 0 auto 0;

    .moreoptions-avatar {
      margin: 0 auto;
      top: 0
    }

    .moreoptions-joined {
      position: absolute;
      left: 60%;
      top: 28px;
    }

    .moreoptions-label {
      margin: 5px auto 0 auto;
      color: grey;
      font-size: 12px;
    }
  }

  .fade {
    -webkit-animation: fade 3s infinite;
    animation: fade 3s infinite;
    -moz-animation: fade 3s infinite;
    -o-animation: fade 3s infinite;
  }

  @-webkit-keyframes fade {
    0% {opacity: 0.2}
    50% {opacity: 1}
    100% {opacity:0.2}
  }

  @-moz-keyframes fade{
    0% {opacity: 0.2}
    50% {opacity: 1}
    100% {opacity:0}
  }

  @keyframes fade {
    0% {opacity: 0.2}
    50% {opacity: 1}
    100%{opacity: 0.2}
  }
  @-o-keyframes fade {
    0% {opacity: 0.2}
    50% {opacity: 1}
    100%{opacity: 0.2}
  }

  .filter-warning {
    margin: 0 auto;
  }


  .details {
    margin: 14px 0 6px 0;
    width: 100%;
    //background-color: #7f7f7f;
  }

  .short-paragraph {
    width: 85%;
    color: grey;
    margin: 8px 0;
    max-height: 36px;
    line-height: 18px; /* Height / no. of lines to display */
    overflow: hidden;
  }
}
