<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item class="popover-item" class="ion-text-wrap" [hidden]="!joinChurchTag" (click)="joinCommunity()">Join Community<div tabindex="0"></div></ion-item>
    <ion-item class="popover-item" class="ion-text-wrap" (click)="invite()">Invite Friend<div tabindex="0"></div></ion-item>
    <ion-item class="popover-item" class="ion-text-wrap" [hidden]="!editChurchTag" (click)="editCommunity()">Edit Community<div tabindex="0"></div></ion-item>
    <ion-item class="popover-item" class="ion-text-wrap" [hidden]="!leaveChurchTag" (click)="leaveCommunity()">Leave Community<div tabindex="0"></div></ion-item>
  </ion-list>
</ion-content>
