<ion-content>
  <ion-searchbar [(ngModel)]="searchKeyword" debounce="500" (ionInput)="executeSearch($event)" (ionCancel)="cancelSearch($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let member of members" (click)="seeUserInfo($event, member)">
      <ion-avatar slot="start">
        <img *ngIf="member.avatar" [src]="member.avatar"/>
        <img *ngIf="!member.avatar" src="assets/img/avatar-default.jpg"/>
      </ion-avatar>
      {{member.name}} <span *ngFor="let icon of member.icons"><ion-icon name={{icon}}></ion-icon> </span><ion-badge *ngIf="member.badge">{{member.role}}</ion-badge>
      <ion-icon slot="end" [hidden]="!editMemberTag" name="cog" (click)="editMember($event, member)"></ion-icon>
    </ion-item>
    <div style="margin-top: 20%;"></div>
  </ion-list>
  <ion-infinite-scroll position="bottom" (ionInfinite)="listgroupmembers($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="primary" (click)="addMemberActionSheet()"><ion-icon name="person-add"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="primary" (click)="addMemberActionSheet()"><ion-icon name="person-add"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-footer>