<ion-header id="createChatHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button (click)="backButton()" color="grey"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="!totalSelected || totalSelected < 2">Create Chat</ion-title>
    <ion-title *ngIf="totalSelected >= 2">Create Group</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div>
      <ion-searchbar id="chatSearchBar" [(ngModel)]="searchKeyword" debounce="500" (ionChange)="executeSearch($event)" (ionCancel)="cancelSearch($event)"></ion-searchbar>
      <div class="selected-buttons">
        <ion-button size="small" *ngFor="let person of selectedAppUsers" (click)="unselect(person)">{{person.name}}<ion-icon name="close-circle" style="margin-left: 5px;"></ion-icon></ion-button>
      </div>
      <form *ngIf="displayGroup" [formGroup]="chatForm">
        <ion-item>
          <ion-label position="stacked">
            <span *ngIf="!totalSelected || totalSelected < 2">Chat </span>
            <span *ngIf="totalSelected >= 2">Group </span>
            Name *</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
      </form>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <div>
    <ion-list-header>Friends</ion-list-header>
    <ion-list>
      <ion-item *ngFor="let person of listOfFriends; trackBy: customTrackBy" (click)="select(person)">
        <ion-avatar slot="start">
          <ion-img *ngIf="person.avatar" [src]="person.avatar"></ion-img>
          <ion-img *ngIf="!person.avatar" src="assets/img/avatar-default.jpg"></ion-img>
        </ion-avatar>
        {{person.name}}
        <ion-icon color="button1" *ngIf="!person.select" name="radio-button-off" slot="end"></ion-icon>
        <ion-icon color="button1" *ngIf="person.select" name="checkmark-circle" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list-header>{{userData.user.churches[userData.currentCommunityIndex].name}}</ion-list-header>
    <ion-list>
      <ion-item *ngFor="let person of listOfAppUsers; trackBy: customTrackBy" (click)="select(person)">
        <ion-avatar slot="start">
          <ion-img *ngIf="person.avatar" [src]="person.avatar"></ion-img>
          <ion-img *ngIf="!person.avatar" src="assets/img/avatar-default.jpg"></ion-img>
        </ion-avatar>
        {{person.name}}
        <ion-icon color="button1" *ngIf="!person.select" name="radio-button-off" slot="end"></ion-icon>
        <ion-icon color="button1" *ngIf="person.select" name="checkmark-circle" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll position="bottom" (ionInfinite)="loadMorePeople($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button expand="full" shape="round" size="medium" (click)="selectAppUsers()" color="primary" [disabled]="totalSelected < 1 || (totalSelected > 1 && chatForm.hasError('required'))">Select {{totalSelected}}&nbsp;<span *ngIf="totalSelected <= 1">Person</span><span *ngIf="totalSelected > 1">People</span></ion-button>
  </ion-toolbar>
</ion-footer>
