<ion-header *ngIf="modalPage">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(false)"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="resource && resource._id && moment.resource && moment.resource.field">{{moment.matrix_string[0][0]}}: Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="subscriptionResource && moment && moment.resource && moment.resource.field">
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <swiper id="swiper" (init)="onSlidesLoaded($event)" [slidesPerView]="'auto'" [spaceBetween]="10" [grabCursor]="true" [updateOnWindowResize]="true">
    <ng-template swiperSlide>
      <ion-grid *ngIf="resource">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
            <ion-card class="ion-text-center ion-no-margin ion-padding-vertical">
              <ion-card-header>
                <ion-card-title>{{subscriptionResource['en-US'].matrix_string[0][0]}}</ion-card-title>
                <img src=""/>
              </ion-card-header>
              <ion-card-header>
                <ion-card-title>{{subscriptionResource['en-US'].matrix_string[0][1]}}</ion-card-title>
                <ion-card-subtitle>{{subscriptionResource['en-US'].matrix_string[0][2]}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list class="ion-text-center">
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[0][11]}}
                  </ion-item>
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[0][12]}}
                  </ion-item>
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[0][13]}}
                  </ion-item>
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[0][14]}}
                  </ion-item>
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[0][15]}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
              <ion-col *ngIf="!moment.subscription || moment.subscription === 'Free'">
                <ion-button color="primary" fill="solid" shape="round" [disabled]="true">Current Plan</ion-button>
              </ion-col>
              <ion-col *ngIf="moment.subscription === 'Growth'">
                <ion-button color="primary" fill="solid" shape="round" (click)="selectPlan('Free')">Downgrade Plan</ion-button>
              </ion-col>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
            <ion-card class="ion-text-center ion-no-margin ion-padding-vertical">
              <ion-card-header>
                <ion-card-title>{{subscriptionResource['en-US'].matrix_string[1][0]}}</ion-card-title>
                <img src=""/>
              </ion-card-header>
              <ion-card-header>
                <ion-card-title>{{subscriptionResource['en-US'].matrix_string[1][1]}}</ion-card-title>
                <ion-card-subtitle>{{subscriptionResource['en-US'].matrix_string[1][2]}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list class="ion-text-center">
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[1][11]}}
                  </ion-item>
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[1][12]}}
                  </ion-item>
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[1][13]}}
                  </ion-item>
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[1][14]}}
                  </ion-item>
                  <ion-item>
                    {{subscriptionResource['en-US'].matrix_string[1][15]}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
              <ion-col *ngIf="moment.subscription === 'Growth'">
                <ion-button color="primary" fill="solid" shape="round" [disabled]="true">Current Plan</ion-button>
              </ion-col>
              <ion-col *ngIf="moment.subscription !== 'Growth'">
                <ion-button color="primary" fill="solid" shape="round" (click)="selectPlan('Growth')">Upgrade Plan</ion-button>
              </ion-col>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template swiperSlide>
      <ion-grid *ngIf="resource">
        <ion-row>
          <ion-col>
            <ion-label class="text-start">You are switching to the {{subscriptionResource['en-US'].matrix_string[1][0]}} Plan</ion-label>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Billing Amount</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <!--<h2 class="ion-text-center" *ngIf="community_participants.length <= 50">0 - 50 growth users (current {{community_participants.length}}) = ${{(community_participants.length/50 + 1).toFixed(0)*subscriptionResource.matrix_number[1][0]}}</h2>-->
                <h2 class="ion-text-center">{{(community_participants.length/50).toFixed(0)*50 + 1}} - {{(community_participants.length/50 + 1).toFixed(0)*50}} growth users (currently {{community_participants.length}}) = ${{(community_participants.length/50 + 1).toFixed(0)*subscriptionResource.matrix_number[1][0]}}</h2>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Billing Information</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <form [formGroup]="billingForm">
                  <ngx-stripe-card [stripe]="stripeService" [options]="cardOptions" class="field"></ngx-stripe-card>
                  <ion-item>
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="name" placeholder="Jane Doe"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Email Address</ion-label>
                    <ion-input autocomplete="on" type="email" formControlName="email" placeholder="jane@restvo.com"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Street</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="line1"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">City</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="city"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">State</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="state"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Zip/Postal Code</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="postal_code"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Country</ion-label>
                    <ion-select [interfaceOptions]="{cssClass: 'level-15'}" formControlName="country">
                      <ion-select-option value="US" [class.selected]='true'>United States</ion-select-option>
                      <ion-select-option value="AU">Australia</ion-select-option>
                      <ion-select-option value="AT">Austria</ion-select-option>
                      <ion-select-option value="BE">Belgium</ion-select-option>
                      <ion-select-option value="BR">Brazil</ion-select-option>
                      <ion-select-option value="CA">Canada</ion-select-option>
                      <ion-select-option value="CN">China</ion-select-option>
                      <ion-select-option value="DK">Denmark</ion-select-option>
                      <ion-select-option value="FI">Finland</ion-select-option>
                      <ion-select-option value="FR">France</ion-select-option>
                      <ion-select-option value="DE">Germany</ion-select-option>
                      <ion-select-option value="HK">Hong Kong</ion-select-option>
                      <ion-select-option value="IE">Ireland</ion-select-option>
                      <ion-select-option value="IT">Italy</ion-select-option>
                      <ion-select-option value="JP">Japan</ion-select-option>
                      <ion-select-option value="LU">Luxembourg</ion-select-option>
                      <ion-select-option value="MX">Mexico</ion-select-option>
                      <ion-select-option value="NL">Netherlands</ion-select-option>
                      <ion-select-option value="NZ">New Zealand</ion-select-option>
                      <ion-select-option value="NO">Norway</ion-select-option>
                      <ion-select-option value="PT">Portugal</ion-select-option>
                      <ion-select-option value="SG">Singapore</ion-select-option>
                      <ion-select-option value="ES">Spain</ion-select-option>
                      <ion-select-option value="SE">Sweden</ion-select-option>
                      <ion-select-option value="CH">Switzerland</ion-select-option>
                      <ion-select-option value="GB">United Kingdom</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item class="ion-margin-top">
                    <ion-label position="stacked">Discount Code</ion-label>
                    <ion-input type="text" formControlName="coupon"></ion-input>
                  </ion-item>
                </form>
                <div class="ion-margin">* I authorise Restvo to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of my agreement with you.</div>
                <ion-row>
                  <ion-col>
                    <ion-button color="primary" shape="round" fill="solid" expand="block" (click)="submitBillingForm()">Submit</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button color="danger" shape="round" fill="solid" expand="block" (click)="prevSlide()">Cancel</ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </swiper>
</ion-content>
