app-feature-subscription {

  /*ion-card {
    margin: 5% 10% 5% 10%;
    //padding: 2% 0 2%;
  }*/

  ion-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ion-slides {
    width: 100%;
  }

  ion-grid {
    width: 100%;
  }

  ion-slide {
    width: 100%;
  }

  .field {
    flex: 1;
    padding: 0 15px;
    background: transparent;
    font-weight: 400;
    outline: none;
    cursor: text;
  }
}
