.success-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;

    & h3 {
        font-size: 25px;
        font-weight: bold;
        color: var(--ion-color-primary, #3880ff);
    }

    & ion-button {
        --border-radius: 20px;
    }
}
