<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="modalPage">
      <ion-button fill="solid" (click)="closeModal(false)" color="grey"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Preview Templates</ion-title>
  </ion-toolbar>
  <ion-item-group>
    <ion-item lines="none">
      <ion-label class="cursor-pointer">Date Range: </ion-label> <!--Start, Choose a date below-->
      <ion-datetime-button datetime="featureTemplateTime1"></ion-datetime-button>
      <span> - </span>
      <ion-datetime-button datetime="featureTemplateTime2"></ion-datetime-button>
    </ion-item>
    <ion-popover [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="featureTemplateTime1" presentation="date" [(ngModel)]="populateStartDate" (ngModelChange)="repopulateTemplate('updated begin date')" max="2070-12-31T23:59:59"></ion-datetime>
      </ng-template>
    </ion-popover>
    <ion-popover [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="featureTemplateTime2" presentation="date" [(ngModel)]="populateEndDate" (ngModelChange)="repopulateTemplate('updated end date')" max="2070-12-31T23:59:59"></ion-datetime>
      </ng-template>
    </ion-popover>
    <ion-item lines="none">
      <ion-label class="cursor-pointer">Templates:</ion-label>
      <ion-select [(ngModel)]="selectedScheduleIds" (ionChange)="repopulateTemplate(null)" slot="end" [multiple]="true">
        <ion-select-option *ngFor="let schedule of schedules" [value]="schedule._id">{{schedule.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-progress-bar [value]="progress"></ion-progress-bar>
    </ion-item>
  </ion-item-group>
  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" (click)="addToCurriculum()">
      <span>Add to Curriculum</span>
    </ion-button>
  </ion-row>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid">
        <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
        >
          <span *ngIf="platform.width() >= 768">Previous</span>
          <span *ngIf="platform.width() < 768"><ion-icon name="chevron-back-outline"></ion-icon></span>
        </div>
      </ion-button>
      <ion-button fill="solid">
        <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
        >
          Today
        </div>
      </ion-button>
      <ion-button fill="solid">
        <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
        >
          <span *ngIf="platform.width() >= 768">Next</span>
          <span *ngIf="platform.width() < 768"><ion-icon name="chevron-forward-outline"></ion-icon></span>
        </div>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="solid">
        <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
      </ion-button>
      <ion-button fill="solid">
        <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
      </ion-button>
      <ion-button fill="solid">
        <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title *ngIf="view === CalendarView.Day">Preview {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</ion-title>
    <ion-title *ngIf="view === CalendarView.Week">Preview {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</ion-title>
    <ion-title *ngIf="view === CalendarView.Month">Preview  {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</ion-title>
    <ion-checkbox [(ngModel)]="showOnlyPartialDay" slot="end" *ngIf="view !== CalendarView.Month">6am - 6pm</ion-checkbox>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="clickEvent($event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [dayStartHour]="showOnlyPartialDay ? 6 : 0"
            [dayEndHour]="showOnlyPartialDay ? 18 : 24"
            (eventClicked)="clickEvent($event.event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [dayStartHour]="showOnlyPartialDay ? 6 : 0"
            [dayEndHour]="showOnlyPartialDay ? 18 : 24"
            (eventClicked)="clickEvent($event.event)"
    >
    </mwl-calendar-day-view>
  </div>
</ion-content>
