// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-font-family: "Roboto", sans-serif;
  /** primary **/
  --ion-color-primary: #E2666A;
  --ion-color-primary-rgb: 226,102,106;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #c75a5d;
  --ion-color-primary-tint: #e57579;

  /** secondary **/
  --ion-color-secondary: #fff;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #053055;
  --ion-color-tertiary-rgb: 5,48,85;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #042a4b;
  --ion-color-tertiary-tint: #1e4566;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #f6c653;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #F65374;
  --ion-color-danger-rgb: 246,198,83;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** light **/
  --ion-color-light: #eeeeee;
  --ion-color-light-rgb: 238,238,238;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d1d1d1;
  --ion-color-light-tint: #f0f0f0;

  /** medium is also a default color **/

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** custom color. it requires adding a new class in global.scss that uses these css variables  **/

  /** grey **/
  --ion-color-grey: #909090;
  --ion-color-grey-rgb: 234,234,234;
  --ion-color-grey-contrast: #000000;
  --ion-color-grey-contrast-rgb: 0,0,0;
  --ion-color-grey-shade: #cecece;
  --ion-color-grey-tint: #ececec;

  /** lightgrey **/
  --ion-color-lightgrey: #f2f2f2;
  --ion-color-lightgrey-rgb: 242,242,242;
  --ion-color-lightgrey-contrast: #000000;
  --ion-color-lightgrey-contrast-rgb: 0,0,0;
  --ion-color-lightgrey-shade: #d5d5d5;
  --ion-color-lightgrey-tint: #f3f3f3;

  /** dark grey **/
  --ion-color-darkgrey: #6A6A6A;
  --ion-color-darkgrey-rgb: 106,106,106;
  --ion-color-darkgrey-contrast: #ffffff;
  --ion-color-darkgrey-contrast-rgb: 255,255,255;
  --ion-color-darkgrey-shade: #616368;
  --ion-color-darkgrey-tint: #a2a4ab;

  /** orange **/
  --ion-color-orange: #ff9c36;
  --ion-color-orange-rgb: 255,156,54;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0,0,0;
  --ion-color-orange-shade: #e08930;
  --ion-color-orange-tint: #ffa64a;

  /** button 1 **/
  --ion-color-button1: #4267B2;
  --ion-color-button1-rgb: 66,103,178;
  --ion-color-button1-contrast: #ffffff;
  --ion-color-button1-contrast-rgb: 255,255,255;
  --ion-color-button1-shade: #0bb8cc;
  --ion-color-button1-tint: #24d6ea;

  /** button 2 **/
  --ion-color-button2: #66cdaa;
  --ion-color-button2-rgb: 102,205,170;
  --ion-color-button2-contrast: #ffffff;
  --ion-color-button2-contrast-rgb: 255,255,255;
  --ion-color-button2-shade: #0ec254;
  --ion-color-button2-tint: #28e070;

  /** button 3 **/
  --ion-color-button3: #f6c653;
  --ion-color-button3-rgb: 246,198,83;
  --ion-color-button3-contrast: #ffffff;
  --ion-color-button3-contrast-rgb: 255,255,255;
  --ion-color-button3-shade: #0ec254;
  --ion-color-button3-tint: #28e070;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #ED9194;
    --ion-color-primary-rgb: 237,145,148;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #d18082;
    --ion-color-primary-tint: #ef9c9f;

    --ion-color-secondary: #222428;
    --ion-color-secondary-rgb: 34,36,40;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #1e2023;
    --ion-color-secondary-tint: #383a3e;

    --ion-color-tertiary: #1e5485;
    --ion-color-tertiary-rgb: 30,84,133;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #1a4a75;
    --ion-color-tertiary-tint: #356591;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

      /** light **/
      --ion-color-light: #393030;
      --ion-color-light-rgb: 57,48,48;
      --ion-color-light-contrast: #ffffff;
      --ion-color-light-contrast-rgb: 255,255,255;
      --ion-color-light-shade: #322a2a;
      --ion-color-light-tint: #4d4545;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;


    /** custom color. it requires adding a new class in global.scss that uses these css variables  **/

    /** grey **/
    --ion-color-grey: #eaeaea;
    --ion-color-grey-rgb: 234,234,234;
    --ion-color-grey-contrast: #000000;
    --ion-color-grey-contrast-rgb: 0,0,0;
    --ion-color-grey-shade: #cecece;
    --ion-color-grey-tint: #ececec;

    /** lightgrey **/
    --ion-color-lightgrey: #2d2525;
    --ion-color-lightgrey-rgb: 45,37,37;
    --ion-color-lightgrey-contrast: #ffffff;
    --ion-color-lightgrey-contrast-rgb: 255,255,255;
    --ion-color-lightgrey-shade: #282121;
    --ion-color-lightgrey-tint: #423b3b;

    /** dark grey **/
    --ion-color-darkgrey: #C6C6C6;
    --ion-color-darkgrey-rgb: 198,198,198;
    --ion-color-darkgrey-contrast: #000000;
    --ion-color-darkgrey-contrast-rgb: 0,0,0;
    --ion-color-darkgrey-shade: #aeaeae;
    --ion-color-darkgrey-tint: #cccccc;


    /** button 1 **/
    --ion-color-button1: #4267B2;
    --ion-color-button1-rgb: 66,103,178;
    --ion-color-button1-contrast: #ffffff;
    --ion-color-button1-contrast-rgb: 255,255,255;
    --ion-color-button1-shade: #0bb8cc;
    --ion-color-button1-tint: #24d6ea;

    /** button 2 **/
    --ion-color-button2: #66cdaa;
    --ion-color-button2-rgb: 102,205,170;
    --ion-color-button2-contrast: #ffffff;
    --ion-color-button2-contrast-rgb: 255,255,255;
    --ion-color-button2-shade: #0ec254;
    --ion-color-button2-tint: #28e070;

    /** button 3 **/
    --ion-color-button3: #f6c653;
    --ion-color-button3-rgb: 246,198,83;
    --ion-color-button3-contrast: #ffffff;
    --ion-color-button3-contrast-rgb: 255,255,255;
    --ion-color-button3-shade: #0ec254;
    --ion-color-button3-tint: #28e070;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #202020;

    --ion-item-background: #121212;
    --ion-item-background-activated: #313131;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1A1B1E;
  }

  ion-title.title-large {
    --color: white;
  }
}
