<ion-header [ngClass]="{'ion-no-border': platform.width() >= 768 }">
  <ion-toolbar color="lightgrey" *ngIf="(platform.is('mobileweb') && !platform.is('pwa') && (platform.is('ios') || platform.is('android'))) && userData.showDownloadLink">
    <ion-item-sliding side="end">
      <ion-item lines="none"  color="lightgrey">
        <ion-avatar slot="start">
          <ion-img src="assets/img/icon.png"></ion-img>
        </ion-avatar>
        <div class="details" class="ion-text-wrap">
          <a *ngIf="platform.is('ios')" href="https://itunes.apple.com/us/app/restvo-connect-with-churches/id1365903479?ls=1&mt=8" style="font-size: 14px; color: var(--ion-color-button1)">Download app for better experience</a>
          <a *ngIf="platform.is('android')" href="https://play.google.com/store/apps/details?id=com.restvo.app" style="font-size: 14px; color: var(--ion-color-button1)">Download app for better experience</a>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary" slot="end"></ion-icon>
        <!--<ion-button fill="clear" slot="end"><ion-icon name="close"></ion-icon></ion-button>-->
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="userData.showDownloadLink = false">
          Dismiss
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-toolbar>
  <ion-toolbar [ngClass]="{ 'desktop-header-toolbar': platform.width() >= 768 }">
    <ion-menu-toggle menu="main" *ngIf="userData.user" slot="start">
      <ion-button fill="clear" color="grey">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="this.chatService && this.chatService.connectTabBadge" mode="md">{{this.chatService.connectTabBadge}}</ion-badge>
    </ion-menu-toggle>
    <ion-title>News</ion-title>
    <!--add new featured topic-->
    <ion-item lines="none" routerLink="/app/me" *ngIf="userData.user && platform.width() >= 768" slot="end" mode="md" style="--background: transparent">
      <ion-avatar slot="start">
        <ion-img *ngIf="userData.user && userData.user.avatar" [src]="userData.user.avatar"></ion-img>
        <ion-img *ngIf="!userData.user || !userData.user.avatar" src="assets/img/avatar-default.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        {{userData.user.first_name}} {{userData.user.last_name}}
      </ion-label>
    </ion-item>
    <ion-buttons slot="end" *ngIf="!userData.user" color="grey">
      <ion-button routerLink="/register">
        Sign In
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="userData.hasPlatformAdminAccess">
      <ion-button (click)="setupLoadGroups()" id="moreoptions" color="grey">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="newsfeedMoreOptions">
    <div class="moreoptions-container">
      <ion-grid *ngIf="communitiesboards && communitiesboards.length">
        <ion-badge style="margin: 0 auto;">Tap on a topic below to write a post:</ion-badge>
      </ion-grid>
      <ion-grid class="moreoptions-grid" *ngFor="let community of communitiesboards">
        <ion-row class="moreoptions-community-name ion-text-center">{{community.name}}</ion-row>
        <ion-row class="moreoptions-row">
          <ion-col *ngIf="community._id !== '5ab62be8f83e2c1a8d41f894'" class="ion-align-self-center" size-xs="4" size-sm="3" size-md="3" size-lg="2" size-xl="2">
            <ion-item lines="none" (click)="createNewBoard(community)">
              <div class="moreoptions-centered">
                <ion-avatar class="moreoptions-avatar">
                  <ion-img src="assets/img/Campfire_Gray.png"></ion-img>
                </ion-avatar>
                <ion-icon class="moreoptions-joined" color="grey" name="add"></ion-icon>
                <ion-label class="moreoptions-label ion-text-center">Topic</ion-label>
              </div>
            </ion-item>
          </ion-col>
          <ion-col *ngFor="let board of community.boards" class="ion-align-self-center" size-xs="4" size-sm="3" size-md="3" size-lg="2" size-xl="2">
            <ion-item lines="none" (click)="openBoard($event, board, community)">
              <div class="moreoptions-centered">
                <ion-avatar class="moreoptions-avatar">
                  <ion-img [src]="board.background | background: board._id"></ion-img>
                </ion-avatar>
                <ion-icon class="moreoptions-joined" color="tertiary" name="create"></ion-icon>
                <ion-label class="moreoptions-label ion-text-center">{{board.name}}</ion-label>
              </div>
            </ion-item>
          </ion-col>
          <ion-col *ngFor="let topic of community.topics" class="ion-align-self-center" size-xs="4" size-sm="3" size-md="3" size-lg="2" size-xl="2">
            <ion-item lines="none" (click)="showGroupProfile(topic)">
              <div class="moreoptions-centered">
                <ion-avatar class="moreoptions-avatar">
                  <ion-img [src]="topic.background | background: topic._id"></ion-img>
                </ion-avatar>
                <ion-icon class="moreoptions-joined" color="tertiary" *ngIf="topic.joined" name="checkmark"></ion-icon>
                <ion-label class="moreoptions-label ion-text-center">{{topic.name}}</ion-label>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--get new data when page is refreshed-->
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <div *ngFor="let community of communitiesboards">
      <!--<ion-item (click)="showCommunityProfile(community)"  [hidden]="!community.postCount" lines="none" color="grey">
        <div class="community-title">{{community.name}}</div>
      </ion-item>-->
      <div *ngFor="let board of community.boards">
        <ion-row class="ion-justify-content-start">
          <ion-card *ngFor="let post of board.preview_posts" (click)="openPost($event, board, post)">
            <ion-item class="header-container" lines="none">
              <ion-avatar slot="start" (click)="seeUserInfo($event, post.author)">
                <img *ngIf="post.author.avatar" [src]="post.author.avatar"/>
                <img *ngIf="!post.author.avatar" src="assets/img/avatar-default.jpg"/>
              </ion-avatar>
              <div class="author-container">
                <div class="author ion-text-wrap" >
                  {{post.author.first_name}} {{post.author.last_name}}
                  <ion-icon name="alert-circle" *ngIf="post.status === 'review'" color="grey"></ion-icon>
                </div>
                <ion-badge *ngIf="board.group" (click)="openBoard($event, board, community)" color="primary">{{board.name}}</ion-badge>
                <ion-badge color="primary" *ngIf="!board.group">{{board.name}}</ion-badge>
              </div>
              <ion-col slot="end" class="note-col">
                <p class="note ion-text-end">{{post.updatedAt | datetime: 'm:l,d:n,y:n'}}</p>
                <p class="note ion-text-end">{{displayTimeElapsed(post.updatedAt)}}</p>
              </ion-col>
            </ion-item>
            <div class="photo-frame" *ngIf="post.attachments?.length">
              <img class="photo" *ngIf="(['jpg', 'jpeg', 'gif', 'png']).indexOf(post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase()) > -1"  [src]="post.attachments[0]" />
              <a [href]="post.attachments[0]" *ngIf="(['doc', 'docx']).indexOf(post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase()) > -1" target="_blank"><img src="assets/img/docx.svg" /><p>{{post.attachments[0].substring(post.attachments[0].lastIndexOf('/') + 1)}}</p></a>
              <a [href]="post.attachments[0]" *ngIf="(['xls', 'xlsx']).indexOf(post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase()) > -1" target="_blank"><img src="assets/img/xlsx.svg" /><p>{{post.attachments[0].substring(post.attachments[0].lastIndexOf('/') + 1)}}</p></a>
              <a [href]="post.attachments[0]" *ngIf="(['pdf']).indexOf(post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase()) > -1" target="_blank"><img src="assets/img/pdf.svg" /><p>{{post.attachments[0].substring(post.attachments[0].lastIndexOf('/') + 1)}}</p></a>
              <a [href]="post.attachments[0]" *ngIf="(['jpg', 'jpeg', 'gif', 'png', 'doc', 'docx', 'xls', 'xlsx', 'pdf', 'mp4', 'webm', 'ogg', 'mov', 'mp3']).indexOf(post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase()) < 0" target="_blank"><img src="assets/img/file.svg" /><p>{{post.attachments[0].substring(post.attachments[0].lastIndexOf('/') + 1)}}</p></a>
              <div *ngIf="(['mp3']).includes(post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase())" class="video-container" plyr [plyrSources]="[{ 'src': post.attachments[0], 'type': 'audio/' + post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase() }]" [plyrOptions]="resourceService.plyrOptions" (plyrInit)="initPlyr($event, post.attachments[0])" (click)="$event.stopPropagation()" plyrType="audio" [plyrCrossOrigin]="false"></div>
              <div plyr [plyrSources]="[{ 'src': post.attachments[0], 'type': 'video/' + (post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase() === 'mov' ? 'mp4' : post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase()) }]" [plyrOptions]="resourceService.plyrOptions" (plyrInit)="initPlyr($event, post.attachments[0])" *ngIf="(['mp4', 'webm', 'ogg', 'mov']).indexOf(post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase()) > -1" (click)="$event.stopPropagation()"></div>
            </div>
            <div class="photo-frame" *ngIf="post.media?.length" (click)="resourceService.clickVideo($event, post.media[0].sources)">
              <div plyr [plyrSources]="post.media[0].sources" [plyrOptions]="resourceService.plyrOptions" (plyrInit)="initPlyr($event, post.media[0]._id)"></div>
            </div>
            <ion-card-content>
              <p class="short-paragraph" [innerHTML]="post.body | nl2br"></p>
            </ion-card-content>
            <div class="photo-frame" *ngIf="post.moments && post.moments.length && post.moments[0]._id && post.moments[0].resource && ['User Defined Activity','Track','Event','Goal','Meetup'].indexOf(post.moments[0].resource.field) > -1">
              <img class="photo" *ngIf="post.moments[0].assets.length > 0" [src]="post.moments[0].assets[0]">
            </div>
            <ion-item *ngIf="post.moments && post.moments.length && post.moments[0]._id" lines="none">
              <ion-thumbnail *ngIf="['User Defined Activity','Track','Event','Goal','Meetup'].indexOf(post.moments[0].resource.field) > -1 && post.moments[0].resource.hasOwnProperty('en-US') && post.moments[0].resource['en-US'].value[0] !== 'Poll'" slot="start">
                <img [src]="momentService.loadIcon(post.moments[0].resource.field).url" />
              </ion-thumbnail>
              <!--User Defined Activity-->
              <div class="moment ion-text-wrap" *ngIf="post.moments[0].resource && post.moments[0].resource.field === 'User Defined Activity' && post.moments[0].resource.hasOwnProperty('en-US') && post.moments[0].resource['en-US'].value[0] !== 'Poll'" (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].value[0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
              </div>
              <!--Track-->
              <div class="moment ion-text-wrap" *ngIf="post.moments[0].resource && post.moments[0].resource.field === 'Track'" class="ion-text-wrap" (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].matrix_string[0][0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
                <p class="moment-name">{{post.moments[0].matrix_string[0][1]}}</p>
              </div>
              <!--Event-->
              <div class="moment ion-text-wrap" *ngIf="post.moments[0].resource && post.moments[0].resource.field === 'Event'" class="ion-text-wrap" (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].matrix_string[0][0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
                <p class="moment-date" >Date: {{post.moments[0].calendar.startDate | datetime: 'm:l,d:n,y:n'}}</p>
                <p class="moment-name">{{post.moments[0].matrix_string[1][0]}}</p>
              </div>
              <!--Meetup-->
              <div class="moment ion-text-wrap" *ngIf="post.moments[0].resource && post.moments[0].resource.field === 'Meetup'"  (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].matrix_string[0][0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
                <p class="moment-date" >Date: {{post.moments[0].calendar.startDate | datetime: 'm:l,d:n,y:n'}}</p>
                <p class="moment-name">{{post.moments[0].matrix_string[1][0]}}</p>
              </div>
              <!--Goal-->
              <div class="moment ion-text-wrap" *ngIf="post.moments[0].resource && post.moments[0].resource.field === 'Goal'"  (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].matrix_string[0][0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
                <p *ngIf="post.moments[0].calendar" class="moment-date" >Accomplish By: {{post.moments[0].calendar.startDate | datetime: 'm:l,d:n,y:n'}}</p>
                <p class="moment-notes">{{post.moments[0].matrix_string[1][0]}}</p>
              </div>
              <!-- Poll -->
              <div class="moment ion-text-wrap" *ngIf="post.moments[0] && post.moments[0].resource && post.moments[0].resource.field === 'Poll'">
                <p>This poll is no longer available</p>
              </div>
              <div class="moment ion-text-wrap" *ngIf="post.moments[0].resource && post.moments[0].resource.field === 'User Defined Activity' && post.moments[0].resource.hasOwnProperty('en-US') && post.moments[0].resource['en-US'].value[0] === 'Poll'" (click)="openRestvoFeature($event, post.moments[0])">
                <ion-thumbnail class="pollIconDiv">
                  <ion-img class="pollIcon" src="assets/img/Poll_Gray.png"></ion-img>
                </ion-thumbnail>
                <p class="pollQuestion">{{post.moments[0].resource['en-US'].matrix_string[1][1]}}</p>
                <div class="pollContainer" *ngFor="let display of post.poll.display; index as count">
                  <div class="optionsContainer">
                    <p class="option" >{{count+1}}. {{display.option}}</p>
                  </div>
                  <div class="votesContainer">
                    <p class="votecount">Votes: {{display.count}}</p>
                  </div>
                  <div class="userContainer">
                    <ion-icon class="uservoted" *ngIf="display.votedByUser" name="checkmark"></ion-icon>
                    <ion-button size="small" shape="round" fill='solid' color="darkgrey" class="uservote ion-text-wrap" *ngIf="!display.votedByUser" (click)="momentService.submitVote($event, post.moments[0], count)">Cast Vote</ion-button>
                  </div>
                </div>
                <div class="unresolvedPollFooter">
                  <p>{{post.moments[0].resource['en-US'].matrix_string[1][4]}}: {{post.poll.totalVoteCount}}</p>
                  <p>{{post.moments[0].resource['en-US'].matrix_string[1][6]}}: {{post.moments[0].calendar.endDate | datetime: 'h:n,m:n,w:s,m:n,d:n'}}</p>
                </div>
              </div>
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-button fill="clear" size="small" (click)="likePost($event, board, post)">
                  <ion-icon name="thumbs-up" class="ion-margin-end"></ion-icon>
                  {{post.likes?.length}} Likes
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="clear" size="small" (click)="openPost($event, board, post)">
                  <ion-icon name="chatbox-ellipses" class="ion-margin-end"></ion-icon>
                  {{post.comments?.length}} Comments
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button  fill="clear" size="small" (click)="presentPickPeoplePopover($event)">
                  <ion-icon name="share" class="ion-margin-end"></ion-icon>Share</ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
        <ion-buttons class="ion-justify-content-center" *ngIf="board.preview_posts?.length < board.posts?.length">
          <ion-button (click)="loadMorePosts(board)" color="tertiary" size="small">
            Load More from {{board.name}}
          </ion-button>
        </ion-buttons>
        <ion-buttons class="ion-justify-content-center" *ngIf="board.preview_posts?.length === 15">
          <ion-button (click)="openBoard($event, board, community)" color="tertiary" size="small">
            Read More
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </ion-grid>
  <ion-infinite-scroll position="bottom" threshold="30%" (ionInfinite)="listcommunityboardposts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
