app-communityboard {

  ion-header {
    --background: var(--ion-color-secondary);
  }

  ion-button {
    ion-badge {
      position: absolute;
      top: 0.1rem;
      right: 0.1rem;

      & ~ ion-icon {
        outline-color: whitesmoke;
      }
    }
  }

  ion-spinner {
    position: absolute;
    margin: 48%;
  }

  .moreoptions-container {
    max-height: 30vh;
    overflow: scroll;
  }

  .moreoptions-grid {
    animation-name: move-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }
  
  .moreoptions-community-name {
    height: 20px;
    color: grey;
    font-size: 12px;
  }

  @keyframes move-down {
    from {
      transform: translateY(-90px);
    }
    to {
      transform: translateY(0);
    }
  }

  .moreoptions-row {
    //padding: 0 10px;
    width: 100%;
  }

  .moreoptions {
    width: 100%;
  }

  .moreoptions-centered {
    width: 100%;
    height: 65px;
    margin: auto 0 auto 0;

    .moreoptions-avatar {
      margin: 0 auto;
      top: 0
    }

    .moreoptions-joined {
      position: absolute;
      left: 60%;
      top: 28px;
    }

    .moreoptions-label {
      margin: 5px auto 0 auto;
      color: grey;
      font-size: 12px;
    }
  }

  .community-title {
    color: var(--ion-color-secondary);
    font-size: large;
    margin: 0 auto;
  }

  .feed-title {
    color: var(--ion-color-dark);
    font-size: medium;
  }

  ion-card {
    width: 100%;
    max-width: 540px;
  }

  .header-container {
    margin-bottom: 5px;
  }

  .author-container {
    width: 100%;
  }

  .author {
    margin: 10px 0 2px 0;
    display: block;
    width: 100%;
  }

  .note-col {
    height: 100%;
    padding-left: 0;
    margin-left: 3px;
  }

  .note {
    color: lightgrey;
    width: 100%;
    margin: 5px 0 0 0;
  }

  .date {
    margin: 0 0 5px 0;
    width: 100%;
    color: lightgrey;
  }

  .photo-frame {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
  }

  .photo {
    width: 100%;
    height: 100%;
  }

  .short-paragraph {
    max-height: 80px;
    line-height: 20px; /* Height / no. of lines to display */
    overflow: hidden;
  }

  //moments
  .moment {
    width: 95%;
    margin: 5px auto;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-color: #f0f0f0;
    h2, p {
      color: black;
    }
  }

  .moment-image {
    max-height: 20%;
    width: 100%;
    border-radius: 5%;
  }

  .superimposedIcon{
    position: absolute;
    bottom: 50%;
    right: 40%;
    height: 20%;
  }

  .moment-name{
    font-weight: bold;
    width: 100%;
  }

  .moment-date {
    width: 100%;
    font-weight: bold;

  }
  .moment-notes{
    width: 100%;
    font-weight: bold;
  }

  .goalFooter{
    font-style: italic;
    font-weight: lighter;
    text-align: center;
  }


  //Poll message
  .pollIconDiv{
    height: 20%;
    width: 100%;

    .pollIcon{
      height: 1.8em;
      width: 10%;
      margin-left: 45%;
      margin-right: 45%;
    }
  }

  .pollQuestion{
    color: black;
    font-size: medium;
    font-style: italic;
  }

  .pollContainer{
    width: 100%;
    display: inline-block;
    clear: both;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    padding: 2px;
  }

  .optionsContainer{
    float: left;
    width: 60%;
    .option{
      padding-top: 5px;
      float: left;
      font-size: medium;
      //color: #4a90e2;
      font-weight: bold;
    }
  }

  .votesContainer{
    float: left;
    width: 20%;
    .votecount{
      padding-top: 10px;
      color: black;
      font-size: x-small;
    }
  }

  .userContainer{
    float: right;
    width: 20%;
    .uservote{
      margin-top: 15px;
      font-size: x-small;
      width: 90%;
      height: 30px;
      color: black;
    }
    .uservoted{
      padding-top: 20px;
      width: 30%;
      margin: 0 40%;
    }
  }
}

