<ion-header>
  <ion-toolbar *ngIf="modalPage">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{userData.user.churches[userData.currentCommunityIndex].name}}: Groups</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchKeyword" debounce="500" (ionChange)="executeSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let group of groups" (click)="showGroupProfile(group)">
      <ion-avatar slot="start">
        <img *ngIf="group.background" [src]="group.background"/>
        <img *ngIf="!group.background" src="assets/img/group-default.png"/>
      </ion-avatar>
      <ion-label>
        <h2 class="ion-text-wrap">{{group.name}}</h2>
        <p *ngIf="group.conversation">Type: Group</p>
        <p *ngIf="group.board">Type: Topic</p>
        <p class="personnel ion-text-wrap">Leader<span *ngIf="group.leaders?.length > 1">s</span>: <span *ngFor="let leader of group.leaders; index as i"><span *ngIf="i > 0">, </span>{{leader.name}}</span></p>
      </ion-label>
      <ion-badge *ngIf="!group.flagged" slot="end" class="ion-margin-start">{{group.members.length}}{{" member"}}<span *ngIf="group.members?.length >= 2">s</span></ion-badge>
      <ion-badge *ngIf="group.flagged" color="danger" slot="end" class="ion-margin-start">Review Required</ion-badge>
    </ion-item>
    <ion-item-divider class="ion-text-wrap">
      Displaying {{groups.length}} group<span *ngIf="groups.length > 1">s</span>
    </ion-item-divider>
  </ion-list>
  <ion-infinite-scroll position="bottom" (ionInfinite)="infiniteScroll.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-justify-content-end ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
</ion-content>
