app-groupinfo {
  .default-background {
    display: table;
    min-height: 150px;
    background-size: cover;
    width: 100%;
  }

  .default-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2.0em;
    color: #fff;
    -webkit-text-stroke: thin;
    /*    text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;*/
  }

  .leaders-list {
    max-height: 30vh;
  }

  .members-list {
    //max-height: 40vh;
  }
}
