<ion-header *ngIf="chatService.currentChatProps[propIndex]">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="chatService.currentChatProps[propIndex].group.name">{{chatService.currentChatProps[propIndex].group.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event);">
        <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="chatService.currentChatProps[propIndex]">
  <div class="default-background" [ngStyle]="{'background-image': 'url(' + (chatService.currentChatProps[propIndex].group.background | background: chatService.currentChatProps[propIndex].group._id) + ')'}"><!-- [ngClass]="{ 'opaque' : group.hasOwnProperty('background')}">-->
    <div class="default-title" *ngIf="chatService.currentChatProps[propIndex].group.name">
      {{chatService.currentChatProps[propIndex].group.name}}
    </div>
  </div>
  <!--group details-->
  <div class="ion-padding">
    <!--<p *ngIf="(chatService.currentChatProps[propIndex].group.beginAt && chatService.currentChatProps[propIndex].group.endAt)"><ion-icon name="calendar"></ion-icon>&nbsp;{{chatService.currentChatProps[propIndex].group.beginAt | datetime: 'h:n,m:n,w:s,m:n,d:n'}} - {{chatService.currentChatProps[propIndex].group.endAt | datetime: 'h:n,m:n,w:s,m:n,d:n'}}</p>
    <div *ngIf="chatService.currentChatProps[propIndex].group.churchId && chatService.currentChatProps[propIndex].group.meeting_location">
      <p [hidden]="!chatService.currentChatProps[propIndex].group.meeting_location.location"><ion-icon name="pin"></ion-icon>&nbsp;{{chatService.currentChatProps[propIndex].group.meeting_location.location}}</p>
      <p><ion-icon name="pin"></ion-icon>&nbsp;{{chatService.currentChatProps[propIndex].group.meeting_location.street}}<span [hidden]="(chatService.currentChatProps[propIndex].group.meeting_location.street.length==0)">{{", "}}</span>{{chatService.currentChatProps[propIndex].group.meeting_location.city}}<span [hidden]="(chatService.currentChatProps[propIndex].group.meeting_location.city.length==0)||(chatService.currentChatProps[propIndex].group.meeting_location.state.length==0)">{{", "}}</span>{{chatService.currentChatProps[propIndex].group.meeting_location.state}}<span [hidden]="(chatService.currentChatProps[propIndex].group.meeting_location.city.length==0)&&(chatService.currentChatProps[propIndex].group.meeting_location.state.length==0)">&nbsp;</span>{{chatService.currentChatProps[propIndex].group.meeting_location.country}}</p>
    </div>-->
    <p *ngIf="chatService.currentChatProps[propIndex].group.details" [innerHTML]="chatService.currentChatProps[propIndex].group.details | nl2br"></p>
  </div>
  <ion-item lines="none" color="grey" class="ion-margin-vertical">Leaders</ion-item>
  <ion-list class="leaders-list">
    <ion-item *ngFor="let leader of chatService.currentChatProps[propIndex].group.leaders" (click)="seeUserInfo($event, leader)">
      <ion-avatar [ngClass]="{'online': (userData.user && chatService.onlineUsers.indexOf(leader._id) > -1)}" slot="start">
        <ion-img *ngIf="leader.avatar" [src]="leader.avatar"></ion-img>
        <ion-img *ngIf="!leader.avatar" src="assets/img/avatar-default.jpg"></ion-img>
      </ion-avatar>
      {{leader.first_name}} {{leader.last_name}}
    </ion-item>
  </ion-list>
  <ion-row *ngIf="joinGroupTag"><ion-col><ion-button [hidden]="!joinGroupTag" expand="full" shape="round" color="primary" fill="solid" (click)="joinGroup()">Join Group</ion-button></ion-col></ion-row>
  <ion-item lines="none" color="grey" class="ion-margin-vertical">Members</ion-item>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchKeyword" debounce="500" (ionChange)="executeSearch($event)" (ionCancel)="cancelSearch($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-list class="members-list">
    <ion-item *ngFor="let member of members" (click)="seeUserInfo($event, member)">
      <ion-avatar [ngClass]="{'online': (userData.user && chatService.onlineUsers.indexOf(member._id) > -1)}" slot="start">
        <ion-img *ngIf="member.avatar" [src]="member.avatar"></ion-img>
        <ion-img *ngIf="!member.avatar" src="assets/img/avatar-default.jpg"></ion-img>
      </ion-avatar>
      {{member.name}} <span *ngFor="let icon of member.icons"><ion-icon name={{icon}}></ion-icon> </span><ion-badge *ngIf="member.badge">{{member.role}}</ion-badge>
      <ion-icon slot="end" [hidden]="!editMemberTag" name="cog" (click)="editMember($event, member)"></ion-icon>
    </ion-item>
    <div style="margin-top: 20%;"></div>
  </ion-list>
  <ion-infinite-scroll position="bottom" (ionInfinite)="listgroupmembers($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" (click)="addMemberActionSheet()"><ion-icon name="person-add"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
