app-root {

  #main-menu-toolbar {
    cursor: pointer;
  }

  .split-pane-narrow {
    //width: 70%;
    border-right: var(--border);
  }

  #sub-panel {
    //width: 30%;
    position: absolute;
    //left: 70%;
  }

  .main-menu-content {
    --background: var(--ion-color-secondary);
  }

  .title-container {
    padding-top: var(--ion-safe-area-top);
  }

  .title {
    font-weight: bold;
  }

  .split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 77px;
    max-width: 180px;
    border-right: 0; //var(--border);
    border-left: 0;
  }

  .split-pane-ios.split-pane-visible>.split-pane-side {
    min-width: 77px;
    max-width: 180px;
    border-right: 0; //var(--border);
    border-left: 0;
  }

  .menu {
    margin-left: 6px;
    color: black;
  }

  .menu.disabled {
    color: lightgrey;
  }

  #videoSpace {
    background-color: var(--ion-color-secondary);
    border: none;
  }

  .developer-section {
    margin: 5%;
  }

  .menu-panel-select {
    min-width: 100%;
  }

  $segment-button-ios-toolbar-font-size: 0.4rem;
  $segment-button-md-font-size: 0.4rem;


  .list-container {
    overflow: scroll;
    max-height: 400px;
    margin: 0 auto;
    max-width: 400px;
  }

  .feature-thumbnail {
    height: 40px;
    width: 40px;
  }

  .item-container {
    width: 60%;
    margin: 5px;
    float: left;
  }
}
