<ion-app>
  <ion-split-pane contentId="main-app" [when]="userData.splitPaneState" [ngStyle]="{'width': router.url.includes('(sub:') ? ((100 - userData.subpanelWidth) + '%') : '100%'}" [ngClass]="{'split-pane-narrow': router.url.includes('(sub:')}">
    <ion-menu menuId="main" side="start" contentId="main-app" type="overlay" class="main-menu">
      <ion-content class="main-menu-content">
        <ion-toolbar class="title-container" id="main-menu-toolbar">
          <ion-item (click)="openSelectHomePage()" mode="md">
            <ion-label *ngIf="!userData.defaultProgram">Restvo <ion-note><ion-icon name="create-outline"></ion-icon></ion-note></ion-label>
            <ion-label *ngIf="userData.defaultProgram" class="ion-text-wrap">{{userData.defaultProgram.matrix_string[0][0]}} <ion-note><ion-icon name="create-outline"></ion-icon></ion-note></ion-label>
          </ion-item>
        </ion-toolbar>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngIf="userData.defaultProgram && userData.UIAdminMode && (userData.defaultProgram.user_list_2.includes(userData.user._id) || userData.defaultProgram.user_list_3.includes(userData.user._id))">
            <ion-item [routerLink]="['/app/dashboard/insight/' + userData.defaultProgram._id]" mode="md">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="userData.defaultProgram && (!userData.UIAdminMode || (!userData.defaultProgram.user_list_2.includes(userData.user._id) && !userData.defaultProgram.user_list_3.includes(userData.user._id)))">
            <ion-item [routerLink]="['/app/discover/home/' + userData.defaultProgram._id]" mode="md">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="!userData.defaultProgram">
            <ion-item [routerLink]="['/app/discover']" mode="md">
              <ion-icon slot="start" name="discover"></ion-icon>
              <ion-label>Discover</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item id="chat" [routerLink]="['/app/myconversations']" mode="md">
              <ion-icon slot="start" name="chat"></ion-icon>
              <ion-label>Chat</ion-label>
              <ion-badge *ngIf="chatService && chatService.connectTabBadge" slot="end" mode="md">{{chatService.connectTabBadge}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/app/news']" mode="md">
              <ion-icon slot="start" name="news"></ion-icon>
              <ion-label>News</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item id="meDashboard" [routerLink]="['/app/me']" mode="md">
              <ion-icon slot="start" ios="me" md="me"></ion-icon>
              <ion-label>Me</ion-label>
              <ion-badge [color]="userData.UIrestStatus === 'active' ? 'tertiary' : 'primary'" (click)="clickRestToggle($event)" *ngIf="chatService && userData.user">
                {{userData.UIrestStatus}}
              </ion-badge>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item id="userProfileSettings" [routerLink]="['/app/user/profile']" mode="md">
              <ion-icon slot="start" name="new-settings"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item id="inviteLabel" [routerLink]="['/app/invite']" mode="md">
              <ion-icon slot="start" name="invite"></ion-icon>
              <ion-label>Invite</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="userData.activitiesWithAdminAccess && userData.activitiesWithAdminAccess.length">
            <ion-item [routerLink]="['/app/manage/activity/' + userData.currentManageActivityId + '/insight/' + userData.currentManageActivityId]" mode="md">
              <ion-icon slot="start" name="admin"></ion-icon>
              <ion-label>Admin</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <div *ngIf="userData.developerModeClick > 2 || networkService.domain !== 'https://server.restvo.com'">
            <ion-list-header>Developer Mode</ion-list-header>
            <ion-item>
              <ion-label position="stacked">Backend:</ion-label>
              <ion-select [interfaceOptions]="{cssClass: 'level-15'}" class="developer-selector" [(ngModel)]="networkService.domain" (ionChange)="saveToLocalStorage()">
                <ion-select-option value="https://server.restvo.com" class="ion-text-wrap">Production Server</ion-select-option>
                <ion-select-option value="https://server.dev.restvo.com" class="ion-text-wrap">Development Cron Server (4010)</ion-select-option>
                <ion-select-option value="https://server1.dev.restvo.com" class="ion-text-wrap">11 Dev Server (4011)</ion-select-option>
                <ion-select-option value="https://server2.dev.restvo.com" class="ion-text-wrap">12 Dev Server (4012)</ion-select-option>
                <ion-select-option value="https://server3.dev.restvo.com" class="ion-text-wrap">13 Dev Server (4013)</ion-select-option>
                <ion-select-option value="https://server4.dev.restvo.com" class="ion-text-wrap">14 Dev Server (4014)</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <p style="font-size: 12px; color: var(--ion-color-dark)">Address: {{networkService.domain}}</p>
            </ion-item>
          </div>
          <ion-item hidden>
            <ion-label>Online Status</ion-label>
            <ion-select #restSelect [(ngModel)]="userData.UIrestStatus" (ngModelChange)="chatService.toggleRestStatus($event)">
              <ion-select-option value="active">Active</ion-select-option>
              <ion-select-option value="away">Away</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div style="height: 100px;" *ngIf="userData.developerModeClick < 3 && networkService.domain === 'https://server.restvo.com'" (click)="userData.developerModeClick = userData.developerModeClick + 1"></div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-app" [swipeGesture]="false"></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet name="sub" id="sub-panel" [ngStyle]="{'left': router.url.includes('(sub:') ? ((100 - userData.subpanelWidth) + '%') : '100%', 'width': router.url.includes('(sub:') ? (userData.subpanelWidth + '%') : '0'}"></ion-router-outlet>
</ion-app>
