app-editcommunity {

  .default-background {
    display: table;
    min-height: 150px;
    background-size: cover;
    width: 100%;
  }

  .opaque {
    opacity: 0.6;
  }

  .edit-icon {
    width: 32px;
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    padding: 5px;
  }

  .default-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2.0em;
    color: #fff;
    -webkit-text-stroke: thin;
/*    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;*/
  }
}
