app-feature-schedule {

  ion-item ion-datetime{
    position:relative !important;
  }

  .moment-label {
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-right: 20px;
    margin-bottom: auto;
  }

  .moment-input {
    opacity: 0.5;
    padding: 5px 0;
  }

  .side-image {
    margin: auto;
  }

  .monthview {
    width: 85%;
    max-width: 400px;
    margin: 10px auto;
    padding-bottom: 10px;
    --color: var(--ion-color-dark);
  }

  .month-title-container {
    width: 100%;
  }

  .month-title {
    width: calc((100% / 7) * 5);
    text-align: center;
    display: inline-block;
  }

  .calendar-arrow {
    width: calc(100% / 7);
    position: relative;
    display: inline-block;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

  .content-count {
    margin: 0 2px 0 10px;
    min-width: 24px;
  }

  .content-date {
    font-size: 12px;
    padding-left: 2%;
    margin-right: 8px;
    width: 20%;
  }

  // Order

  .program-row {
    max-height: 30%;
    overflow: scroll;
  }

  .program-card {
    width: 133px;
    object-fit: contain;
    margin: 0 3%;
  }

  .program-photo-container {
    height: 80px;
    overflow: hidden;
  }

  .program-photo {
    object-fit: cover;
    cursor: pointer;
    //opacity: 50%;
    height: 100%;
    //width: 100%;
    margin: auto;
    display: block;
    //max-height: 200px;
  }

  .program-type {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 12px;
    cursor: pointer;
  }

  .program-name {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-size: 12px;
    cursor: pointer;
    z-index: 15;
  }

  .remove-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .dark {
    color: var(--ion-color-darkgrey);
  }

  .light {
    color: white;
  }

  .full-height {
    height: 100%;
  }

  .grid-row {
    //align-items: center !important;
    overflow: scroll;
  }

  .selected {
    opacity: 1;
  }

  .info-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .message-label {
    margin: 0 auto;
  }

  .goal-content {
    background: var(--ion-color-secondary);
    margin-left: 15px;
  }

  .goal-content.favorite {
    padding-top: 15px;
  }

  .goal-label {
    --background: var(--ion-color-secondary);
  }

  .more-goal-options {
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .monthview {
    width: 85%;
    max-width: 400px;
    margin: 10px auto;
    padding-bottom: 10px;
    --color: var(--ion-color-dark);
  }

  .month-title-container {
    width: 100%;
  }

  .month-title {
    width: calc((100% / 7) * 5);
    text-align: center;
    display: inline-block;
  }

  .calendar-arrow {
    width: calc(100% / 7);
    position: relative;
    display: inline-block;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

  .monthview-day-headers {
    width: calc(100% / 7);
    float: left;
    position: relative;
    color: var(--ion-color-grey);
    text-align: center;
  }

  .monthview-element {
    width: calc(100% / 7);
    float: left;
    position: relative;
    padding-bottom: calc(100% / 9);
  }

  .monthview-element .monthview-element-content {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    position: absolute;
  }

  .past-calendar-item {
    background-color: var(--ion-color-grey);
  }

  .monthview-dot-container {
    text-align: center;
    display: inline-block;
  }

  .monthview-element-dot {
    height: 5px;
    width: 5px;
    margin: 0px 0.5px 0px 0.5px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
  }

  .underline-datestring {
    text-decoration: underline;
  }

  .selected-date {
    background-color: var(--ion-color-lightgrey);
    border-radius: 50%;
  }
}
