<ion-header >
  <ion-toolbar *ngIf="modalPage">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="grey"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="schedule && !schedule.title">Template</ion-title>
    <ion-title *ngIf="schedule && schedule.title">{{schedule.title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="filter">
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="timeline">Template</ion-segment-button>
      <ion-segment-button value="content" [disabled]="!scheduleId">Content</ion-segment-button>
      <ion-segment-button value="settings" [disabled]="!scheduleId">Settings</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%; width: 100%; position: absolute" *ngIf="!loadCompleted">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <div *ngIf="schedule">
    <ion-list *ngIf="view === 'timeline'">
      <ion-item-group>
        <ion-item lines="none">
          <div class="moment-label"> <img class="side-image" src="assets/img/Calendar_Gray.png"></div>
          <div class="moment-input">Template</div>
          <ion-buttons slot="end" class="ion-no-margin">
            <!--<ion-button (click)="touchSchedule('update schedule')">Save</ion-button>-->
            <ion-button fill="clear" (click)="deleteSchedule()" class="close-button"><ion-icon name="trash" color="grey"></ion-icon></ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item lines="none">
          <ion-input
              label="Name"
              labelPlacement="stacked"
              [(ngModel)]="schedule.title" placeholder="Please Enter Template Name">
          </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="cursor-pointer">Start Date: </ion-label> <!--Start, Choose a date below-->
          <ion-datetime-button datetime="feature-schedule-time1"></ion-datetime-button>
        </ion-item>
        <ion-popover [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="feature-schedule-time1" minuteValues="0,15,30,45" presentation="date-time" [(ngModel)]="schedule.startDate"></ion-datetime>
          </ng-template>
        </ion-popover>
        <ion-item lines="none">
          <ion-label class="cursor-pointer">End Date: </ion-label> <!--Start, Choose a date below-->
          <ion-datetime-button datetime="feature-schedule-time2"></ion-datetime-button>
        </ion-item>
        <ion-popover [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="feature-schedule-time2" minuteValues="0,15,30,45" presentation="date-time" [(ngModel)]="schedule.options.recurrenceEndDate"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item-group>
      <ion-item lines="none">
        <ion-label style="width: 90%" class="ion-margin-left" slot="start">Repeat Frequency</ion-label>
        <ion-select [(ngModel)]="schedule.options.recurrence" slot="end">
          <ion-select-option value=''>None</ion-select-option>
          <!--<ion-select-option value='daily'>Daily</ion-select-option>-->
          <ion-select-option value='weekly'>Weekly</ion-select-option>
          <!--<ion-select-option value='monthly'>Monthly</ion-select-option>
          <ion-select-option value='yearly'>Yearly</ion-select-option>-->
        </ion-select>
      </ion-item>
      <ion-item lines="none" *ngIf="schedule.options.recurrence && schedule.options.recurrence === 'weekly'">
        <ion-label style="width: 90%" class="ion-margin-left" slot="start">Days of the Week</ion-label>
        <ion-select [(ngModel)]="recurrenceByDay" slot="end" [multiple]="true">
          <ion-select-option value='MO'>Monday</ion-select-option>
          <ion-select-option value='TU'>Tuesday</ion-select-option>
          <ion-select-option value='WE'>Wednesday</ion-select-option>
          <ion-select-option value='TH'>Thursday</ion-select-option>
          <ion-select-option value='FR'>Friday</ion-select-option>
          <ion-select-option value='SA'>Saturday</ion-select-option>
          <ion-select-option value='SU'>Sunday</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" *ngIf="schedule.options.recurrence && schedule.options.recurrence.length">
        <ion-label style="width: 90%" class="ion-margin-left" slot="start">Repeat Interval</ion-label>
        <ion-input style="width: 10%; text-align: right" type="number" [placeholder]="1" [max]="200" [(ngModel)]="schedule.options.recurrenceInterval" slot="end"></ion-input>
      </ion-item>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="touchSchedule('create schedule')" *ngIf="!this.schedule._id">
          <span>Create Template</span>
        </ion-button>
        <ion-button (click)="promptTouchSchedule()" *ngIf="this.schedule._id && this.schedule.options.recurrence" shape="round" [hidden]="!includeCalendarItems"> <!--Only available for non-Plan child Activity-->
          <span>Repopulate Timeline</span>
        </ion-button>
        <ion-button (click)="touchSchedule('update schedule')" *ngIf="this.schedule._id" shape="round"  [hidden]="includeCalendarItems"> <!--Only available for non-Plan child Activity-->
          <span>Save</span>
        </ion-button>
      </ion-row>
      <ion-item-divider></ion-item-divider>
      <ion-item *ngIf="this.schedule._id && !timeline.length" [hidden]="!includeCalendarItems">
        <ion-label class="ion-text-center message-label">Your timeline is empty.</ion-label>
      </ion-item>
      <ion-item *ngIf="!this.schedule._id">
        <ion-label class="ion-text-center message-label">Click 'Create Template' to begin.</ion-label>
      </ion-item>
      <div *ngFor="let favoriteGoal of listOfDisplayGoals; trackBy: customTrackBy" [hidden]="(favoriteGoal[1] === 'goal')">
        <!--Favorite Goals-->
        <ion-card mode="md" class="ion-no-padding">
          <ion-card-content class="goal-content favorite ion-no-padding">
            <ion-badge [ngStyle]="{'background': (favoriteGoal[3] | background : { listOfDisplayGoals: listOfDisplayGoals, goal: favoriteGoal } : 'color') }" class="favorite-goal-type">{{resource['en-US'].matrix_string[resource.matrix_number[0].indexOf(10210)][6]}}</ion-badge>
            <ion-item lines="none" class="ion-no-padding ion-margin-end ion-padding-end goal-label">
              <ion-textarea class="ion-margin-start" autoGrow="true" rows="1" [(ngModel)]="favoriteGoal[5]" (ionInput)="touchGoal(favoriteGoal, 'text')" [placeholder]="resource['en-US'].matrix_string[resource.matrix_number[0].indexOf(10210)][6]"></ion-textarea>
            </ion-item>
            <ion-buttons class="more-goal-options" (click)="moreGoalFunctions($event, favoriteGoal)" size="small">
              <ion-button><ion-icon ios="ellipsis-horizontal" md="ellipsis-horizontal" color="darkgrey"></ion-icon></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
        <!--Goals tagged under the Favorite Goal-->
        <div *ngFor="let goal of listOfDisplayGoals; trackBy: customTrackBy">
          <ion-card *ngIf="favoriteGoal[1] === 'master goal' && goal[1] === 'goal' && favoriteGoal[0] === goal[4]" [ngStyle]="{'background': (goal[3] | background : { listOfDisplayGoals: listOfDisplayGoals, goal: goal } : 'color') }" mode="md">
            <ion-card-content class="ion-no-padding goal-content">
              <ion-item lines="none" class="ion-no-padding ion-margin-end ion-padding-end goal-label">
                <ion-textarea class=" ion-margin-start" autoGrow="true" rows="1" [(ngModel)]="goal[5]" (ionInput)="touchGoal(goal, 'text')" placeholder="Goal Name"></ion-textarea>
              </ion-item>
              <ion-buttons class="more-goal-options" (click)="moreGoalFunctions($event, goal)" size="small">
                <ion-button><ion-icon ios="ellipsis-horizontal" md="ellipsis-horizontal" color="darkgrey"></ion-icon></ion-button>
              </ion-buttons>
              <div *ngFor="let calendaritem of timeline; index as j; trackBy: customTrackBy">
                <ion-item class="calendar-item ion-no-padding" *ngIf="calendaritem.goals && calendaritem.goals.includes(goal[0])">
                  <span class="content-count">{{j+1}}.</span>
                  <!--<ion-datetime-button datetime="date" class="content-date ion-text-wrap" [(ngModel)]="calendaritem.startDate" (ngModelChange)="changeContentCalendarItem(calendaritem, 'date')"></ion-datetime-button>-->
                  <ion-label class="content-date ion-text-wrap" >{{calendaritem.startDate | datetime: 'm:l,d:n,y:n'}}</ion-label>
                  <ion-input class="moment-input" type="text" [(ngModel)]="calendaritem.title" (ngModelChange)="changeContentCalendarItem(calendaritem, 'title')" ></ion-input>
                  <ion-buttons slot="end" class="ion-no-margin">
                    <ion-button fill="clear" color="grey" (click)="openContent($event, calendaritem)"><ion-icon name="open-outline"></ion-icon></ion-button>
                    <ion-button fill="clear" color="grey" (click)="promptEditContentCalendar($event, calendaritem)"><ion-icon name="cog"></ion-icon></ion-button>
                    <ion-button fill="clear" (click)="removeTimelineItem($event, programId, calendaritem)" class="close-button" *ngIf="calendaritem._id"><ion-icon name="trash" color="grey"></ion-icon></ion-button>
                  </ion-buttons>
                </ion-item>
              </div>
              <ion-item class="calendar-item ion-no-padding" (click)="addContenCalendar(goal)">
                <span class="content-count"><ion-icon name="add"></ion-icon></span>
                <ion-label class="moment-input" *ngIf="moment && resource">Add New {{(moment.matrix_string[moment.resource.matrix_number[0].indexOf(10210)].length > 2) ? moment.matrix_string[moment.resource.matrix_number[0].indexOf(10210)][2] : resource['en-US'].matrix_string[resource.matrix_number[0].indexOf(10210)][15]}}</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <!--Goals with no valid Favorite Goal Tags-->
      <div *ngFor="let goal of listOfDisplayGoals; trackBy: customTrackBy">
        <ion-card *ngIf="goal[1] === 'goal' && !(null | calendar : 'checkfavoritegoaltag' : { listOfDisplayGoals: listOfDisplayGoals, goal: goal })" [ngStyle]="{'background': (goal[3] | background : { listOfDisplayGoals: listOfDisplayGoals, goal: goal } : 'color') }" mode="md">
          <ion-card-content class="goal-content ion-no-padding">
            <ion-item lines="none" class="ion-no-padding ion-margin-end ion-padding-end goal-label">
              <ion-textarea class="ion-margin-start" autoGrow="true" rows="1" [(ngModel)]="goal[5]" (ionInput)="touchGoal(goal, 'text')" placeholder="Goal Name"></ion-textarea>
            </ion-item>
            <ion-buttons class="more-goal-options" (click)="moreGoalFunctions($event, goal)" size="small">
              <ion-button><ion-icon ios="ellipsis-horizontal" md="ellipsis-horizontal" color="darkgrey"></ion-icon></ion-button>
            </ion-buttons>
            <div *ngFor="let calendaritem of timeline; index as j; trackBy: customTrackBy">
              <ion-item class="calendar-item ion-no-padding" *ngIf="calendaritem.goals && calendaritem.goals.includes(goal[0])">
                <span class="content-count">{{j+1}}.</span>
                <!--<ion-datetime-button datetime="date" class="content-date ion-text-wrap" [(ngModel)]="calendaritem.startDate" (ngModelChange)="changeContentCalendarItem(calendaritem, 'date')"></ion-datetime-button>-->
                <ion-label class="content-date ion-text-wrap" >{{calendaritem.startDate | datetime: 'm:l,d:n,y:n'}}</ion-label>
                <ion-input class="moment-input" type="text" [(ngModel)]="calendaritem.title" (ngModelChange)="changeContentCalendarItem(calendaritem, 'title')" ></ion-input>
                <ion-buttons slot="end" class="ion-no-margin">
                  <ion-button fill="clear" color="grey" (click)="openContent($event, calendaritem)"><ion-icon name="open-outline"></ion-icon></ion-button>
                  <ion-button fill="clear" color="grey" (click)="promptEditContentCalendar($event, calendaritem)"><ion-icon name="cog"></ion-icon></ion-button>
                  <ion-button fill="clear" (click)="removeTimelineItem($event, programId, calendaritem)" class="close-button" *ngIf="calendaritem._id"><ion-icon name="trash" color="grey"></ion-icon></ion-button>
                </ion-buttons>
              </ion-item>
            </div>
            <ion-item class="calendar-item ion-no-padding" (click)="addContenCalendar(goal)">
              <span class="content-count"><ion-icon name="add"></ion-icon></span>
              <ion-label class="moment-input" *ngIf="moment && resource && moment.resource.matrix_number[0].includes(10210)">Add New {{(moment.matrix_string[moment.resource.matrix_number[0].indexOf(10210)].length > 2) ? moment.matrix_string[moment.resource.matrix_number[0].indexOf(10210)][2] : resource['en-US'].matrix_string[resource.matrix_number[0].indexOf(10210)][15]}}</ion-label>
              <ion-label class="moment-input" *ngIf="moment && resource && moment.resource.matrix_number[0].includes(10220)">Add New {{(moment.matrix_string[moment.resource.matrix_number[0].indexOf(10220)].length > 2) ? moment.matrix_string[moment.resource.matrix_number[0].indexOf(10220)][0] : 'Lesson'}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-card mode="md" (click)="promptNewGoalName($event)" [hidden]="!includeCalendarItems">
        <ion-card-content class="goal-content ion-no-padding">
          <ion-item lines="none" class="ion-no-padding ion-margin-end ion-padding-end goal-label">
            <ion-icon name="add"></ion-icon>
            <ion-label class="ion-margin-start" >Add New Section</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <!--Uncategorized-->
      <ion-card style="background: var(--ion-color-lightgrey)" mode="md" *ngIf="loadCompleted && (timeline | calendar: 'calendaritemuncategorized')">
        <ion-card-content class="goal-content overall ion-no-padding">
          <ion-item lines="none" class="ion-no-padding ion-margin-end ion-padding-end goal-label">
            <ion-label class="ion-margin-start" >Uncategorized</ion-label>
          </ion-item>
          <div *ngFor="let calendaritem of timeline; index as j; trackBy: customTrackBy">
            <ion-item class="calendar-item ion-no-padding" *ngIf="!calendaritem.goals.length">
              <span class="content-count">{{j+1}}.</span>
              <!--<ion-datetime-button datetime="date" class="content-date ion-text-wrap" [(ngModel)]="calendaritem.startDate" (ngModelChange)="changeContentCalendarItem(calendaritem, 'date')"></ion-datetime-button>-->
              <ion-label class="content-date ion-text-wrap" >{{calendaritem.startDate | datetime: 'm:l,d:n,y:n'}}</ion-label>
              <ion-input class="moment-input" type="text" [(ngModel)]="calendaritem.title" (ngModelChange)="changeContentCalendarItem(calendaritem, 'title')"></ion-input>
              <ion-buttons slot="end" class="ion-no-margin">
                <ion-button fill="clear" color="grey" (click)="openContent($event, calendaritem)"><ion-icon name="open-outline"></ion-icon></ion-button>
                <ion-button fill="clear" color="grey" (click)="promptEditContentCalendar($event, calendaritem)"><ion-icon name="cog"></ion-icon></ion-button>
                <ion-button fill="clear" (click)="removeTimelineItem($event, programId, calendaritem)" class="close-button" *ngIf="calendaritem._id"><ion-icon name="trash" color="grey"></ion-icon></ion-button>
              </ion-buttons>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-item hidden>
        <ion-label>Assign To</ion-label>
        <ion-select #SelectGoals [(ngModel)]="selectCalendarItem.goals" (ionChange)="assignGoal()" interface="alert" multiple="true" slot="end">
          <ion-select-option *ngFor="let goal of listOfDisplayGoals" [value]="goal[0]" [class.selected]="selectCalendarItem.goals && selectCalendarItem.goals.includes(goal[0])">{{goal[5]}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="view === 'content'">
      <ion-item lines="none">
        <div class="moment-label"><img class="side-image" src="assets/img/Folder_Gray.png"></div>
        <div class="moment-input">{{this.categoryLabel}}</div>
      </ion-item>
      <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchKeyword" debounce="500" placeholder="Search"></ion-searchbar>
      </ion-toolbar>
      <ion-grid class="program-grid">
        <ion-row class="program-row">
          <ion-col class="ion-align-self-center" size="auto">
            <ion-card class="program-card" (click)="addNewContent()" id="create-new-moment">
              <ion-card-header class="ion-no-padding" color="lightgrey">
                <ion-row class="program-photo-container ion-justify-content-center ion-align-items-center">
                  <ion-icon name="add" color="darkgrey"></ion-icon>
                </ion-row>
              </ion-card-header>
              <div class="program-name dark">Add</div>
            </ion-card>
          </ion-col>
          <ion-col class="ion-align-self-center" size="auto" *ngIf="userData.user && ['owner','admin','staff'].includes(userData.user.role)">
            <ion-card class="program-card" (click)="chooseContent({ _id: '5f08b9e831a2da27ef50bc78' })">
              <ion-card-header class="ion-no-padding" color="lightgrey">
                <ion-row class="program-photo-container ion-justify-content-center ion-align-items-center">
                  <ion-icon name="add" color="darkgrey"></ion-icon>
                </ion-row>
              </ion-card-header>
              <div class="program-name dark">Content Placeholder</div>
            </ion-card>
          </ion-col>
          <ion-col class="ion-align-self-center" *ngFor="let content of activities; index as i" size="auto" [hidden]="!((content.matrix_string[0][0].toLowerCase().indexOf(searchKeyword.toLowerCase()) > -1 || content.resource['en-US'].value[0].toLowerCase().indexOf(searchKeyword.toLowerCase()) > -1))">
            <ion-card class="program-card" (click)="defaultContentAction($event, content)">
              <ion-card-header class="ion-no-padding">
                <div class="program-photo-container">
                  <ion-img class="program-photo" [src]="(content.assets && content.assets.length && content.assets[0]) | background: content._id"></ion-img>
                </div>
              </ion-card-header>
              <div class="program-type"><ion-badge color="button1">{{content.resource['en-US'].value[0]}}</ion-badge></div>
              <div class="program-name light">{{content.matrix_string[0][0]}}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item-divider></ion-item-divider>
      <ion-item lines="none">Content List</ion-item>
      <ion-row *ngIf="!timeline.length" class="ion-justify-content-center">
        <p>You have not selected any content yet.</p>
      </ion-row>
      <ion-reorder-group (ionItemReorder)="reorderContents($event)" disabled="false">
        <ion-item *ngFor="let content of schedule.child_moments; let j = index;">
          <ion-reorder slot="start" class="ion-no-margin"><ion-icon name="menu" color="grey"></ion-icon></ion-reorder>
          <div class="content-count">{{j+1}}.</div>
          <ion-badge class="ion-float-start ion-margin-end" *ngIf="content.resource">{{content.resource['en-US'].value[0]}}</ion-badge>
          <!--<ion-input class="moment-input" type="text" [(ngModel)]="content.matrix_string[0][0]" [hidden]="content._id"></ion-input>-->
          <span class="moment-input" *ngIf="content.matrix_string">{{content.matrix_string[0][0]}}</span>
          <ion-buttons slot="end" class="ion-no-margin">
            <ion-button fill="clear" color="grey" (click)="openChildActivity($event, content, 'view')"><ion-icon name="open-outline"></ion-icon></ion-button>
            <ion-button fill="clear" [color]="content.user_list_2 && content.user_list_2.includes(userData.user._id) ? 'grey' : 'lightgrey'" (click)="openChildActivity($event, content, 'edit')" *ngIf="content.user_list_2 && content.user_list_2.includes(userData.user._id) || ['owner', 'admin', 'staff'].includes(userData.user.role)"><ion-icon name="cog"></ion-icon></ion-button>
            <ion-button fill="clear" (click)="removeContent($event, j)" class="close-button"><ion-icon name="trash" color="grey"></ion-icon></ion-button>
          </ion-buttons>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
    <ion-list *ngIf="view === 'settings'">
      <ion-item lines="none">
        <div class="moment-label"><img class="side-image" src="assets/img/Settings_Gray.png"></div>
        <div class="moment-input">Settings</div>
      </ion-item>
      <ion-item-group class="ion-margin-left">
        <ion-item lines="none">
          <ion-label class="ion-margin-left">Prompt Users for Custom Start Date</ion-label>
          <ion-checkbox [(ngModel)]="schedule.array_boolean[0]"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-margin-left">Unique Answers for Each Repeated Content</ion-label>
          <ion-checkbox [(ngModel)]="schedule.array_boolean[1]"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-margin-left">Add to Participant's Timeline</ion-label>
          <ion-checkbox [(ngModel)]="schedule.array_boolean[2]"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-margin-left">Add to Leader's Timeline</ion-label>
          <ion-checkbox [(ngModel)]="schedule.array_boolean[4]"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-margin-left">Add to Admin's Timeline</ion-label>
          <ion-checkbox [(ngModel)]="schedule.array_boolean[3]"></ion-checkbox>
        </ion-item>
        <!--Only Restvo admin sees this setting. Once enabled, this schedule is not shown to regular admin in the Curriculum view-->
        <ion-item lines="none" *ngIf="userData.user && ['owner','admin','staff'].includes(userData.user.role)">
          <ion-label class="ion-margin-left">Store Notes in this Schedule</ion-label>
          <ion-checkbox [(ngModel)]="schedule.array_boolean[5]"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" *ngIf="userData.user && ['owner','admin','staff'].includes(userData.user.role)">
          <ion-label class="ion-margin-left">Show Calendar Items and Goals</ion-label>
          <ion-checkbox [(ngModel)]="includeCalendarItems" (ionChange)="setupSchedulePage()"></ion-checkbox>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
<ion-toolbar *ngIf="view === 'settings'">
  <ion-button expand="block" shape="round" (click)="touchSchedule('update schedule')">Save</ion-button>
</ion-toolbar>
