app-discover {

  ion-title {
    cursor: pointer;
  }

  ion-menu-toggle {
    ion-badge {
      position: relative;
      top: 0.1rem;
      right: 22px;

      /*& ~ ion-icon {
        outline-color: whitesmoke;
      }*/
      z-index: 5;
    }
  }

  ion-content {
    --background: var(--ion-color-lightgrey);
  }

  ion-card {
    width: 100%;
    max-width: 540px;
  }

  .photo-item {
    --size: 100%;
    max-height: 220px;
  }
}
