<ion-header *ngIf="userData" id="discover-header" [ngClass]="{'ion-no-border': platform.width() >= 768 }">
  <ion-toolbar color="lightgrey" *ngIf="(platform.is('mobileweb') && !platform.is('pwa') && (platform.is('ios') || platform.is('android'))) && userData.showDownloadLink">
    <ion-item-sliding side="end">
      <ion-item lines="none"  color="lightgrey">
        <ion-avatar slot="start">
          <ion-img src="assets/img/icon.png"></ion-img>
        </ion-avatar>
        <div class="details" class="ion-text-wrap">
          <a *ngIf="platform.is('ios')" href="https://itunes.apple.com/us/app/restvo-connect-with-churches/id1365903479?ls=1&mt=8" style="font-size: 14px; color: var(--ion-color-button1)">Download app for better experience</a>
          <a *ngIf="platform.is('android')" href="https://play.google.com/store/apps/details?id=com.restvo.app" style="font-size: 14px; color: var(--ion-color-button1)">Download app for better experience</a>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary" slot="end"></ion-icon>
        <!--<ion-button fill="clear" slot="end"><ion-icon name="close"></ion-icon></ion-button>-->
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="userData.showDownloadLink = false">
          Dismiss
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-toolbar>
  <ion-toolbar [ngClass]="{ 'desktop-header-toolbar': platform.width() >= 768 }" *ngIf="!(mobileSearchBarVisible && (platform.width() < 768))">
    <ion-menu-toggle slot="start" menu="main" id="dashboard-menu-toggle">
      <ion-button fill="clear" color="grey">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="this.chatService && this.chatService.connectTabBadge" mode="md">{{this.chatService.connectTabBadge}}</ion-badge>
    </ion-menu-toggle>
    <ion-title>Discover</ion-title>
    <ion-buttons slot="end">
      <ion-button id="signin" *ngIf="!authService.token" (click)="openRegister(0, '')">
        <ion-text>Sign In</ion-text>
      </ion-button>
      <ion-button *ngIf="platform.width() < 768" (click)="mobileSearchBarVisible = !mobileSearchBarVisible" fill="clear" color="grey">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" routerLink="/app/me" *ngIf="authService.token && userData.user && platform.width() >= 768" slot="end" mode="md" style="--background: transparent">
      <ion-avatar slot="start">
        <ion-img *ngIf="userData.user && userData.user.avatar" [src]="userData.user.avatar"></ion-img>
        <ion-img *ngIf="!userData.user || !userData.user.avatar" src="assets/img/avatar-default.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        {{userData.user.first_name}} {{userData.user.last_name}}
      </ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar *ngIf="mobileSearchBarVisible">
    <ion-searchbar [(ngModel)]="searchKeyword" debounce="500" value=""></ion-searchbar>
    <ion-button slot="end" fill="clear" color="grey" (click)="mobileSearchBarVisible = !mobileSearchBarVisible; searchKeyword = ''">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-card *ngFor="let sample of samples; index as i" (click)="selectSample(sample)" [hidden]="!(sample.matrix_string[0][0].toLowerCase().includes(searchKeyword) || sample.parent_programs[0].matrix_string[0][0].toLowerCase().includes(searchKeyword))">
        <ion-card-content class="ion-no-padding">
          <ion-thumbnail class="photo-item">
            <ion-img [src]="(sample.assets && sample.assets.length && sample.assets[0]) | background: sample._id"></ion-img>
          </ion-thumbnail>
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>{{sample.matrix_string[0][0]}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{sample.parent_programs[0].matrix_string[0][0]}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        All
      </ion-fab-button>
      <ion-fab-button>
        Individual
      </ion-fab-button>
      <ion-fab-button>
        Group
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
