app-discover {

  ion-title {
    cursor: pointer;
  }

  ion-menu-toggle {
    ion-badge {
      position: relative;
      top: 0.1rem;
      right: 22px;

      /*& ~ ion-icon {
        outline-color: whitesmoke;
      }*/
      z-index: 5;
    }
  }

  ion-content {
    --background: var(--ion-color-lightgrey);
  }

  ion-card-title {
    font-size: 20px;
  }

  ion-card {
    width: 100%;
    max-width: 540px;
  }

  .photo-item {
    width: 100%;
    --size: 220px;
  }

  .fab-list-side-top {
    --box-shadow: 0 5px 15px rgba(0,0,0,.15);
  }

  .fab-button-in-list {
    width: 150px;
    font-size: 16px;
    transform: translateX(-44px);
    margin: 0;
    --border-radius: 0;
    --box-shadow: none;
    --background: white;
    --color: black;
  }

  .filter-button {
    width: 125px;
    --border-radius: 30px;
    font-size: 12px;
    transform: translateX(-33px);
  }

  .first-button {
    --border-radius: 0 0 10px 10px;
  }

  .last-button {
    --border-radius: 10px 10px 0 0;
  }
}
