<ion-header *ngIf="modalPage">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(false)"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="resource && resource._id && moment.resource && moment.resource.field">{{moment.matrix_string[0][0]}}: Billing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="resource && resource._id && moment.resource && moment.resource.field">
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-justify-content-start ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Estimated Monthly Total
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="resource">
      <h2 class="ion-text-center">{{(community_participants.length/50).toFixed(0)*50 + 1}} - {{(community_participants.length/50 + 1).toFixed(0)*50}} growth users (currently {{community_participants.length}}) = ${{(community_participants.length/50 + 1).toFixed(0)*subscriptionResource.matrix_number[1][0]}}</h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Current Amount
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="resource">
      <h2 class="ion-text-center" *ngIf="moment.subscription === 'Free - Monthly'">$0, per month</h2>
      <h2 class="ion-text-center" *ngIf="moment.subscription === 'Plus - Monthly'">$40, per month</h2>
      <h2 class="ion-text-center" *ngIf="moment.subscription === 'Plus - Yearly'">$320, per year</h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Payment Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let source of sources">
        <ion-item>
          <ion-label slot="start">Card Type</ion-label>
          <p slot="end">{{source.card.brand}}</p>
        </ion-item>
        <ion-item>
          <ion-label slot="start">Last 4 Digits</ion-label>
          <p slot="end">{{source.card.last4}}</p>
        </ion-item>
        <ion-item>
          <ion-label slot="start">Expiration Date</ion-label>
          <p slot="end">{{source.card.exp_month}}/{{source.card.exp_year}}</p>
        </ion-item>
      </div>
    </ion-card-content>
    <ion-row *ngIf="!updatePayment">
      <ion-col>
        <ion-button color="primary" shape="round" fill="solid" expand="block" (click)="updatePaymentMethod()">Change Payment Information</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card [hidden]="!updatePayment">
    <form [formGroup]="billingForm">
      <ion-card-header>
        <ion-card-title>Update Payment Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div [id]=stripeElementName class="field"></div>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input autocomplete="on" type="text" formControlName="name" placeholder="Jane Doe"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input autocomplete="on" type="email" formControlName="email" placeholder="jane@restvo.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Street</ion-label>
          <ion-input autocomplete="on" type="text" formControlName="line1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">City</ion-label>
          <ion-input autocomplete="on" type="text" formControlName="city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">State</ion-label>
          <ion-input autocomplete="on" type="text" formControlName="state"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Zip/Postal Code</ion-label>
          <ion-input autocomplete="on" type="text" formControlName="postal_code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Country</ion-label>
          <ion-select [interfaceOptions]="{cssClass: 'level-15'}" formControlName="country">
            <ion-select-option value="US" [class.selected]='true'>United States</ion-select-option>
            <ion-select-option value="AU">Australia</ion-select-option>
            <ion-select-option value="AT">Austria</ion-select-option>
            <ion-select-option value="BE">Belgium</ion-select-option>
            <ion-select-option value="BR">Brazil</ion-select-option>
            <ion-select-option value="CA">Canada</ion-select-option>
            <ion-select-option value="CN">China</ion-select-option>
            <ion-select-option value="DK">Denmark</ion-select-option>
            <ion-select-option value="FI">Finland</ion-select-option>
            <ion-select-option value="FR">France</ion-select-option>
            <ion-select-option value="DE">Germany</ion-select-option>
            <ion-select-option value="HK">Hong Kong</ion-select-option>
            <ion-select-option value="IE">Ireland</ion-select-option>
            <ion-select-option value="IT">Italy</ion-select-option>
            <ion-select-option value="JP">Japan</ion-select-option>
            <ion-select-option value="LU">Luxembourg</ion-select-option>
            <ion-select-option value="MX">Mexico</ion-select-option>
            <ion-select-option value="NL">Netherlands</ion-select-option>
            <ion-select-option value="NZ">New Zealand</ion-select-option>
            <ion-select-option value="NO">Norway</ion-select-option>
            <ion-select-option value="PT">Portugal</ion-select-option>
            <ion-select-option value="SG">Singapore</ion-select-option>
            <ion-select-option value="ES">Spain</ion-select-option>
            <ion-select-option value="SE">Sweden</ion-select-option>
            <ion-select-option value="CH">Switzerland</ion-select-option>
            <ion-select-option value="GB">United Kingdom</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </form>
    <div class="ion-margin">* I authorise Restvo to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of my agreement with you.</div>
    <ion-row>
      <ion-col>
        <ion-button color="primary" shape="round" fill="solid" expand="block" (click)="submitBillingMethod()" [disabled]="!billingForm.valid">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Billing History</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table>
        <thead>
        <tr>
          <th>Invoice Number</th>
          <th>Plan</th>
          <th>Total &nbsp;</th>
          <th>Due &nbsp;</th>
          <th>Created</th>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        </thead>
        <tbody *ngIf="invoices.length">
        <tr *ngFor="let invoice of invoices">
          <td>
            <p>{{invoice.number}} &nbsp;&nbsp;</p>
          </td>
          <td>
            <p>{{invoice.lines.data[0].description}} &nbsp;</p>
          </td>
          <td>
            <p>${{invoice.total/100}} {{invoice.currency.toUpperCase()}} &nbsp;</p>
          </td>
          <td>
            <p>${{invoice.amount_due/100}} {{invoice.currency.toUpperCase()}} &nbsp;</p>
          </td>
          <td>
            <p>{{invoice.created*1000 | datetime: 'm:l,d:n,y:n'}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </ion-card-content>
    <ion-row *ngIf="invoices.length">
      <ion-col>
        <ion-button color="primary" shape="round" fill="solid" expand="block" (click)="listInvoices('next')">Show More</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
