app-settings {

  ion-content {
    display: flex;
    flex-direction: column;
  }

  .delete-button {
    color: var(--ion-color-primary);
    text-decoration: underline;
    background: none;
    border: none;
    font-size: 15px;
    word-wrap: break-word;
  }

  .section-title {
    color: white;
    --background: var(--ion-color-grey);
    text-align: left;
    font-size: large;
  }

  .security-button {
    background-color: var(--ion-color-grey);
  }

}



