app-pickpeople-popover {

  ion-card-title {
    font-size: 18px;
  }

  .card-description {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .full-height {
    height: 100%;
  }

  .grid-row {
    //align-items: center !important;
    overflow: scroll;
  }

  .selected-buttons {
    display: block;
    max-height: 60px;
    overflow-y: scroll;
    width: 100%;
    padding: 0 5px;
  }

  .avatar {
    width: 40px !important;
    height : 40px !important;
    object-fit: cover;
  }
}