<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="grey"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons id="done" slot="end">
      <ion-button *ngIf="shareLink" (click)="share()" color="grey"><ion-icon name="share"></ion-icon></ion-button>
      <ion-button (click)="submitPeople()" color="grey">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #searchbar [(ngModel)]="searchKeyword" (ionChange)="executeSearch($event)" (ionCancel)="cancelSearch($event)" [placeholder]="action" debounce="500"></ion-searchbar>
    <!--Add Friends-->
    <div class="selected-buttons">
      <ion-button *ngFor="let obj of selectedConversations" size="small" color="primary" (click)="unselectFriend(obj)" ><span *ngIf="(filter === 'connect' || filter === 'both') && (obj.conversation.type === 'connect' || obj.conversation.type === 'self')">{{obj.data.name}}</span><span *ngIf="(filter === 'group' || filter === 'both') && obj.conversation.type === 'group'">{{obj.conversation.group.name}}</span><ion-icon [hidden]="obj.locked" name="close-circle" style="margin-left: 5px;"></ion-icon></ion-button>
      <ion-button size="small" *ngFor="let person of selectedAppUsers" (click)="unselectAppUser(person)">{{person.name}}<ion-icon name="close-circle" style="margin-left: 5px;"></ion-icon></ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header *ngIf="hasOrganizerAccess">Friends</ion-list-header>
    <ion-item (click)="selectFriend(this.selfConversationObj)" *ngIf="selfConversationObj && includeSelf && (userData.user.first_name + ' ' + userData.user.last_name).toLowerCase().includes(searchKeyword.toLowerCase())">
      <ion-avatar slot="start">
        <ion-img *ngIf="userData.user.avatar" [src]="userData.user.avatar"></ion-img>
        <ion-img *ngIf="!userData.user.avatar" src="assets/img/avatar-default.jpg"></ion-img>
      </ion-avatar>
      {{userData.user.first_name}} {{userData.user.last_name}}
      <ion-icon slot="end" color="tertiary" *ngIf="!this.selfConversationObj.select" name="radio-button-off"></ion-icon>
      <ion-icon slot="end" color="tertiary" *ngIf="this.selfConversationObj.select" name="checkmark-circle"></ion-icon>
    </ion-item>
    <ion-virtual-scroll [items]="conversations" approxItemHeight="60px">
      <div *virtualItem="let obj">
        <ion-item (click)="selectFriend(obj)" *ngIf="(filter === 'connect' || filter === 'both') && (obj.conversation.type === 'connect')">
          <ion-avatar slot="start">
            <ion-img *ngIf="obj.data.participant.avatar" [src]="obj.data.participant.avatar"></ion-img>
            <ion-img *ngIf="!obj.data.participant.avatar" src="assets/img/avatar-default.jpg"></ion-img>
          </ion-avatar>
          {{obj.data.name}}
          <ion-icon slot="end" color="tertiary" *ngIf="!obj.select" name="radio-button-off"></ion-icon>
          <ion-icon slot="end" color="tertiary" *ngIf="obj.select" name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item (click)="selectFriend(obj)" *ngIf="(filter === 'group' || filter === 'both') && obj.conversation.type === 'group'">
          <ion-avatar slot="start">
            <img *ngIf="obj.conversation.group.background" [src]="obj.conversation.group.background"/>
            <img *ngIf="!obj.conversation.group.background" src="assets/img/group-default.png"/>
          </ion-avatar>
          {{obj.conversation.group.name}}
          <ion-icon slot="end" color="tertiary" *ngIf="!obj.select" name="radio-button-off"></ion-icon>
          <ion-icon slot="end" color="tertiary" *ngIf="obj.select" name="checkmark-circle"></ion-icon>
        </ion-item>
      </div>
    </ion-virtual-scroll>
    <ion-list-header *ngIf="hasOrganizerAccess">{{userData.user.churches[userData.currentCommunityIndex].name}}</ion-list-header>
    <ion-list *ngIf="hasOrganizerAccess">
      <ion-item [id]="person.name == 'Asia Ho' ? 'user-select' : ''" *ngFor="let person of listOfAppUsers; trackBy: customTrackBy" (click)="selectAppUser(person)">
        <ion-avatar slot="start">
          <ion-img *ngIf="person.avatar" [src]="person.avatar"></ion-img>
          <ion-img *ngIf="!person.avatar" src="assets/img/avatar-default.jpg"></ion-img>
        </ion-avatar>
        {{person.name}}
        <ion-icon color="button1" *ngIf="!person.select" name="radio-button-off" slot="end"></ion-icon>
        <ion-icon color="button1" *ngIf="person.select" name="checkmark-circle" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll position="bottom" (ionInfinite)="loadMoreAppUsers($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
