<ion-header>
  <ion-toolbar *ngIf="modalPage || view === '2'">
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{this.categoryLabel}}<span [hidden]="view === '2'">s</span></ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="activities && view === '1'"> <!--Show always except in Plans-->
    <ion-list>
      <ion-item lines="none">
        <ion-searchbar [(ngModel)]="searchKeyword" debounce="500" (ionChange)="renderUniqueParticipantList()" (ionCancel)="renderUniqueParticipantList()" placeholder="Search"></ion-searchbar>
      </ion-item>
      <ion-item *ngIf="selectedActivities.length" lines="none">
        <ion-label>{{selectedActivities.length}} Selected</ion-label>
        <ion-button slot="end" (click)="multiSelectAction('Archive')" *ngIf="['owner', 'admin', 'staff'].includes(this.userData.user.role)">{{this.resourceService.resource['en-US'].value[44]}}</ion-button> <!--Archive for Staff-->
        <ion-button slot="end" (click)="multiSelectAction('Delete')" *ngIf="['owner', 'admin', 'staff'].includes(this.userData.user.role)">{{resourceService.resource['en-US'].value[19]}}</ion-button> <!--Delete for Staff-->
        <ion-button slot="end" (click)="multiSelectAction('Archive')" *ngIf="!['owner', 'admin', 'staff'].includes(this.userData.user.role)">{{resourceService.resource['en-US'].value[19]}}</ion-button> <!--Archive for General User, the label says Delete-->
      </ion-item>
      <ion-item [ngStyle]="{'font-size': platform.width() < 400 ? '11px' : '14px'}" lines="none">
        <div class="select-col"></div>
        <div class="user-col column-label" (click)="sortDisplay('activity')">{{this.categoryLabel}}<ion-icon [name]="activityAscending === true ? 'chevron-down-outline' : 'chevron-up-outline'"></ion-icon></div>
        <div class="status-col column-label" (click)="sortDisplay('share')">Sharing<ion-icon [name]="shareAscending === true ? 'chevron-down-outline' : 'chevron-up-outline'"></ion-icon></div>
        <div class="actions-col column-label">Action</div>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%; width: 100%; position: absolute" *ngIf="ionSpinner">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="view === '1'">
    <ion-item *ngFor="let activity of activities; index as i" [ngStyle]="{'opacity': activity.deletedAt ? '0.5' : '1'}" (click)="openChildActivity($event, activity, 'view')" [hidden]="!((activity.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || activity.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase())))">
      <ion-buttons class="select-col">
        <ion-button (click)="selectActivity($event, activity)" fill="clear" *ngIf="!activity.select">
          <ion-icon color="tertiary" name="radio-button-off"></ion-icon>
        </ion-button>
        <ion-button (click)="unselectActivity($event, activity)" fill="clear" *ngIf="activity.select" >
          <ion-icon color="tertiary" name="checkmark-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="user-col" *ngIf="platform.width() < 992">
        <ion-avatar class="user-avatar">
          <ion-img [src]="(activity.assets && activity.assets.length && activity.assets[0]) | background: activity._id"></ion-img>
        </ion-avatar>
        <ion-label class="name-label ion-text-center ion-text-wrap">
          {{activity.matrix_string[0][0]}} <span *ngIf="activity.deletedAt">(Deleted)</span>
        </ion-label>
      </div>
      <div class="avatar-col" *ngIf="platform.width() >= 992">
        <ion-avatar class="user-avatar">
          <ion-img [src]="(activity.assets && activity.assets.length && activity.assets[0]) | background: activity._id"></ion-img>
        </ion-avatar>
      </div>
      <div class="name-col" *ngIf="platform.width() >= 992">
        <ion-label class="name-label ion-text-wrap">
          {{activity.matrix_string[0][0]}} <span *ngIf="activity.deletedAt">(Deleted)</span>
        </ion-label>
      </div>
      <div class="ion-text-wrap status-col column-label" style="font-size: 8px">
        <span *ngIf="activity.array_boolean[0]">Discoverable</span>
        <span *ngIf="activity.array_boolean[0] && activity.array_boolean[1]">/</span>
        <span *ngIf="activity.array_boolean[1]">Template</span>
      </div>
      <ion-buttons class="actions-col ion-justify-content-evenly">
        <ion-button (click)="openChildActivity($event, activity, 'manage')" fill="clear"><ion-icon name="key-outline"></ion-icon></ion-button>
        <ion-button (click)="openChildActivity($event, activity, 'edit')" fill="clear"><ion-icon name="build-outline"></ion-icon></ion-button>
        <ion-button (click)="$event.stopPropagation(); chatService.openChat({ conversationId: moment.conversation, moment: activity, subpanel: this.platform.width() >= 768 })" fill="clear"><ion-icon name="chatbubbles-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="view === '1'">
    <ion-row class="grid-row">
      <ion-col size-xs="6" class="ion-align-items-center">
        <ion-card class="category-card" mode="md" (click)="view = '2'" [ngStyle]="{'height': platform.width() >= 768 ? '300px' : '215px'}">
          <ion-card-content>
            <img style="margin-bottom: 5px;" src="assets/img/plan.svg" alt="Create Plan Icon">
            <br>
            <strong>Create your {{categoryLabel}}</strong>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="6" class="ion-align-items-center">
        <ion-card class="category-card" mode="md" (click)="chooseFromMarketplace()" [ngStyle]="{'height': platform.width() >= 768 ? '300px' : '215px'}">
          <ion-card-content>
            <img style="margin-bottom: 5px;" src="assets/img/template.svg" alt="Select Template Icon">
            <br>
            <strong>Select from templates</strong>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--In the create step, show a form to collect basic info about a new Activity-->
  <ion-card *ngIf="view === '2'">
    <ion-grid class="full-height">
      <ion-row class="ion-justify-content-center ion-align-items-center full-height form-container">
        <ion-col>
          <ion-item lines="none">
            <div class="moment-label" slot="start">Create Your Own {{categoryLabel}}</div>
          </ion-item>
          <ion-item class="ion-margin-vertical">
            <ion-label position="stacked">{{categoryLabel}} Name</ion-label>
            <ion-input class="ion-text-start" type="text" [(ngModel)]="newActivityName" placeholder="Type a name here" (ionFocus)="loadSample()"></ion-input>
          </ion-item>
          <ion-row class="ion-margin-vertical">
            <ion-button style="width: 100%;" [disabled]="!newActivityName || !selectedSample" expand="full" shape="round" (click)="createActivity()">
              <div>Create new {{categoryLabel}}</div>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
