app-feature-childactivities {

  .column-label {
    text-align: center;
  }

  .select-col {
    width: 8%;
  }

  .user-col {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
  }

  .avatar-col {
    width: 10%
  }

  .name-col {
    width: 30%;
  }

  .user-avatar {
    margin: auto;
    height: 40px;
    width: 40px;
  }

  .name-label {
    margin: 5px auto 0 auto;
    color: grey;
    font-size: 12px;
  }

  .status-col {
    width: 20%;
  }

  .actions-col {
    width: 30%;
  }

  .remove-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .dark {
    color: var(--ion-color-darkgrey);
  }

  .light {
    color: white;
  }

  .full-height {
    height: 100%;
  }

  .grid-row {
    overflow: scroll;
  }

  .selected {
    opacity: 1;
  }

  .info-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
