<ion-header>
  <ion-toolbar *ngIf="modalPage">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchKeyword" debounce="500" (ionChange)="executeSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let activity of activities" (click)="showActivity(activity)">
      <ion-thumbnail slot="start">
        <img *ngIf="activity.images.length && activity.images[0]" [src]="activity.images[0]"/>
        <img *ngIf="!activity.images.length || !activity.images[0]" src="assets/img/group-default.png"/>
      </ion-thumbnail>
      <ion-label>
        <h2 class="ion-text-wrap">{{activity.name}}</h2>
      </ion-label>
      <ion-badge color="primary" *ngIf="activity.moment && activity.moment.array_boolean && activity.moment.array_boolean.length > 1 && activity.moment.array_boolean[1]">Marketplace</ion-badge>
      <ion-badge color="grey" *ngIf="!(activity.moment && activity.moment.array_boolean && activity.moment.array_boolean.length > 1 && activity.moment.array_boolean[1])">Private</ion-badge>
    </ion-item>
    <ion-item-divider class="ion-text-wrap">
      Displaying {{activities.length}}&nbsp;<span *ngIf="activities.length <= 1"> activity</span><span *ngIf="activities.length > 1"> activities</span>
    </ion-item-divider>
  </ion-list>
  <ion-infinite-scroll position="bottom" (ionInfinite)="manageMoreActivities($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
</ion-content>
