<ion-header>
  <ion-toolbar *ngIf="modalPage">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="grey"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchKeyword" debounce="500" (ionChange)="executeSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let activity of activities" (click)="showActivity(activity)">
      <ion-avatar slot="start">
        <ion-img *ngIf="activity.assets.length && activity.assets[0]" [src]="activity.assets[0]"></ion-img>
        <ion-img *ngIf="!activity.assets.length || !activity.assets[0]" src="assets/img/group-default.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2 class="ion-text-wrap">{{activity.matrix_string[0][0]}} <span *ngIf="activity.deletedAt">(Deleted)</span></h2>
      </ion-label>

      <ion-label>{{activity.createdAt | datetime: 'm:l,d:n,y:n'}}</ion-label>
      <ion-badge color="primary" *ngIf="activity.array_boolean && (activity.array_boolean.length > 1) && activity.array_boolean[1]">Marketplace</ion-badge>
      <ion-badge color="grey" *ngIf="!(activity.array_boolean && (activity.array_boolean.length > 1) && activity.array_boolean[1])">Private</ion-badge>
    </ion-item>
    <ion-item-divider class="ion-text-wrap">
      Displaying {{activities.length}}&nbsp;<span *ngIf="activities.length <= 1"> activity</span><span *ngIf="activities.length > 1"> activities</span>
    </ion-item-divider>
  </ion-list>
  <ion-infinite-scroll position="bottom" (ionInfinite)="manageMoreActivities($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
</ion-content>
