<ion-header id="pickfeature-header" [ngClass]="{'ion-no-border': platform.width() >= 768 }">
  <ion-toolbar [ngClass]="{ 'desktop-header-toolbar': platform.width() >= 768 }">
    <ion-buttons slot="start">
      <ion-button (click)="back()" id="back-button" color="grey" *ngIf="!subpanel">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="userData.subpanelWidth = 50" color="grey" *ngIf="subpanel && userData.subpanelWidth < 50">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="userData.subpanelWidth = 30" color="grey" *ngIf="subpanel && userData.subpanelWidth > 30">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="step < 1">{{title}}</ion-title>
    <ion-title *ngIf="step === 1 && currentView === 'new'">Choose a Template</ion-title>
    <div *ngIf="step === 1 && currentView === 'recent'">
      <ion-title *ngIf="selectedCategoryId === '5e9f46e1c8bf1a622fec69d5'">Choose a Journey</ion-title>
      <ion-title *ngIf="selectedCategoryId === '5e9fe372c8bf1a622fec69d8'">Choose a Mentoring Relationship</ion-title>
      <ion-title *ngIf="selectedCategoryId === '5e9fe35cc8bf1a622fec69d7'">Choose a Group</ion-title>
      <ion-title *ngIf="selectedCategoryId === '5c915475e172e4e64590e348'">Choose a Program</ion-title>
      <ion-title *ngIf="selectedCategoryId === '5c915324e172e4e64590e346'">Choose a Community</ion-title>
      <ion-title *ngIf="selectedCategoryId === '5e1bbda67b00ea76b75e5a73'">Choose a Content</ion-title>
      <ion-title *ngIf="selectedCategoryId === '5e17acd47b00ea76b75e5a71'">Choose an Onboarding Process</ion-title>
      <ion-title *ngIf="!selectedCategoryId">Choose from Available Templates</ion-title>
    </div>

    <ion-title *ngIf="step > 1">{{selectedMoments[0].matrix_string[0][0]}}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="this.close()" [hidden]="!subpanel" color="grey"> <!--close subpanel-->
              <ion-icon name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 1" [ngClass]="{ 'desktop-header-toolbar': platform.width() >= 768 }">
    <ion-searchbar [(ngModel)]="searchKeyword" (ionChange)="executeSearch($event)" (ionCancel)="cancelSearch($event)" debounce="500" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="filter" *ngIf="step === 1" [ngClass]="{ 'desktop-header-toolbar': platform.width() >= 768 }">
    <ion-segment [(ngModel)]="currentView">
      <ion-segment-button value="new">Templates</ion-segment-button>
      <ion-segment-button value="recent">Recent</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center ion-padding-vertical" [ngClass]="{'full-height': platform.width() >= 768 }" *ngIf="step === 0">
    <ion-grid>
      <ion-row>
        <ion-label class="ion-margin-start">Choose One:</ion-label>
      </ion-row>
      <ion-row class="ion-justify-content-start">
        <ion-col size="auto">
          <ion-card class="category-card" mode="md" (click)="selectedCategoryId = '5e9f46e1c8bf1a622fec69d5'" [ngClass]="{'selected': selectedCategoryId === '5e9f46e1c8bf1a622fec69d5'}">
            <ion-card-header>
              <ion-card-title>Journey</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <li>Embark on a Journey of Growth</li>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="auto">
          <ion-card class="category-card" mode="md" (click)="selectedCategoryId = '5e9fe372c8bf1a622fec69d8'" [ngClass]="{'selected': selectedCategoryId === '5e9fe372c8bf1a622fec69d8'}">
            <ion-card-header>
              <ion-card-title>Mentoring</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <li>Grow with the Guidance from a Mentor</li>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="auto">
          <ion-card class="category-card" mode="md" (click)="selectedCategoryId = '5e9fe35cc8bf1a622fec69d7'" [ngClass]="{'selected': selectedCategoryId === '5e9fe35cc8bf1a622fec69d7'}">
            <ion-card-header>
              <ion-card-title>Group</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <li>Learn and Grow with a Group</li>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="auto">
          <ion-card class="category-card" mode="md" (click)="selectedCategoryId = '5c915475e172e4e64590e348'" [ngClass]="{'selected': selectedCategoryId === '5c915475e172e4e64590e348'}">
            <ion-card-header>
              <ion-card-title>Program</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <li>Manages Journeys, Mentors, and Groups</li>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="auto">
          <ion-card class="category-card" mode="md" (click)="selectedCategoryId = '5c915324e172e4e64590e346'" [ngClass]="{'selected': selectedCategoryId === '5c915324e172e4e64590e346'}">
            <ion-card-header>
              <ion-card-title>Community</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <li>Manages Users, Account, and Billing</li>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
  <div *ngIf="step === 1">
    <div *ngIf="currentView === 'new'" class="new-section">
        <!--<ion-label class="program-title ion-margin" *ngIf="(selectedCategoryId !== '5e17acd47b00ea76b75e5a71') && parent.matrix_string">{{parent.matrix_string[0][0]}}</ion-label>-->
        <ion-grid class="program-grid">
          <ion-row class="program-row ion-justify-content-start">
            <ion-col *ngIf="allowCreate" class="ion-align-self-center" size="auto">
              <ion-card class="program-card" (click)="createMoment()" id="create-new-moment">
                <ion-card-header class="ion-no-padding" color="lightgrey">
                  <ion-row class="program-photo-container ion-justify-content-center ion-align-items-center">
                    <ion-icon name="add" color="darkgrey"></ion-icon>
                  </ion-row>
                </ion-card-header>
                <div class="program-name dark">Create</div>
              </ion-card>
            </ion-col>
            <ion-col class="ion-align-self-center" *ngFor="let sample of samples; index as i" size="auto" [hidden]="!(sample.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || sample.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase()))">
              <ion-card class="program-card" (click)="selectSample(sample)">
                <ion-card-header class="ion-no-padding">
                  <div class="program-photo-container">
                    <ion-img class="program-photo" [src]="(sample.assets && sample.assets.length && sample.assets[0]) | background: sample._id"></ion-img>
                  </div>
                </ion-card-header>
                <div class="program-type"><ion-badge color="button1" class="ion-text-wrap">{{sample.resource['en-US'].value[0]}}</ion-badge></div>
                <div class="program-name light">{{sample.matrix_string[0][0]}}</div>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid class="program-grid" *ngIf="currentView === 'recent'">
      <ion-virtual-scroll [items]="recentCalendarItems" approxItemHeight="100px">
        <ion-item *virtualItem="let calendarItem; index as i"  (click)="selectCalendarItem($event, calendarItem)" class="cursor-pointer">
          <ion-avatar class="ion-margin-end" *ngIf="calendarItem.moment">
            <ion-img [src]="(calendarItem.moment.assets && calendarItem.moment.assets.length && calendarItem.moment.assets[0]) | background: calendarItem.moment._id"></ion-img>
          </ion-avatar>
          <ion-label class="name-label ion-text-wrap" *ngIf="calendarItem.moment">
            {{calendarItem.moment.matrix_string[0][0]}}
          </ion-label>
          <ion-badge color="button1" class="type-col ion-text-wrap" slot="end">{{calendarItem.moment.resource['en-US'].value[0]}}</ion-badge>
        <div tabindex="0"></div></ion-item>
      </ion-virtual-scroll>
    </ion-grid>
  </div>
  <ion-grid *ngIf="step === 2" class="full-height">
    <ion-row class="full-height grid-row ion-align-items-center">
      <ion-col>
        <ion-item lines="none">
          <div style="font-size: 14px" class="ion-text-wrap">Enter a Name for the {{selectedMoments[0].resource['en-US'].value[0]}}</div>
        <div tabindex="0"></div></ion-item>
        <ion-item lines="none">
          <ion-icon class="side-icon" color="grey" name="brush" slot="start"></ion-icon>
          <ion-textarea [(ngModel)]="selectedMoments[0].matrix_string[0][0]" rows="1" [minRows]="1" [maxRows]="2" autosize></ion-textarea>
        <div tabindex="0"></div></ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="step === 3" class="full-height">
    <ion-row class="full-height grid-row ion-align-items-center">
      <ion-grid>
        <ion-row>
          <ion-label class="ion-margin-start">What is your role in {{selectedMoments[0].matrix_string[0][0]}}?</ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-card class="category-card" mode="md" (click)="joinAs = 'user_list_1'" [ngClass]="{'selected': joinAs === 'user_list_1'}">
              <ion-card-header>
                <ion-card-title *ngIf="selectedCategoryId === '5e9f46e1c8bf1a622fec69d5'">Learner</ion-card-title>
                <ion-card-title *ngIf="selectedCategoryId === '5e9fe372c8bf1a622fec69d8'">Mentee</ion-card-title>
                <ion-card-title *ngIf="selectedCategoryId === '5e9fe35cc8bf1a622fec69d7'">Participant</ion-card-title>
              </ion-card-header>
              <ion-card-content *ngIf="selectedCategoryId === '5e9f46e1c8bf1a622fec69d5'">
                <li>Restvo provides you with the resources along the way</li>
              </ion-card-content>
              <ion-card-content *ngIf="selectedCategoryId === '5e9fe372c8bf1a622fec69d8'">
                <li>A mentee learns from the guidance of a mentor</li>
                <li>You can invite other mentors and mentors</li>
              </ion-card-content>
              <ion-card-content *ngIf="selectedCategoryId === '5e9fe35cc8bf1a622fec69d7'">
                <li>You can invite one or multiple leaders to lead this group</li>
                <li>You can invite other participants to join</li>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="auto">
            <ion-card class="category-card" mode="md" (click)="joinAs = 'user_list_3'" [ngClass]="{'selected': joinAs === 'user_list_3'}">
              <ion-card-header>
                <ion-card-title *ngIf="selectedCategoryId === '5e9f46e1c8bf1a622fec69d5'">Facilitator</ion-card-title>
                <ion-card-title *ngIf="selectedCategoryId === '5e9fe372c8bf1a622fec69d8'">Mentor</ion-card-title>
                <ion-card-title *ngIf="selectedCategoryId === '5e9fe35cc8bf1a622fec69d7'">Leader</ion-card-title>
              </ion-card-header>
              <ion-card-content *ngIf="selectedCategoryId === '5e9f46e1c8bf1a622fec69d5'">
                <li>You can guide someone along the journey. Restvo will assist you in the process</li>
              </ion-card-content>
              <ion-card-content *ngIf="selectedCategoryId === '5e9fe372c8bf1a622fec69d8'">
                <li>A mentor offers support and guidance</li>
                <li>You can invite other mentors and mentees</li>
              </ion-card-content>
              <ion-card-content *ngIf="selectedCategoryId === '5e9fe35cc8bf1a622fec69d7'">
                <li>You provide leadership to the group</li>
                <li>You can invite other leaders and participants to join</li>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="step === 4" class="full-height">
    <ion-row class="full-height grid-row ion-align-items-center">
      <ion-col>
        <ion-item lines="none">
          <div style="font-size: 14px" class="ion-text-wrap">When do you plan to start {{selectedMoments[0].matrix_string[0][0]}}?</div>
        <div tabindex="0"></div></ion-item>
        <ion-item lines="none">
          <ion-label (click)="focusCalendarDateField('start')" class="cursor-pointer" ><span [ngClass]="{ 'underline-datestring': dateType == 'start'}">{{recurrenceStartDate | datetime: 'w:l,m:s,y:n,d:n'}}</span><p style="color: red; font-style: italic;" *ngIf="dateType === 'start'"><ion-icon name="alert-circle"></ion-icon>Choose a Date Below</p></ion-label> <!--Start, Choose a date below-->
          <ion-datetime *ngIf="recurrenceStartTime" placeholder="12:00 pm" displayFormat="h:mm a" minuteValues="0,15,30,45" [(ngModel)]="recurrenceStartTime" [pickerOptions]="{cssClass: 'level-15'}"></ion-datetime>
        <div tabindex="0"></div></ion-item>

        <ion-card class="monthview" *ngIf="dateType">
          <div class="month-title-container">
            <ion-icon name="chevron-back-outline" class="calendar-arrow left" (click)="calendarService.changeDate($event, 4)"></ion-icon>
            <h4 class="month-title">{{calendarService.calendar.viewTitle}}</h4>
            <ion-icon name="chevron-forward-outline" class="calendar-arrow right" (click)="calendarService.changeDate($event, 2)"></ion-icon>
          </div>
          <div class="monthview-day-headers">S</div>
          <div class="monthview-day-headers">M</div>
          <div class="monthview-day-headers">T</div>
          <div class="monthview-day-headers">W</div>
          <div class="monthview-day-headers">T</div>
          <div class="monthview-day-headers">F</div>
          <div class="monthview-day-headers">S</div>

          <div class="monthview-element" *ngFor="let dayOfMonth of calendarService.calendar.daysInViewMonth; trackBy: customTrackBy">
            <div class="monthview-element-content" [ngClass]="{ 'selected-date' : calendarService.calendar.selectedDate.toString() === dayOfMonth.date.toString() && dayOfMonth.date != ' ','current-date': calendarService.calendar.currentDate.toString().substring( 0 , 15) == dayOfMonth.date.toString().substring(0 , 15)}" (click)="changeSelectedDate(dayOfMonth.date)">
              <div *ngIf="dayOfMonth.date == ' ' ">&nbsp;&nbsp;</div>
              <div *ngIf="dayOfMonth.date != ' ' ">
                {{dayOfMonth.date.getDate()}}
              </div>
              <div class="monthview-dot-container" *ngFor="let calendarItem of dayOfMonth.dayEvents; trackBy: customTrackBy; let i = index;">
                <div class="monthview-element-dot" [ngClass]="{'past-calendar-item' : calendarItem.pastEvent}" *ngIf="i < 5"></div>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="step === 1 && selectedMoments.length">
    <ion-item lines="none" *ngIf="maxMomentCount === 1">
      <ion-label *ngIf="selectedMoments[0].cloned">This {{selectedMoments[0].resource['en-US'].value[0]}} template will be cloned:</ion-label>
      <ion-label *ngIf="!selectedMoments[0].cloned">You have selected this {{selectedMoments[0].resource['en-US'].value[0]}}:</ion-label>
    <div tabindex="0"></div></ion-item>
    <ion-grid class="selected-grid">
      <ion-row>
        <ion-col class="ion-align-self-center" *ngFor="let moment of selectedMoments; index as i" size="auto">
          <ion-card class="program-card" (click)="openFeature($event, moment)">
            <ion-card-header class="ion-no-padding">
              <div class="program-photo-container">
                <ion-img class="program-photo" [src]="(moment.assets && moment.assets.length && moment.assets[0]) | background: moment._id"></ion-img>
              </div>
            </ion-card-header>
            <div class="program-type"><ion-badge color="button1">{{moment.resource['en-US'].value[0]}}</ion-badge></div>
            <div class="program-name light">{{moment.matrix_string[0][0]}}</div>
            <ion-button class="remove-moment ion-no-padding ion-no-margin" (click)="removeMoment(i)" fill="clear" size="small">
              <ion-icon name="close" color="secondary"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-button *ngIf="step < 4" (click)="next()" expand="full" shape="round" class="centered" id="next-button" [disabled]="step === 1 && !selectedMoments.length">Next</ion-button>
      <ion-button *ngIf="step === 4" (click)="done()" expand="full" shape="round" class="centered" id="done-button">Done</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
