app-pickfeature-popover {

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .column-label {
    text-align: center;
  }

  .select-col {
    width: 8%;
  }

  .user-col {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
  }

  .avatar-col {
    width: 20%
  }

  .name-col {
    width: 40%;
  }

  .user-avatar {
    margin: 0 auto;
  }

  .name-label {
    margin: 5px auto 0 auto;
    color: grey;
    font-size: 12px;
  }

  .type-col {
    width: 25%;
  }

  .actions-col {
    width: 15%;
  }

  .new-section {
    padding-top: 8px;
  }

  .program-title {
    color: var(--ion-color-grey);
  }

  .category-card {
    width: 220px;
    opacity: 0.3;
    height: 100%;
  }

  .program-row {
    max-height: 70%;
    overflow: scroll;
  }

  .program-card {
    width: 133px;
    object-fit: contain;
    margin: 0 3%;
  }

  .program-photo-container {
    height: 80px;
    overflow: hidden;
  }

  .program-photo {
    object-fit: cover;
    cursor: pointer;
    //opacity: 50%;
    height: 100%;
    //width: 100%;
    margin: auto;
    display: block;
    //max-height: 200px;
  }

  .program-type {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 12px;
    cursor: pointer;
  }

  .program-name {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-size: 12px;
    cursor: pointer;
    z-index: 15;
  }

  .info-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .remove-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .dark {
    color: var(--ion-color-darkgrey);
  }

  .light {
    color: white;
  }

  .full-height {
    height: 100%;
  }

  .grid-row {
    //align-items: center !important;
    overflow: scroll;
  }


  .selected {
    opacity: 1;
  }
}
