app-pickfeature-popover {

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  ion-content {
    --background: var(--ion-color-lightgrey);
  }

  ion-item ion-datetime{
    position: relative !important;
  }

  .column-label {
    text-align: center;
  }

  .select-col {
    width: 8%;
  }

  .user-col {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
  }

  .avatar-col {
    //width: 20%
    margin-right: 10px;
  }

  .name-col {
    width: 50%;
  }

  .user-avatar {
    margin: 10px auto;
  }

  .name-label {
    margin: 5px auto 0 auto;
    color: grey;
    font-size: 12px;
  }

  .type-col {
    width: 30%;
  }

  .actions-col {
    width: 15%;
  }

  .new-section {
    padding-top: 8px;
  }

  .program-title {
    color: var(--ion-color-grey);
  }

  .category-card {
    width: 220px;
    opacity: 0.3;
    height: 100%;
  }

  .program-row {
    max-height: 70%;
    overflow: scroll;
  }

  .program-card {
    width: 133px;
    object-fit: contain;
    margin: 0 3%;
  }

  .program-photo-container {
    height: 80px;
    overflow: hidden;
  }

  .program-photo {
    object-fit: cover;
    cursor: pointer;
    //opacity: 50%;
    height: 100%;
    //width: 100%;
    margin: auto;
    display: block;
    //max-height: 200px;
  }

  .program-type {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 12px;
    max-width: 90%;
    cursor: pointer;
  }

  .program-name {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-size: 12px;
    cursor: pointer;
    z-index: 15;
  }

  .info-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .remove-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .dark {
    color: var(--ion-color-darkgrey);
  }

  .light {
    color: white;
  }

  .full-height {
    height: 100%;
  }

  .grid-row {
    //align-items: center !important;
    overflow: scroll;
  }

  .selected {
    opacity: 1;
  }

  // calendar
  .monthview {
    width: 85%;
    max-width: 400px;
    margin: 10px auto;
    padding-bottom: 10px;
    --color: var(--ion-color-dark);
  }

  .month-title-container {
    width: 100%;
  }

  .month-title {
    width: calc((100% / 7) * 5);
    text-align: center;
    display: inline-block;
  }

  .calendar-arrow {
    width: calc(100% / 7);
    position: relative;
    display: inline-block;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

  .content-count {
    margin: 0 10px;
    width: 10%;
  }

  .content-date {
    font-size: 12px;
    padding-left: 2%;
    margin-right: 8px;
    width: 20%;
  }

  .monthview {
    width: 85%;
    max-width: 400px;
    margin: 10px auto;
    padding-bottom: 10px;
    --color: var(--ion-color-dark);
  }

  .month-title-container {
    width: 100%;
  }

  .month-title {
    width: calc((100% / 7) * 5);
    text-align: center;
    display: inline-block;
  }

  .calendar-arrow {
    width: calc(100% / 7);
    position: relative;
    display: inline-block;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

  .monthview-day-headers {
    width: calc(100% / 7);
    float: left;
    position: relative;
    color: var(--ion-color-grey);
    text-align: center;
  }

  .monthview-element {
    width: calc(100% / 7);
    float: left;
    position: relative;
    padding-bottom: calc(100% / 9);
  }

  .monthview-element .monthview-element-content {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    position: absolute;
  }

  .past-calendar-item {
    background-color: var(--ion-color-grey);
  }

  .monthview-dot-container {
    text-align: center;
    display: inline-block;
  }

  .monthview-element-dot {
    height: 5px;
    width: 5px;
    margin: 0px 0.5px 0px 0.5px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
  }

  .underline-datestring {
    text-decoration: underline;
  }

  .selected-date {
    background-color: var(--ion-color-lightgrey);
    border-radius: 50%;
  }
}
