<ion-header *ngIf="modalPage">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{userData.user.churches[userData.currentCommunityIndex].name}}: Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-justify-content-end ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-slides (ionSlidesDidLoad)="onSlidesLoaded()">
    <ion-slide>
      <ion-grid *ngIf="resource">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
            <ion-card class="ion-text-center">
              <ion-card-header>
                <ion-card-title>{{resource['en-US'].matrix_string[0][0]}}</ion-card-title>
                <img src=""/>
              </ion-card-header>
              <ion-card-header>
                <ion-card-title>{{resource['en-US'].matrix_string[0][1]}}</ion-card-title>
                <ion-card-subtitle>{{resource['en-US'].matrix_string[0][2]}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list class="ion-text-center">
                  <ion-item>
                    {{resource['en-US'].matrix_string[0][11]}}
                  </ion-item>
                  <ion-item>
                    {{resource['en-US'].matrix_string[0][12]}}
                  </ion-item>
                  <ion-item>
                    {{resource['en-US'].matrix_string[0][13]}}
                  </ion-item>
                  <ion-item>
                    {{resource['en-US'].matrix_string[0][14]}}
                  </ion-item>
                  <ion-item>
                    {{resource['en-US'].matrix_string[0][15]}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
              <ion-col *ngIf="churchService.currentManagedCommunity && (!churchService.currentManagedCommunity.hasOwnProperty('subscription') || churchService.currentManagedCommunity.subscription === 'Free')">
                <ion-button color="primary" fill="solid" shape="round" [disabled]="true">Current Plan</ion-button>
              </ion-col>
              <ion-col *ngIf="churchService.currentManagedCommunity && churchService.currentManagedCommunity.hasOwnProperty('subscription') && churchService.currentManagedCommunity.subscription !== 'Free'">
                <ion-button color="primary" fill="solid" shape="round" (click)="selectPlan('Free')">Downgrade Plan</ion-button>
              </ion-col>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
            <ion-card class="ion-text-center">
              <ion-card-header>
                <ion-card-title>{{resource['en-US'].matrix_string[1][0]}}</ion-card-title>
                <img src=""/>
              </ion-card-header>
              <ion-card-header>
                <ion-card-title>{{resource['en-US'].matrix_string[1][1]}}</ion-card-title>
                <ion-card-subtitle>{{resource['en-US'].matrix_string[1][2]}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list class="ion-text-center">
                  <ion-item>
                    {{resource['en-US'].matrix_string[1][11]}}
                  </ion-item>
                  <ion-item>
                    {{resource['en-US'].matrix_string[1][12]}}
                  </ion-item>
                  <ion-item>
                    {{resource['en-US'].matrix_string[1][13]}}
                  </ion-item>
                  <ion-item>
                    {{resource['en-US'].matrix_string[1][14]}}
                  </ion-item>
                  <ion-item>
                    {{resource['en-US'].matrix_string[1][15]}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
              <ion-col *ngIf="churchService.currentManagedCommunity && churchService.currentManagedCommunity.hasOwnProperty('subscription') && churchService.currentManagedCommunity.subscription === resource['en-US'].matrix_string[1][0]">
                <ion-button color="primary" fill="solid" shape="round" [disabled]="true">Current Plan</ion-button>
              </ion-col>
              <ion-col *ngIf="churchService.currentManagedCommunity && (!churchService.currentManagedCommunity.hasOwnProperty('subscription') || churchService.currentManagedCommunity.subscription !== resource['en-US'].matrix_string[1][0])">
                <ion-button color="primary" fill="solid" shape="round" (click)="selectPlan(resource['en-US'].matrix_string[1][0])">Upgrade Plan</ion-button>
              </ion-col>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid *ngIf="resource">
        <ion-row>
          <ion-col>
            <ion-label class="text-start">You are switching to the Standard Plan</ion-label>
            <ion-card>
                <ion-card-title>Billing Amount</ion-card-title>
              <ion-card-content>
                <h2 class="ion-text-center">{{churchService.numberOfActiveUsers}} active users x {{resource['en-US'].matrix_string[1][1]}} (per user, per month) = ${{(churchService.numberOfActiveUsers*resource.matrix_number[1][0]).toFixed(2)}}</h2>
              </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-title>Billing Information</ion-card-title>
              <ion-card-content>
                <form [formGroup]="billingForm">
                  <div [id]=stripeElementName class="field"></div>
                  <ion-item>
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="name" placeholder="Jane Doe"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Email Address</ion-label>
                    <ion-input autocomplete="on" type="email" formControlName="email" placeholder="jane@restvo.com"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Street</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="line1"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">City</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="city"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">State</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="state"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Zip/Postal Code</ion-label>
                    <ion-input autocomplete="on" type="text" formControlName="postal_code"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Country</ion-label>
                    <ion-select [interfaceOptions]="{cssClass: 'level-15'}" formControlName="country">
                      <ion-select-option value="US" [class.selected]='true'>United States</ion-select-option>
                      <ion-select-option value="AU">Australia</ion-select-option>
                      <ion-select-option value="AT">Austria</ion-select-option>
                      <ion-select-option value="BE">Belgium</ion-select-option>
                      <ion-select-option value="BR">Brazil</ion-select-option>
                      <ion-select-option value="CA">Canada</ion-select-option>
                      <ion-select-option value="CN">China</ion-select-option>
                      <ion-select-option value="DK">Denmark</ion-select-option>
                      <ion-select-option value="FI">Finland</ion-select-option>
                      <ion-select-option value="FR">France</ion-select-option>
                      <ion-select-option value="DE">Germany</ion-select-option>
                      <ion-select-option value="HK">Hong Kong</ion-select-option>
                      <ion-select-option value="IE">Ireland</ion-select-option>
                      <ion-select-option value="IT">Italy</ion-select-option>
                      <ion-select-option value="JP">Japan</ion-select-option>
                      <ion-select-option value="LU">Luxembourg</ion-select-option>
                      <ion-select-option value="MX">Mexico</ion-select-option>
                      <ion-select-option value="NL">Netherlands</ion-select-option>
                      <ion-select-option value="NZ">New Zealand</ion-select-option>
                      <ion-select-option value="NO">Norway</ion-select-option>
                      <ion-select-option value="PT">Portugal</ion-select-option>
                      <ion-select-option value="SG">Singapore</ion-select-option>
                      <ion-select-option value="ES">Spain</ion-select-option>
                      <ion-select-option value="SE">Sweden</ion-select-option>
                      <ion-select-option value="CH">Switzerland</ion-select-option>
                      <ion-select-option value="GB">United Kingdom</ion-select-option>
                    </ion-select>
                  </ion-item>
                </form>
                <ion-row>
                  <ion-col>
                    <ion-button color="primary" shape="round" fill="solid" expand="block" (click)="submitBillingForm()">Submit</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button color="danger" shape="round" fill="solid" expand="block" (click)="prevSlide()">Cancel</ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
