<ion-header *ngIf="modalPage">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{userData.user.churches[userData.currentCommunityIndex].name}}: Administrators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="churchService && churchService.currentManagedCommunity">
    <ion-item *ngFor="let admin of churchService.currentManagedCommunity.admins" (click)="editAdmin($event, admin)">
      <ion-avatar slot="start">
        <img *ngIf="admin.avatar" [src]="admin.avatar"/>
        <img *ngIf="!admin.avatar" src="assets/img/avatar-default.jpg"/>
      </ion-avatar>
      {{admin.first_name}} {{admin.last_name}}
    </ion-item>
  </ion-list>
</ion-content>
