<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item class="popover-item ion-text-wrap" (click)="invite()">Invite</ion-item>
    <div *ngIf="loadCompleted">
      <ion-item class="popover-item ion-text-wrap" [hidden]="!joinGroupTag" (click)="joinGroup()">Join {{group_type}}</ion-item>
      <ion-item class="popover-item ion-text-wrap" [hidden]="joinGroupTag || !group.churchId || group.flagged" (click)="flagGroup()">Report Abuse</ion-item>
      <ion-item class="popover-item ion-text-wrap" [hidden]="!leaveGroupTag" (click)="leaveGroup()">Leave {{group_type}}</ion-item>
      <ion-item class="popover-item ion-text-wrap" [hidden]="!editGroupTag" (click)="editGroup()">Edit {{group_type}}</ion-item>
      <ion-item class="popover-item ion-text-wrap" [hidden]="!(group.churchId && hasRestvoStaffAccess) || !group.flagged" (click)="unflagGroup()">Remove Abuse Report</ion-item>
      <ion-item class="popover-item ion-text-wrap" [hidden]="!deleteGroupTag" (click)="deleteGroup()">Delete {{group_type}}</ion-item>
    </div>
    </ion-list>
</ion-content>
