app-group-popover {

  ion-content {
    --background: var(--ion-color-primary);
  }

  .popover-item {
    --background: var(--ion-color-primary);
    color: var(--ion-color-secondary);
    font-size: small;
    text-align: center;
  }

  .item-divider {
    height: 1px;
    width: 100%;
    --background: var(--ion-color-secondary);
  }
}