app-onboardfeature {

  ion-item {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  ion-slides {
    height: 100%;
  }

  a {
    margin: 25px 10%;
  }

  .component {
    width: 100%;
  }

  .slide-grid {
    height: 100%;
    overflow: scroll;
  }

  .slide-row {
    height: 100%;
    padding-bottom: 42px;
    //overflow-y: scroll
  }

  .slide-row-align {
    align-items: center !important;
  }

  .slide-col {
    height: 100%;
  }

  .moment-photo-frame {
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
    /*height: 100%;
    max-height: 180px;*/
  }

  .moment-photo-frame-small {
    margin: 0 auto;
    width: 20%;
  }

  .moment-photo {
    width: 100%;
    height: 100%;
  }

  .moment-type {
    margin-right: 10px;
  }

  .module-number {
    padding-left: 2%;
    width: 8%;
    min-width: 20px;
  }

  .moment-label {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }

  .moment-input {
    float: left;
    opacity: 0.5;
    margin-left: 10px;
  }

  .side-icon {
    width: 100%;
    height: 100%;
  }

  .textarea {
    width: 100%;
    margin: 15px;
  }

  .textarea.center {
    margin: 15px auto;
  }

  .small-font {
    font-size: 12px;
  }

  .label-title {
    font-weight: bold;
    max-width: 50%;
    color: var(--ion-color-grey);
  }

  .detail {
    color: var(--ion-color-dark);
    text-align: right;
    min-width: 60%;
  }

  .map-container {
    margin: 0 auto;
    width: 90%;
  }

  .relationship-action {
    color: white;
  }

  //Poll message
  .pollIconDiv{

    .pollIcon{
      height: 50px;
      width: 50px;
      margin: 5% 45%;
    }
  }

  .pollQuestion{
    color: black;
    font-size: large;
    font-style: italic;
  }

  .pollContainer{
    width: 100%;
    display: inline-block;
    clear: both;
    background-color: rgba(150, 150, 150, 0.2);
    padding: 0 20px;
  }

  .optionsContainer{
    float: left;
    width: 68%;
    .option{
      padding-top: 5px;
      float: left;
      font-size: medium;
      font-weight: bold;
    }
  }

  .votesContainer{
    float: left;
    width: 15%;
    .votecount{
      padding-top: 12px;
      color: black;
      font-size: x-small;
    }
  }

  .userContainer{
    float: right;
    width: 15%;
    padding: 0 auto;
    .uservote{
      margin: 15px 5% 0 5%;
      font-size: x-small;
      width: 90%;
      height: 30px;
      color: black;
    }
    .uservoted{
      padding-top: 20px;
      width: 30%;
      margin: 0 40%;
    }
  }

  .pollNotes{
    color: black;
    width: 100%;
  }

  .voteCount{
    font-weight: bold;
    color: black;
    width: 100%;
  }

  .results-list {
    max-height: 30vh;
    overflow-y: scroll;
  }

  // map
  #mapCanvas {
    height: 30vh;
  }

  #mapCanvas2 {
    height: 30vh;
    width: 100%;
  }

  .map-card {
    width: 100%;
  }

  .marker {
    display: block;
    border: black;
    border-radius: 50%;
    background-color: var(--ion-color-grey);
    cursor: pointer;
    padding: 0;
    p {
      text-align: center;
      margin: 15% 0;
    }
  }

  .item-container {
    width: 100%;
  }

  .item-name {
    margin: 10px 0 2px 0;
    //display: block;
    width: 100%;
  }

  .category {
    color: var(--ion-color-grey);
    font-style: italic;
  }

  .category {
    color: var(--ion-color-grey);
    font-style: italic;
  }

  .note-col {
    height: 100%;
    max-width: 20%;
  }

  .note {
    float: right;
    color: lightgrey;
    margin: 10px 0 0 0;
  }

  .ng-resizable-handle {
    height: 50px;
    color: grey;
  }

  .pull-handle {
    width: 100%;
    height: 20px;
  }

  .pull-handle-icon {
    margin: 0 auto;
  }

  .result-list {
    height: 30vh;
    width: 100%;
  }

  .participant-row {
    //padding: 0 10px;
    width: 100%;
  }

  .participant {
    width: 100%;
  }

  .participant-centered {
    width: 100%;
    height: 65px;
    margin: auto 0 auto 0;

    .participant-avatar {
      margin: 0 auto;
      top: 0
    }

    .participant-joined {
      position: absolute;
      left: 60%;
      top: 28px;
    }

    .participant-label {
      margin: 5px auto 0 auto;
      color: grey;
      font-size: 12px;
    }
  }

  .tile-grid {
    width: 100%;
  }

  .tile-card {
    height: 75px;
    margin: 0 3%;
  }

  .tile-photo-container {
    height: 75px;
    overflow: hidden;
  }

  .tile-photo {
    object-fit: cover;
    cursor: pointer;
    //opacity: 50%;
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
  }

  .tile-option-selected {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    right: 5px;
    z-index: 15;
  }

  .tile-name {
    position: absolute;
    bottom: 2%;
    left: 2%;
    color: white;
    font-size: 14px;
    cursor: pointer;
    z-index: 15;
  }

  .photo-split-view {
    height: 200px;
    display: inline-block;
  }

  .icon-container {
    margin: 0 auto;
    width: 100px;
  }

  .thumbnail-item {
    margin: 0 auto;
    --size: 90%;
  }

  .selected-item {
    height: 100px;
  }

  .footer-toolbar {
    height: 58px;
  }

  .title {
    font-size: 14px;
    text-wrap: normal;
  }

  .subtitle {
    font-size: 14px;
    color: var(--ion-color-grey);
    text-wrap: normal;
  }
}
