app-feature-insight {

  ion-content {
    --background: var(--ion-color-lightgrey);
  }

  .section-card {
    width: 100%;
    margin: 0 5px;
    padding: 10px 0;
  }

  .column-label {
    text-align: center;
  }

  .column {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

    .insight-person-avatar {
      margin: auto;
      height: 40px;
      width: 40px;
    }

    .insight-person-label {
      margin: 5px auto 0 auto;
      color: grey;
      font-size: 12px;
    }
  }

  .program {
    width: 12%;
    text-align: center;
  }

  .progress {
    text-align: center;
    width: 20%; // 32%
  }

  .last-date {
    //color: var(--ion-color-dark);
    text-align: center;
    width: 18%;
  }

  .small-font {
    font-size: 12px;
  }

//   .circle-background {
//   fill: none;
//   stroke: #c4c4c4;
//   stroke-width: 5;
//   stroke-dasharray: 100, 100;
//   stroke-linecap: round;
// }

// .circle-circle {
//   animation: circle-chart-fill 1s ease-in-out;
//   fill: none;
//   stroke: #b4ffce;
//   stroke-width: 5;
//   stroke-dasharray: 25, 100;
//   stroke-linecap: round;
// }

// .percentage{
//   font-size: .5em;
//   text-anchor: middle;
// }
// @keyframes circle-chart-fill {
//   0% { stroke-dasharray: 0 100;}
// }

.progress{
  position: relative;
}

.progress__svg {
  transform: rotate(-90deg);
}

.progress__meter,
.progress__value {
  fill: none;
}

.progress__meter {
  stroke: #ccc;
}

.progress__value {
  stroke: #4caf50;
  transition: all;
}

.progress-value-text{
  position: absolute;
  top: 48px;
  left: 45px;
}

}
