<ion-header *ngIf="modalPage">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Insight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar *ngIf="['owner','admin','staff'].includes(userData.user.role)">
    <ngx-charts-line-chart
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [xAxisTickFormatting]="dateTickFormatting"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
    >
    </ngx-charts-line-chart>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item>
      <ion-label [hidden]="true">Filter by Program</ion-label>
      <ion-select [(ngModel)]="selectedProgramId" slot="end" placeholder="Show All">
        <ion-select-option value='all'>Show All</ion-select-option>
        <ion-select-option *ngFor="let program of listOfPrograms" [value]="program._id" [class.selected]="selectedProgramId === program._id">{{program.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
  <ion-list>  <!--*ngIf="platform.width() > 768"-->
    <ion-item [ngStyle]="{'font-size': platform.width() < 400 ? '11px' : '14px'}">
      <div class="column column-label" (click)="sortDisplay('participant')">{{participantsLabel}}</div>
      <div class="column column-label" (click)="sortDisplay('leader')">{{leadersLabel}}</div>
      <div class="column column-label" (click)="sortDisplay('program')">Program</div>
      <div class="progress column-label ion-no-margin" slot="end" (click)="sortDisplay('progress')">Progress</div>
      <div class="last-date column-label ion-no-margin" slot="end" (click)="sortDisplay('lastDate')">Last Check-in</div>
    </ion-item>
    <ion-item *ngFor="let relationship of relationshipCompletion" (click)="openProgram($event, relationship)" [hidden]="selectedProgramId && ![relationship.program._id, 'all'].includes(selectedProgramId)">
      <div *ngFor="let participant of relationship.participants | slice : 0 : 1" (click)="seeUserInfo($event, relationship.participants[0])" class="column">
        <ion-avatar class="insight-person-avatar">
          <img class="response-user-img" *ngIf="participant.avatar" [src]="participant.avatar"/>
          <img class="response-user-img" *ngIf="!participant.avatar" src="assets/img/avatar-default.jpg"/>
        </ion-avatar>
        <ion-label class="insight-person-label ion-text-center ion-text-wrap">{{participant.first_name}} {{participant.last_name}}</ion-label>
      </div>
      <div *ngFor="let leader of relationship.leaders | slice : 0 : 1" (click)="seeUserInfo($event, relationship.leaders[0])" class="column">
        <ion-avatar class="insight-person-avatar">
          <img class="response-user-img" *ngIf="leader.avatar" [src]="leader.avatar"/>
          <img class="response-user-img" *ngIf="!leader.avatar" src="assets/img/avatar-default.jpg"/>
        </ion-avatar>
        <ion-label class="insight-person-label ion-text-center ion-text-wrap">{{leader.first_name}} {{leader.last_name}}</ion-label>
      </div>
      <div class="column">
        <ion-label class="insight-person-label ion-text-center ion-text-wrap">{{relationship.program.name}}</ion-label>
      </div>
      <ion-progress-bar class="progress ion-no-margin" [value]="relationship.completed_count/relationship.content_calendar_count" [buffer]="relationship.past_due_count/relationship.content_calendar_count" slot="end"></ion-progress-bar>
      <div class="last-date small-font ion-text-wrap ion-no-margin" slot="end">{{relationship.last_response_date | datetime: 'm:n,d:n,y:n'}}</div>
    </ion-item>
  </ion-list>
</ion-content>
