app-uploadmedia {

  ion-thumbnail {
    --size: 100px;
  }

  .remove-media {
    position: absolute;
    top: 5px;
    right: 2px;
    z-index: 15;
  }

  .remove-video {
    position: absolute;
    top: 5px;
    right: -95px;
    z-index: 15;
  }

  .selected-item {
    height: 100px;
    //width: 100px;
  }

  .center {
    margin: 0 auto;
  }

  .stock-preview {
    --size: 100px;
  }

  .pixabay-grid {
    width: 100%;
    max-height: 30%;
    overflow: scroll;
  }

  .selected-grid {
    width: 100%;
    max-height: 30%;
    overflow: scroll;
  }

  .video-container {
    width: 100px;
    height: 100px;
  }

  a {
    margin: 15px 10%;
  }


  .delete-container {
    width: 14%;
    float: right;
  }

  .moment-label {
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-right: 20px;
    margin-bottom: auto;
  }

  .or {
    width: 100%;
    text-align: center;
  }

  .option-number {
    margin-right: 3%;
  }

  .side-image {
    margin: auto;
  }

  .side-icon {
    height: 100%;
    width: 100%;
    margin-left: 4%;
  }


  .list-container {
    overflow: scroll;
    max-height: 400px;
    margin: 0 auto;
    max-width: 400px;
  }

  .item-container {
    width: 60%;
    margin: 5px;
    float: left;
  }

  .moment-type {
    width: 60px;
    margin-right: 10px;
  }

  .moment-input {
    width: 90%;
    float: left;
    opacity: 0.5;
    padding: 5px 0;
  }

  .small-font {
    font-size: 12px;
  }

  .dynamicOptions{
    margin-left: 12%;

    ::placeholder{
      color: #cecece;
    }
  }

  .section-header {
    font-size: 18px;
  }

  .addRemoveButtons{
    width: 40%;
    height: 100%;
    padding-top: 5%;
    color: #cecece;
  }

  #addButton{
    margin-left: 5%;
    width: 50%;
  }

  .addRemoveText{
    font-size: 15px;
    width: 100%;
    float: right;
  }

  /*.moment-photo-frame {
    width: 100%;
    margin-bottom: 10px;
  }*/

  .moment-photo {
    width: 100%;
    height: 100%;
  }

  .remove-photo {
    width: 20%;
  }

  .moment-icon {
    max-width: 20px;
    margin: 0 5px;
  }

}
