app-programs {

  .program-row {
    height: 100px;
  }

  .program-card {
    width: 133px;
    object-fit: contain;
    margin: 0 3%;
  }

  .program-photo-container {
    height: 80px;
    overflow: hidden;
    //border-radius: 50%;
    //margin: 5% auto;
  }

  .program-photo {
    object-fit: cover;
    cursor: pointer;
    //opacity: 50%;
    height: 100%;
    //width: 100%;
    margin: auto;
    display: block;
    //max-height: 200px;
  }

  .program-name {
    position: absolute;
    bottom: 2%;
    left: 2%;
    color: white;
    font-size: 12px;
    cursor: pointer;
    z-index: 15;
  }

  .program-type {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 12px;
    cursor: pointer;
  }

  .info-moment {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .opacity {
    opacity: 0.4;
  }
}
