<ion-header *ngIf="modalPage">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Mentoring</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" *ngIf="userData.activitiesWithAdminAccess && userData.activitiesWithAdminAccess.length">
    <ion-label>Show Admin View When Possible</ion-label>
    <ion-toggle [(ngModel)]="userData.UIAdminMode" (ionChange)="toggleAdminMode($event)"></ion-toggle>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Choose Your Home Page:</ion-label>
  </ion-item>
  <ion-grid class="program-grid">
    <ion-row class="program-row">
      <ion-col class="ion-align-self-center" *ngFor="let program of programs" size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
        <ion-card class="program-card" (click)="selectDefault($event, program)">   <!--[ngStyle]="{'background-image': 'url(' + (activity.moment.assets?.length ? activity.moment.assets[0] : '') + ')'}"-->
          <ion-card-header class="ion-no-padding">
            <div class="program-photo-container" [ngClass]="{'opacity': program._id !== (userData.defaultProgram && userData.defaultProgram._id) }">
              <ion-img class="program-photo" [src]="(program.assets && program.assets[0]) | background: program._id"></ion-img>
            </div>
          </ion-card-header>
          <div class="program-type"><ion-badge color="button1">{{program.resource['en-US'].value[0]}}</ion-badge></div>
          <div class="program-name">{{program.matrix_string[0][0]}}</div>
          <ion-button class="info-moment ion-no-padding ion-no-margin" (click)="openProgram($event, program)" fill="clear" size="small">
            <ion-icon name="information-circle-outline" color="secondary"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
