app-dashboard {
  ion-button {
    ion-badge {
      position: absolute;
      top: 0.1rem;
      right: 0.1rem;

      & ~ ion-icon {
        outline-color: whitesmoke;
      }
    }
  }

  ion-spinner {
    position: absolute;
    margin: 48%;
  }

  /*  ion-list-header, ion-item, ion-card {
    background: transparent !important;
  }*/

  ion-card-header,
  ion-card-content {
    font-size: 14px;
  }

  p,
  h2 {
    //color: white;
  }

  ion-item-divider {
    margin-top: 3px !important;
  }

  .message-container {
    width: 100%;
  }

  .message-detail {
    width: 85%;
    color: grey;
    margin: 8px 0 16px 0;
    max-height: 36px;
    line-height: 18px; /* Height / no. of lines to display */
    overflow: hidden;
  }

  .dashboard-banner {
    background: url("assets/img/onboarding-1.jpg");
    background-size: cover;
    max-width: 600px;
    margin: 0 auto;
  }

  .transparent {
    --background: transparent !important;
  }

  .header-searchbar {
    width: 50%;
  }

  .image-cropper {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin: 2% auto 0 auto;
  }

  .custom-avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .user-name {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    color: var(--ion-color-secondary);
  }

  .current-date-display {
    display: inline-block;
    font-size: large;
    font-weight: normal;
    color: var(--ion-color-secondary);
    margin-top: 3%;
  }

  .user-info {
    width: 100%;
  }

  .user-info-buttons {
    min-width: 40%;
    margin: 0 auto;
  }

  .profile-tag {
    font-size: smaller;
    color: black;
    display: inline-block;
    --margin-start: 10px;
    --margin-end: 10px;
  }

  .calendar-buttons {
    color: var(--ion-color-secondary);
    width: 100%;
  }

  .calendar-button {
    display: inline-block;
    width: 30%;
  }

  .calendar-label {
    text-align: center;
  }

  .moment-icon {
    max-width: 20px;
    margin: 0 5px;
  }

  .user-goal {
    font-size: medium;
    color: var(--ion-color-secondary);
    margin-left: 2%;
  }

  .selected {
    text-decoration: underline;
  }

  ion-button {
    ion-badge {
      position: absolute;
      top: 0.1rem;
      right: 0.1rem;

      & ~ ion-icon {
        outline-color: whitesmoke;
      }
    }
  }

  .short-paragraph {
    margin-top: 3px;
    max-height: 36px;
    line-height: 18px; /* Height / no. of lines to display */
    overflow: hidden;
  }

  .pull-handle {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 2px;
    height: 5px;
    border: solid #ffa535;
    border-radius: 20px;
  }

  .calendar-container {
    width: 85%;
    max-width: 400px;
    margin: 10px auto;
    padding-bottom: 10px;
    --color: var(--ion-color-dark);
  }

  .month-title-container {
    width: 100%;
  }

  .month-title {
    width: calc((100% / 7) * 5);
    text-align: center;
    display: inline-block;
  }

  .calendar-arrow {
    width: calc(100% / 7);
    position: relative;
    display: inline-block;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

  .monthview-day-headers {
    width: calc(100% / 7);
    float: left;
    position: relative;
    color: var(--ion-color-grey);
    text-align: center;
  }

  .monthview-element {
    width: calc(100% / 7);
    float: left;
    position: relative;
    padding-bottom: calc(100% / 9);
  }

  .selected-date {
    background-color: var(--ion-color-lightgrey);
    border-radius: 50%;
  }

  .monthview-element .monthview-element-content {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    position: absolute;
  }

  .past-calendar-item {
    background-color: var(--ion-color-grey);
  }

  .monthview-dot-container {
    text-align: center;
    display: inline-block;
  }

  .monthview-element-dot {
    height: 5px;
    width: 5px;
    margin: 0px 0.5px 0px 0.5px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
  }

  .list-container {
    overflow: scroll;
    max-height: 400px;
    margin: 0 auto;
    max-width: 400px;
  }

  .system-message-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .feature-thumbnail {
    height: 40px;
    width: 40px;
  }

  .item-container {
    width: 60%;
    margin: 5px;
    float: left;
  }

  .custom-dropdown {
    background-color: var(--ion-color-primary);
    color: white;
    height: 34%;
    margin-bottom: 1%;
  }

  .profile-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .searchbar-cover {
    background-color: var(--ion-color-primary);
    border-top: 2px var(--ion-color-light) solid;
    height: 50px;
    width: 100%;
  }

  .imgBtn {
    margin-top: 5%;
  }

  .current-date {
    font-weight: bold;
  }

  .date-and-day {
    font-size: large;
    text-align: center;
    width: 10%;
    display: inline-block;
    min-height: 60px;
  }

  .event-img-div {
    display: inline-block;
    width: 20%;
  }

  .event-img {
    border-radius: 50%;
    //position: absolute;
  }

  .event-type-img {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 4px white solid;
  }

  .day-in-weekview {
    height: 100%;
    width: 14%;
    margin: 3% 0;
    display: inline-block;
    text-align: center;
  }

  .no-events-note {
    color: var(--ion-color-grey);
    text-align: center;
    font-size: large;
    vertical-align: center;
  }

  //add Features menu
  #addFeatures {
    animation-name: move-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    max-height: 180px;
    z-index: -50;
  }

  @keyframes move-down {
    from {
      transform: translateY(-90px);
    }
    to {
      transform: translateY(0);
    }
  }

  #searchbar {
    animation-name: move-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  .moreOptions {
    width: 100%;
    background-color: rgba(238, 238, 238, 0.5);
    overflow: scroll;

    .moreGrid {
      width: 100%;
    }

    .topRow {
      width: 100%;
    }

    .optionscol {
      height: 100%;
      width: 100%;

      .colelement {
        height: 50px;
        width: 50px;
        padding: 10px;
        display: table;
        margin: 2% auto;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        background-color: #ffffff;
        border-color: #cccccc;
      }

      .moreLabel {
        display: table;
        margin: 0 auto;
        color: #969696;
        font-size: medium;
      }
    }
  }

  .pageRow {
    position: absolute;
    top: 160px;
    width: 100%;
    height: 14px;
  }

  .circleOne {
    height: 5px;
    width: 5px;
    background-color: #9b9b9b;
    border-radius: 100%;
    margin-left: 48%;
    margin-right: 1.3%;
  }

  .circleTwo {
    height: 5px;
    width: 5px;
    background-color: #9b9b9b;
    border-radius: 100%;
    margin-left: 0;
    margin-right: 47%;
  }

  #darkCicleOne {
    background-color: #4a4a4a;
  }

  #darkCircleTwo {
    background-color: #4a4a4a;
  }

  .to-test-click {
    background-color: red;
  }

  //I hard coded this for mobile
  .person-card {
    max-width: 375px;
    max-height: 174px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 12px;

    // Added the slant pattern!
    .top-pattern {
      position: absolute;
      top: 0;
      height: 15%;
      width: 100%;
      background-color: #62bebf;
      z-index: -1;
    }

    .middle-pattern {
      position: absolute;
      top: 15%;
      height: 50%;
      width: 100%;
      border-style: solid;
      border-width: 0 1300px 500px 0;
      border-color: transparent #62bebf transparent transparent;
      z-index: -1;
    }

    .bottom-pattern {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: var(--ion-color-light);
      z-index: -2;
    }
    .person-card-header {
      padding: 12px !important;
      display: flex;
      flex-direction: row;
    }
  }
  .person-avatar {
    width: 150px !important;
    height: 150px !important;
  }

  .person-content {
    height: 75px;
    overflow: scroll;
    --background: var(--ion-color-light);
  }

  .person-content-item {
    --background: transparent;
  }

  .person-edit-profile {
    width: 183px;
    height: 26px;
  }

  .person-content-left {
    // margin: 8px 12.5px 21px 0;
    // width: 40%;
    // height: 44px;
    // line-height: 100%;
    width: 100%;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  .person-name {
    font-size: 14px;
    width: 183px;
    height: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
  }
  .person-content-container {
    margin-left: 18px;
  }

  .person-title {
    width: 183px;
    height: 28px;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    margin: 8px 0px 16px 0px;
    color: var(--ion-color-darkgrey);
  }

  .content-border {
    border-left: 0.5px solid #979797;
  }

  .person-content-right {
    padding-left: 12.5px;
    margin: 10px 0 21px 0;
    width: 60%;
    height: 42px;
    //max-height: 72px;
    line-height: 14px; /* Height / no. of lines to display */
    overflow: hidden;
    font-size: 12px;
    color: var(--ion-color-darkgrey);
  }

  .section {
    --min-height: 26px;

    .section-label {
      font-size: 12px;
    }
  }

  .program-slides {
    padding: 12px;
  }

  .program-slide {
    max-width: 150px;
  }

  .program-card {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 0 3%;
  }

  .program-photo-container {
    height: 100px;
    overflow: hidden;
    //border-radius: 50%;
    //margin: 5% auto;
  }

  .program-photo {
    object-fit: cover;
    cursor: pointer;
    //opacity: 50%;
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    //max-height: 200px;
  }

  .program-name {
    position: absolute;
    bottom: 2%;
    left: 2%;
    color: white;
    font-size: 12px;
    cursor: pointer;
    z-index: 15;
  }

  .relationship-slides {
    padding: 12px;
  }

  .relationship-slide {
    max-width: 130px;
  }

  .relationship-card {
    height: 146px;
    width: 120px;
    margin: 0 3%;
  }

  .relationship-photo-container {
    height: 84px;
    margin: 0 auto;
  }

  .relationship-avatar {
    .relationship-photo {
      position: absolute;
      cursor: pointer;
    }

    .relationship-photo.border {
      border: 1px solid #ffffff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    }
  }

  .relationship-name-container {
    height: 32px;
    overflow: hidden;
  }

  .relationship-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: black;
  }

  .relationship-description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
  }
}
