<ion-header [hidden]="router.url.includes('/app/user') && !modalPage" [ngClass]="{'ion-no-border': platform.width() >= 768 }">
  <!--<ion-toolbar color="lightgrey" *ngIf="(platform.is('mobileweb') && !platform.is('pwa') && (platform.is('ios') || platform.is('android'))) && userData.showDownloadLink">
    <ion-item-sliding side="end">
      <ion-item lines="none" color="lightgrey">
        <ion-avatar slot="start">
          <ion-img src="assets/img/icon.png"></ion-img>
        </ion-avatar>
        <div class="details" class="ion-text-wrap">
          <a *ngIf="platform.is('ios')" href="https://itunes.apple.com/us/app/restvo-connect-with-churches/id1365903479?ls=1&mt=8" style="font-size: 14px; color: var(&#45;&#45;ion-color-button1)">Download app for better experience</a>
          <a *ngIf="platform.is('android')" href="https://play.google.com/store/apps/details?id=com.restvo.app" style="font-size: 14px; color: var(&#45;&#45;ion-color-button1)">Download app for better experience</a>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary" slot="end"></ion-icon>
        &lt;!&ndash;<ion-button fill="clear" slot="end"><ion-icon name="close"></ion-icon></ion-button>&ndash;&gt;
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="userData.showDownloadLink = false">
          Dismiss
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-toolbar>-->
  <ion-toolbar [ngClass]="{ 'desktop-header-toolbar': platform.width() >= 768 }">
    <ion-menu-toggle menu="main" *ngIf="!modalPage && userData.user" slot="start" fill="clear" id='menuToggle'>
      <ion-button fill="clear" color="grey">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="this.chatService && this.chatService.connectTabBadge" mode="md">{{this.chatService.connectTabBadge}}</ion-badge>
    </ion-menu-toggle>
    <ion-buttons slot="start" *ngIf="modalPage">
      <ion-button (click)="closeModal()" color="grey"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title slot="start" *ngIf="view === 'profile'">Me</ion-title>
    <ion-title slot="start" *ngIf="view === 'calendar'">Calendar</ion-title>
    <ion-item lines="none" routerLink="/app/me" *ngIf="userData.user && platform.width() >= 768" slot="end" mode="md" style="--background: transparent">
      <ion-avatar slot="start">
        <ion-img *ngIf="userData.user && userData.user.avatar" [src]="userData.user.avatar"></ion-img>
        <ion-img *ngIf="!userData.user || !userData.user.avatar" src="assets/img/avatar-default.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        {{userData.user.first_name}} {{userData.user.last_name}}
      </ion-label>
    </ion-item>
    <ion-button id="dashboardSettingsButton" [routerLink]="['/app/user/profile']" *ngIf="!modalPage && userData.user && platform.width() < 768" slot="end" fill="clear" color="grey">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <ion-buttons slot="end" *ngIf="!userData.user">
      <ion-button routerLink="/register" color="grey">
        Sign In
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userData.user">
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <div class="profile-container">
    <ion-row class="profile-row">
      <ion-card class="profile-card" [ngClass]="{'mobile-card': platform.width() < 768}" *ngIf="view === 'profile'">
        <ion-item lines="none">
          <div class="person-photo-container">
            <ion-avatar class="person-avatar">
              <ion-img class="person-avatar" *ngIf="userData.user && userData.user.avatar" [src]="userData.user.avatar"></ion-img>
              <ion-img class="person-avatar" *ngIf="!userData.user || !userData.user.avatar" src="assets/img/avatar-default.jpg"></ion-img>
            </ion-avatar>
          </div>
          <div class="person-content">
            <ion-card-title class="person-name">
              {{userData.user.first_name}} {{userData.user.last_name}}
            </ion-card-title>
            <div class="person-bio" [innerHTML]="userData.user.bio"></div>
            <ion-button id="edit-profile-button" shape="round" class="person-edit-profile" fill="outline" (click)="openAboutMe()" >Edit Profile</ion-button>
          </div>
        </ion-item>
      </ion-card>
    </ion-row>

    <!-- Complete your Profile Banner -->
    <ion-row class="profile-row" *ngIf="view === 'profile'">
      <ion-card [routerLink]="['/app/completeprofile']" class="profile-card" *ngIf="userData.user && (!userData.user.avatar || authService.incompleteOnboardProcess || (platform.is('cordova') && !userData.user.importContactList && !userData.delayImportContactListReminder) || (!userData.user.enablePushNotification && !userData.delayPushNotificationReminder))" [ngClass]="{'mobile-card': platform.width() < 768}">
        <ion-item-sliding>
          <ion-item lines="none">
            <div class="completed_percentage">
              {{(userData.user.avatar ? 50 : 0) + (authService.incompleteOnboardProcess ? 0 : 50)}}%
            </div>
            <div class="ion-text-wrap message-container">
              <ion-label style="font-size: 14px">Complete the Setup</ion-label>
              <p class="message-detail">Complete these steps to help you get the most out of Restvo</p>
            </div>
            <ion-icon name="chevron-forward-outline" color="primary" slot="end"></ion-icon>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="primary" (click)="authService.incompleteOnboardProcess = null">
              Dismiss
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-row>
    <div *ngIf="view === 'profile' || view === 'calendar'" size-xs="12" size-sm="12" size-md="6">
      <ion-toolbar *ngIf="view === 'calendar'">
        <ion-item class="transparent ion-margin-top" lines="none">
          <ion-row class="calendar-buttons">
            <ion-col class="calendar-button" (click)="calendarService.changeMode('month')">
              <div class="calendar-label" [ngClass]="{ 'selected' : calendarService.calendar.mode == 'month'}">Month</div>
            </ion-col>
            <ion-col class="calendar-button" (click)="calendarService.changeMode('week')">
              <div class="calendar-label" [ngClass]="{ 'selected' : calendarService.calendar.mode == 'week'}">Week</div>
            </ion-col>
            <ion-col class="calendar-button" (click)="calendarService.changeMode('upcoming')" *ngIf="calendarService.hasUpcomingItems">
              <div class="calendar-label" [ngClass]="{ 'selected' : calendarService.calendar.mode == 'upcoming'}">Upcoming</div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-toolbar>
      <!--CALENDAR SECTION-->
      <ion-grid class="content-grid">
        <ion-row>
          <ion-col [size]="(platform.width() >= 992) ? 6 : 12">
            <ion-card class="calendar-container ion-padding-vertical" *ngIf="calendarService.calendar.mode == 'month' || calendarService.calendar.mode == 'week'">
              <div class="month-title-container">
                <ion-icon name="chevron-back-outline" class="calendar-arrow left" (click)="calendarService.changeDate($event, 4)"></ion-icon>
                <div class="month-title">{{calendarService.calendar.viewTitle}}</div>
                <ion-icon name="chevron-forward-outline" class="calendar-arrow right" (click)="calendarService.changeDate($event, 2)"></ion-icon>
              </div>

              <div class="monthview-day-headers">S</div>
              <div class="monthview-day-headers">M</div>
              <div class="monthview-day-headers">T</div>
              <div class="monthview-day-headers">W</div>
              <div class="monthview-day-headers">T</div>
              <div class="monthview-day-headers">F</div>
              <div class="monthview-day-headers">S</div>

              <!--month view-->
              <div *ngIf="calendarService.calendar.mode == 'month'">
                <div class="monthview-element" *ngFor="let dayOfMonth of calendarService.calendar.daysInViewMonth; trackBy: customTrackBy">
                  <div class="monthview-element-content cursor-pointer" [ngClass]="{'selected-date' : calendarService.calendar.selectedDate.toString() === dayOfMonth.date.toString() && dayOfMonth.date != ' ','current-date': calendarService.calendar.currentDate.toString().substring( 0 , 15) == dayOfMonth.date.toString().substring(0 , 15)}" (click)="changeSelectedDate(dayOfMonth.date)">
                    <div *ngIf="dayOfMonth.date == ' ' ">&nbsp;&nbsp;</div>
                    <div *ngIf="dayOfMonth.date != ' ' ">
                      {{dayOfMonth.date.getDate()}}
                    </div>
                    <div class="monthview-dot-container" *ngFor="let calendarItem of dayOfMonth.dayEvents; trackBy: customTrackBy; let i = index">
                      <div class="monthview-element-dot" [ngClass]="{'past-calendar-item' : calendarItem.pastEvent}" *ngIf="i < 5"></div>
                    </div>
                  </div>
                </div>
              </div>

              <!--week view-->
              <div *ngIf="calendarService.calendar.mode == 'week'">
                <div class="monthview-element" *ngFor="let dayOfWeek of calendarService.calendar.daysInViewWeek; trackBy: customTrackBy">
                  <div class="monthview-element-content cursor-pointer" [ngClass]="{'selected-date' : calendarService.calendar.selectedDate.toString() === dayOfWeek.date.toString() && dayOfWeek.date != ' ','current-date': calendarService.calendar.currentDate.toString().substring(0 , 15) == dayOfWeek.date.toString().substring(0 , 15)}" (click)="changeSelectedDate(dayOfWeek.date)">
                    <div *ngIf="dayOfWeek.date == ' ' ">&nbsp;&nbsp;</div>
                    <div *ngIf="dayOfWeek.date != ' ' ">
                      {{dayOfWeek.date.getDate()}}
                    </div>
                    <div class="monthview-dot-container" *ngFor="let calendarItem of dayOfWeek.dayEvents; trackBy: customTrackBy; let i = index">
                      <div class="monthview-element-dot" [ngClass]="{'past-calendar-item' : calendarItem.pastEvent}" *ngIf="i < 5"></div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card>
          </ion-col>
          <ion-col [size]="(platform.width() >= 992) && calendarService.calendar.mode !== 'upcoming' ? 6 : 12" class="ion-align-self-center">
            <!-- list features after being filtered -->
            <ion-card class="list-container" [ngClass]="{'fixed-height': (calendarService.calendar.mode !== 'upcoming') && (view === 'profile')}">
              <div *ngFor="let calendarItem of calendarService.calendarItems; trackBy: customTrackBy" id="event-title" >
                <ion-item (click)="clickCalendarItem(calendarItem)" *ngIf="((((calendarService.calendar.mode == 'month' && calendarService.calendar.selectedDate.getMonth() == calendarService.calendar.currentViewDate.getMonth()) || (calendarService.calendar.mode == 'week' && calendarService.calendar.selectedDate.getMonth() == calendarService.calendar.currentViewDate.getMonth())) && calendarService.eventOnDay( calendarService.calendar.selectedDate , calendarItem )) || (calendarService.calendar.mode == 'upcoming' && calendarItem.validUpcomingItem)) && calendarItem.title.toLowerCase().indexOf(this.searchKeyword.toLowerCase()) > -1" id="feature" lines="none">
                  <ion-label class="moment-icon" slot="start">
                    <img [src]="momentService.loadIcon(calendarItem.moment.resource.field).url" />
                  </ion-label>
                  <ion-badge [color]="momentService.loadIcon(calendarItem.moment.resource.field).color">{{calendarItem.moment.resource['en-US'].value[0]}}</ion-badge>
                  <div class="item-container" slot="end">
                    <ion-label>{{calendarItem.title}}</ion-label>
                    <ion-note *ngIf="calendarItem.moment.resource.field !== 'Poll'">{{calendarItem.startDate | datetime: 'h:n,m:n'}}</ion-note>
                    <ion-note *ngIf="calendarItem.moment.resource.field === 'Poll'">{{calendarItem.endDate | datetime: 'h:n,m:n'}}</ion-note>
                  </div>
                </ion-item>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid class="content-grid" *ngIf="view === 'profile'">
      <ion-row>
        <!--List My Journey-->
        <ion-col [size]="(platform.width() >= 768) && (journeys?.length <= 6) ? 6 : 12" [ngStyle]="{'padding': platform.width() >= 768 ? '6px 5px' : '6px 0'}">
          <ion-card class="ion-no-margin ion-no-padding section-card" [ngClass]="{'mobile-card': platform.width() < 768}">
            <ion-item class="section" lines="none"> <!--section header-->
              <ion-label class="section-label" color="darkgrey">My Journey</ion-label>
              <ion-button slot="end" [routerLink]="['../choose', { categoryId: '5e9f46e1c8bf1a622fec69d5', joinAs: 'user_list_1' }]" fill="clear">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>

            <!-- Loading skeleton text -->
            <ion-grid *ngIf="loading && platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" size="auto">
                  <ion-card class="grid-program-card">
                    <div class="program-photo-container">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                  </ion-card>
                </ion-col>
                <ion-col class="ion-align-self-center" size="auto">
                  <ion-card class="grid-program-card">
                    <div class="program-photo-container">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!--Journey Empty State-->
            <div class="empty-state" *ngIf="!(journeys && journeys.length) && !loading">
              <img src="assets/img/journey.svg" alt="" />
              <a [routerLink]="['/app/discover', { filterOption: 'individual' }]" class="underline">
                You don't have any journeys yet. Find out what is available on Restvo</a>
            </div>

            <!--Journey Mobile View-->
            <ion-slides class="program-slides" [options]="{slidesPerView: 'auto', slidesOffsetAfter: this.platform.width() - 150, grabCursor: true, updateOnWindowResize: true}" *ngIf="journeys && journeys.length && platform.width() < 768">
              <ion-slide class="program-slide" *ngFor="let journey of journeys; trackBy: customTrackBy" [hidden]="!((journey.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || journey.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase())))">
                <ion-card class="program-card" (click)="openProgram($event, journey)">
                  <ion-card-header class="ion-no-padding">
                    <div class="program-photo-container">
                      <img class="program-photo" [src]="(journey.assets && journey.assets.length && journey.assets[0]) | background: journey._id" />
                    </div>
                  </ion-card-header>
                  <div class="program-name">{{journey.matrix_string[0][0]}}</div>
                </ion-card>
              </ion-slide>
            </ion-slides>
            <!--Journey Desktop View-->
            <ion-grid *ngIf="journeys && journeys.length && platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" *ngFor="let journey of journeys; trackBy: customTrackBy" [hidden]="!((journey.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || journey.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase())))" size="auto">
                  <ion-card class="grid-program-card" (click)="openProgram($event, journey)">
                    <ion-card-header class="ion-no-padding">
                      <div class="program-photo-container">
                        <img class="program-photo" [src]="(journey.assets && journey.assets.length && journey.assets[0]) | background: journey._id" />
                      </div>
                    </ion-card-header>
                    <div class="program-name">{{journey.matrix_string[0][0]}}</div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
        <!--List My Mentors-->
        <ion-col *ngIf="myMentees && myMentees.length" [size]="(platform.width() >= 768) && (myMentors?.length <= 2) ? 6 : 12" [ngStyle]="{'padding': platform.width() >= 768 ? '6px 5px' : '6px 0'}">
          <ion-card class="ion-no-margin ion-no-padding section-card" [ngClass]="{'mobile-card': platform.width() < 768}">
            <ion-item class="section" lines="none"> <!--section header-->
              <ion-label class="section-label" color="darkgrey">My Mentors</ion-label>
              <ion-button slot="end" [routerLink]="['../choose', { categoryId: '5e9fe372c8bf1a622fec69d8', joinAs: 'user_list_1' }]" fill="clear">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>

            <!-- Loading skeleton text -->
            <ion-grid *ngIf="loading && platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" size="auto">
                  <ion-card class="grid-program-card">
                    <div class="program-photo-container">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                  </ion-card>
                </ion-col>
                <ion-col class="ion-align-self-center" size="auto">
                  <ion-card class="grid-program-card">
                    <div class="program-photo-container">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!--Mentors Empty State-->
            <!--<div class="empty-state" *ngIf="!(myMentors && myMentors.length) && !loading">
              <img src="assets/img/mentors.svg" alt="" />
              <a [routerLink]="['../choose', { categoryId: '5e9fe372c8bf1a622fec69d8', joinAs: 'user_list_1' }]" class="underline">
                You don't have any mentors yet. Browse templates and invite your mentors to join.</a>
            </div>-->

            <!--Mentors Mobile View-->
            <ion-slides class="relationship-slides" [options]="{slidesPerView: 'auto', slidesOffsetAfter: this.platform.width() - 129, grabCursor: true, updateOnWindowResize: true}" *ngIf="myMentors && myMentors.length && platform.width() < 768">
              <ion-slide class="relationship-slide" *ngFor="let relationship of myMentors; trackBy: customTrackBy;" [hidden]="!(relationship.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || relationship.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase()))">
                <ion-card class="relationship-card" (click)="openProgram($event, relationship)">
                  <ion-card-header class="ion-no-padding ion-justify-content-center">
                    <div class="relationship-photo-container">
                      <ion-avatar class="relationship-avatar" *ngFor="let user of relationship.mentors; index as i" [hidden]="!relationship.mentors.length">
                        <img class="relationship-photo" *ngIf="(relationship.mentors.length % 3) === 1" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '12px', 'left': 24 + 'px', 'z-index': (i % relationship.numberOfMentorsDisplayed), 'height': '72px', 'width': '72px'}" />
                        <img class="relationship-photo border" *ngIf="(relationship.mentors.length % 3) === 2" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '18px', 'left': 55 - (i % relationship.numberOfMentorsDisplayed) * 44 + 'px', 'z-index': (i % relationship.numberOfMentorsDisplayed), 'height': '54px', 'width': '54px'}" />
                        <img class="relationship-photo border" *ngIf="(relationship.mentors.length % 3) === 0" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '17px', 'left': 69 - (i % relationship.numberOfMentorsDisplayed) * 31 + 'px', 'z-index': (i % relationship.numberOfMentorsDisplayed), 'height': '45px', 'width': '45px'}" />
                      </ion-avatar>
                      <ion-avatar class="relationship-avatar" [hidden]="relationship.mentors.length">
                        <img class="relationship-photo" src="assets/img/avatar-default.jpg" [ngStyle]="{'top': '12px', 'left': '24px', 'height': '72px', 'width': '72px'}" />
                      </ion-avatar>
                    </div>
                  </ion-card-header>
                  <ion-card-content class="ion-no-padding">
                    <ion-row class="relationship-name-container top ion-align-items-center">
                      <ion-col class="relationship-name ion-no-padding" *ngIf="relationship.mentors.length === 1">{{relationship.mentors[0].first_name}}</ion-col>
                      <ion-col class="relationship-name ion-no-padding" *ngIf="relationship.mentors.length === 2">{{relationship.mentors[1].first_name}}, {{relationship.mentors[0].first_name}}</ion-col>
                      <ion-col class="relationship-name ion-no-padding" *ngIf="!relationship.mentors.length || (relationship.mentors.length > 2)">{{relationship.matrix_string[0][0]}}</ion-col>
                    </ion-row>
                    <ion-row class="relationship-name-container ion-align-items-center">
                      <ion-col class="relationship-description">{{relationship.program}}</ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
            <!--Mentors Desktop View-->
            <ion-grid *ngIf="myMentors && myMentors.length && platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" size="auto" *ngFor="let relationship of myMentors; trackBy: customTrackBy;" [hidden]="!(relationship.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || relationship.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase()))">
                  <ion-card class="relationship-card" (click)="openProgram($event, relationship)">
                    <ion-card-header class="ion-no-padding ion-justify-content-center">
                      <div class="relationship-photo-container">
                        <ion-avatar class="relationship-avatar" *ngFor="let user of relationship.mentors; index as i" [hidden]="!relationship.mentors.length">
                          <img class="relationship-photo" *ngIf="(relationship.mentors.length % 3) === 1" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '12px', 'left': 24 + 'px', 'z-index': (i % relationship.numberOfMentorsDisplayed), 'height': '72px', 'width': '72px'}" />
                          <img class="relationship-photo border" *ngIf="(relationship.mentors.length % 3) === 2" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '18px', 'left': 55 - (i % relationship.numberOfMentorsDisplayed) * 44 + 'px', 'z-index': (i % relationship.numberOfMentorsDisplayed), 'height': '54px', 'width': '54px'}" />
                          <img class="relationship-photo border" *ngIf="(relationship.mentors.length % 3) === 0" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '17px', 'left': 69 - (i % relationship.numberOfMentorsDisplayed) * 31 + 'px', 'z-index': (i % relationship.numberOfMentorsDisplayed), 'height': '45px', 'width': '45px'}" />
                        </ion-avatar>
                        <ion-avatar class="relationship-avatar" [hidden]="relationship.mentors.length">
                          <img class="relationship-photo" src="assets/img/avatar-default.jpg" [ngStyle]="{'top': '12px', 'left': '24px', 'height': '72px', 'width': '72px'}" />
                        </ion-avatar>
                      </div>
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding">
                      <ion-row class="relationship-name-container top ion-align-items-center">
                        <ion-col class="relationship-name ion-no-padding" *ngIf="relationship.mentors.length === 1">{{relationship.mentors[0].first_name}}</ion-col>
                        <ion-col class="relationship-name ion-no-padding" *ngIf="relationship.mentors.length === 2">{{relationship.mentors[1].first_name}}, {{relationship.mentors[0].first_name}}</ion-col>
                        <ion-col class="relationship-name ion-no-padding" *ngIf="!relationship.mentors.length || (relationship.mentors.length > 2)">{{relationship.matrix_string[0][0]}}</ion-col>
                      </ion-row>
                      <ion-row class="relationship-name-container ion-align-items-center">
                        <ion-col class="relationship-description">{{relationship.program}}</ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
        <!--List My Mentees-->
        <ion-col *ngIf="myMentees && myMentees.length" [size]="(platform.width() >= 768) && (myMentees?.length <= 2) ? 6 : 12" [ngStyle]="{'padding': platform.width() >= 768 ? '6px 5px' : '6px 0'}">
          <ion-card class="ion-no-margin ion-no-padding section-card" [ngClass]="{'mobile-card': platform.width() < 768}">
            <ion-item class="section" lines="none"> <!--section header-->
              <ion-label class="section-label" color="darkgrey">My Mentees</ion-label>
              <ion-button slot="end" [routerLink]="['../choose', { categoryId: '5e9fe372c8bf1a622fec69d8', joinAs: 'user_list_3' }]" fill="clear">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>

            <!-- Loading skeleton text -->
            <ion-grid *ngIf="loading && platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" size="auto">
                  <ion-card class="grid-program-card">
                    <div class="program-photo-container">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                  </ion-card>
                </ion-col>
                <ion-col class="ion-align-self-center" size="auto">
                  <ion-card class="grid-program-card">
                    <div class="program-photo-container">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!--Mentees Empty State-->
            <!--<div class="empty-state" *ngIf="!(myMentees && myMentees.length) && !loading">
              <img src="assets/img/mentees.svg" alt="" />
              <a [routerLink]="['../choose', { categoryId: '5e9fe372c8bf1a622fec69d8', joinAs: 'user_list_3' }]" class="underline">
              You don't have any mentees yet. Browse templates and invite your mentees to join.</a>
            </div>-->

            <!--Mentees Mobile View-->
            <ion-slides class="relationship-slides" [options]="{slidesPerView: 'auto', slidesOffsetAfter: this.platform.width() - 129, grabCursor: true, updateOnWindowResize: true}" *ngIf="myMentees && myMentees.length && platform.width() < 768">
              <ion-slide class="relationship-slide" *ngFor="let relationship of myMentees; trackBy: customTrackBy;" [hidden]="!(relationship.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || relationship.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase()))">
                <ion-card class="relationship-card" (click)="openProgram($event, relationship)">
                  <ion-card-header class="ion-no-padding">
                    <div class="relationship-photo-container ion-justify-content-center">
                      <ion-avatar class="relationship-avatar" *ngFor="let user of relationship.mentees; index as i" [hidden]="!relationship.mentees.length">
                        <img class="relationship-photo" *ngIf="(relationship.mentees.length % 3) === 1" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '12px', 'left': 24 + 'px', 'z-index': (i % relationship.numberOfMenteesDisplayed), 'height': '72px', 'width': '72px'}" />
                        <img class="relationship-photo border" *ngIf="(relationship.mentees.length % 3) === 2" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '18px', 'left': 55 - (i % relationship.numberOfMenteesDisplayed) * 44 + 'px', 'z-index': (i % relationship.numberOfMenteesDisplayed), 'height': '54px', 'width': '54px'}" />
                        <img class="relationship-photo border" *ngIf="(relationship.mentees.length % 3) === 0" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '17px', 'left': 69 - (i % relationship.numberOfMenteesDisplayed) * 31 + 'px', 'z-index': (i % relationship.numberOfMenteesDisplayed), 'height': '45px', 'width': '45px'}" />
                      </ion-avatar>
                      <ion-avatar class="relationship-avatar" [hidden]="relationship.mentees.length">
                        <img class="relationship-photo" src="assets/img/avatar-default.jpg" [ngStyle]="{'top': '12px', 'left': '24px', 'height': '72px', 'width': '72px'}" />
                      </ion-avatar>
                    </div>
                  </ion-card-header>
                  <ion-card-content class="ion-no-padding">
                    <ion-row class="relationship-name-container top ion-align-items-center">
                      <ion-col class="relationship-name ion-no-padding" *ngIf="relationship.mentees.length === 1">{{relationship.mentees[0].first_name}}</ion-col>
                      <ion-col class="relationship-name ion-no-padding" *ngIf="relationship.mentees.length === 2">{{relationship.mentees[1].first_name}}, {{relationship.mentees[0].first_name}}</ion-col>
                      <ion-col class="relationship-name ion-no-padding" *ngIf="!relationship.mentees.length || (relationship.mentees.length > 2)">{{relationship.matrix_string[0][0]}}</ion-col>
                    </ion-row>
                    <ion-row class="relationship-name-container ion-align-items-center">
                      <ion-col class="relationship-description">{{relationship.program}}</ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
            <!--Mentees Desktop View-->
            <ion-grid *ngIf="myMentees && myMentees.length && platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" size="auto" *ngFor="let relationship of myMentees; trackBy: customTrackBy;" [hidden]="!(relationship.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || relationship.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase()))">
                  <ion-card class="relationship-card" (click)="openProgram($event, relationship)">
                    <ion-card-header class="ion-no-padding">
                      <div class="relationship-photo-container ion-justify-content-center">
                        <ion-avatar class="relationship-avatar" *ngFor="let user of relationship.mentees; index as i" [hidden]="!relationship.mentees.length">
                          <img class="relationship-photo" *ngIf="(relationship.mentees.length % 3) === 1" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '12px', 'left': 24 + 'px', 'z-index': (i % relationship.numberOfMenteesDisplayed), 'height': '72px', 'width': '72px'}" />
                          <img class="relationship-photo border" *ngIf="(relationship.mentees.length % 3) === 2" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '18px', 'left': 55 - (i % relationship.numberOfMenteesDisplayed) * 44 + 'px', 'z-index': (i % relationship.numberOfMenteesDisplayed), 'height': '54px', 'width': '54px'}" />
                          <img class="relationship-photo border" *ngIf="(relationship.mentees.length % 3) === 0" [src]="user.avatar || 'assets/img/avatar-default.jpg'" [ngStyle]="{'top': '17px', 'left': 69 - (i % relationship.numberOfMenteesDisplayed) * 31 + 'px', 'z-index': (i % relationship.numberOfMenteesDisplayed), 'height': '45px', 'width': '45px'}" />
                        </ion-avatar>
                        <ion-avatar class="relationship-avatar" [hidden]="relationship.mentees.length">
                          <img class="relationship-photo" src="assets/img/avatar-default.jpg" [ngStyle]="{'top': '12px', 'left': '24px', 'height': '72px', 'width': '72px'}" />
                        </ion-avatar>
                      </div>
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding">
                      <ion-row class="relationship-name-container top ion-align-items-center">
                        <ion-col class="relationship-name ion-no-padding" *ngIf="relationship.mentees.length === 1">{{relationship.mentees[0].first_name}}</ion-col>
                        <ion-col class="relationship-name ion-no-padding" *ngIf="relationship.mentees.length === 2">{{relationship.mentees[1].first_name}}, {{relationship.mentees[0].first_name}}</ion-col>
                        <ion-col class="relationship-name ion-no-padding" *ngIf="!relationship.mentees.length || (relationship.mentees.length > 2)">{{relationship.matrix_string[0][0]}}</ion-col>
                      </ion-row>
                      <ion-row class="relationship-name-container ion-align-items-center">
                        <ion-col class="relationship-description">{{relationship.program}}</ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
        <!--List My Groups-->
        <ion-col [size]="(platform.width() >= 768) && (groups?.length <= 6) ? 6 : 12" [ngStyle]="{'padding': platform.width() >= 768 ? '6px 5px' : '6px 0'}">
          <ion-card class="ion-no-margin ion-no-padding section-card" [ngClass]="{'mobile-card': platform.width() < 768}">
            <ion-item class="section" lines="none"> <!--section header-->
              <ion-label class="section-label" color="darkgrey">My Groups</ion-label>
              <ion-button slot="end" [routerLink]="['../choose', { categoryId: '5e9fe35cc8bf1a622fec69d7' }]" fill="clear">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-grid *ngIf="loading && platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" size="auto">
                  <ion-card class="grid-program-card">
                    <div class="program-photo-container">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                  </ion-card>
                </ion-col>
                <ion-col class="ion-align-self-center" size="auto">
                  <ion-card class="grid-program-card">
                    <div class="program-photo-container">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!--Group Empty State-->
            <div class="empty-state" *ngIf="!(groups && groups.length) && !loading">
              <img src="assets/img/groups.svg" alt="" />
              <a [routerLink]="['/app/discover', { filterOption: 'group' }]" class="underline">
                You have not joined any group yet. Check out our current groups</a>
            </div>

            <!--Group Mobile View-->
            <ion-slides class="program-slides" [options]="{slidesPerView: 'auto', slidesOffsetAfter: this.platform.width() - 150, grabCursor: true, updateOnWindowResize: true}" *ngIf="groups && groups.length && platform.width() < 768">
              <ion-slide class="program-slide" *ngFor="let group of groups; trackBy: customTrackBy" [hidden]="!((group.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || group.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase())))">
                <ion-card class="program-card" (click)="openProgram($event, group)">
                  <ion-card-header class="ion-no-padding">
                    <div class="program-photo-container">
                      <img class="program-photo" [src]="(group.assets && group.assets.length && group.assets[0]) | background: group._id" />
                    </div>
                  </ion-card-header>
                  <div class="program-name">{{group.matrix_string[0][0]}}</div>
                </ion-card>
              </ion-slide>
            </ion-slides>
            <!--Group Desktop View-->
            <ion-grid *ngIf="groups && groups.length && platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" *ngFor="let group of groups; trackBy: customTrackBy" [hidden]="!((group.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || group.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase())))" size="auto">
                  <ion-card class="grid-program-card" (click)="openProgram($event, group)">
                    <ion-card-header class="ion-no-padding">
                      <div class="program-photo-container">
                        <img class="program-photo" [src]="(group.assets && group.assets.length && group.assets[0]) | background: group._id" />
                      </div>
                    </ion-card-header>
                    <div class="program-name">{{group.matrix_string[0][0]}}</div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
        <!--List My Community-->
        <ion-col *ngIf="programs && programs.length" [size]="(platform.width() >= 768) && (programs.length <= 6) ? 6 : 12" [ngStyle]="{'padding': platform.width() >= 768 ? '6px 5px' : '6px 0'}">
          <ion-card class="ion-no-margin ion-no-padding section-card" [ngClass]="{'mobile-card': platform.width() < 768}">
            <ion-item class="section" lines="none"> <!--section header-->
              <ion-label class="section-label" color="darkgrey">My Community</ion-label>
              <ion-button slot="end" [routerLink]="['/app/create/community', { categoryId: '5c915324e172e4e64590e346' }]" fill="clear">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-slides class="program-slides" [options]="{slidesPerView: 'auto', slidesOffsetAfter: this.platform.width() - 150, grabCursor: true, updateOnWindowResize: true}" *ngIf="platform.width() < 768">
              <ion-slide class="program-slide" *ngFor="let program of programs; trackBy: customTrackBy" [hidden]="!((program.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || program.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase())))">
                <ion-card class="program-card" (click)="openProgram($event, program)">
                  <ion-card-header class="ion-no-padding">
                    <div class="program-photo-container">
                      <img class="program-photo" [src]="(program.assets && program.assets.length && program.assets[0]) | background: program._id" />
                    </div>
                  </ion-card-header>
                  <div class="program-name">{{program.matrix_string[0][0]}}</div>
                </ion-card>
              </ion-slide>
            </ion-slides>
            <ion-grid *ngIf="platform.width() >= 768">
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" *ngFor="let program of programs; trackBy: customTrackBy" [hidden]="!((program.matrix_string[0][0].toLowerCase().includes(searchKeyword.toLowerCase()) || program.resource['en-US'].value[0].toLowerCase().includes(searchKeyword.toLowerCase())))" size="auto">
                  <ion-card class="grid-program-card" (click)="openProgram($event, program)">
                    <ion-card-header class="ion-no-padding">
                      <div class="program-photo-container">
                        <img class="program-photo" [src]="(program.assets && program.assets.length && program.assets[0]) | background: program._id" />
                      </div>
                    </ion-card-header>
                    <div id="{{program.matrix_string[0][0]}}" class="program-name">{{program.matrix_string[0][0]}}</div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>

        <!--System Notifications-->
        <ion-col *ngIf="!noSystemMessage" size-xs="12" size-sm="12" size-md="6" [ngStyle]="{'padding': platform.width() >= 768 ? '6px 5px' : '6px 0'}">
          <ion-card class="ion-no-margin ion-no-padding" [ngClass]="{'mobile-card': platform.width() < 768}">
            <ion-item class="section" lines="none" *ngIf="platform.width() >= 768"> <!--section header-->
              <ion-label class="section-label" color="darkgrey">System Notifications</ion-label>
            </ion-item>
            <ion-list class="system-message-container ion-padding">
              <ion-item>
                <ion-buttons slot="end">
                  <ion-button fill="solid" color="primary" size="small" (click)="handleSystemMessages('accept')">Accept All</ion-button>
                  <ion-button fill="clear" color="primary" size="small" (click)="handleSystemMessages('clear')">Clear All</ion-button>
                </ion-buttons>
              </ion-item>
              <div *ngFor="let pendingNotification of pendingNotifications; trackBy: customTrackBy">
                <ion-item class="ion-text-wrap" (click)="viewMessage($event, pendingNotification)" *ngIf="pendingNotification.message.toLowerCase().indexOf(this.searchKeyword.toLowerCase()) > -1" lines="none">
                  <p style="color: var(--ion-color-dark);">{{pendingNotification.message}}</p>
                  <ion-icon color="primary" ios="ellipsis-horizontal" md="ellipsis-vertical" slot="end"></ion-icon>
                </ion-item>
              </div>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
