<ion-content>
  <ion-grid style="height: 100%" *ngIf="ionSpinner">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-spinner name="dots"></ion-spinner>
    </ion-row>
  </ion-grid>
  <div *ngIf="view === 'signin'" class="full-height fade-in">
    <ion-grid class="full-height">
      <ion-row class="ion-align-items-center full-height">
        <ion-col size-sm="12" size-md="7">
          <form (ngSubmit)="login()" [formGroup]="loginForm" class="login-form">
            <ion-list lines="none" class="ion-no-padding">
              <ion-buttons *ngIf="!authService.token" slot="start">
                <ion-button (click)="close()"><ion-icon name="chevron-back-outline" color="primary"></ion-icon></ion-button>
              </ion-buttons>
              <ion-row>
                <ion-col *ngIf="platform.width() >= 768">
                  <!-- <img class="login-logo" src="assets/img/icon.png"/> -->
                  <div class="welcome-name" *ngIf="!recovery_mode">Sign in Restvo</div>
                  <div class="welcome-name" *ngIf="recovery_mode">Recover Account</div>
                </ion-col>
                <ion-col *ngIf="platform.width() < 768">
                  <img class="login-login" src="assets/img/icon.png"/>
                  <div class="welcome-name-mobile">Restvo</div>
                </ion-col>
              </ion-row>
              <ion-segment [value]="loginMode" (ionChange)="changeLoginMode($event)">
                <ion-segment-button value="email">
                  <ion-label>Email</ion-label>
                </ion-segment-button>
                <ion-segment-button value="mobile">
                  <ion-label>Mobile</ion-label>
                </ion-segment-button>
              </ion-segment>
              <ion-item *ngIf="loginMode === 'mobile'" lines="full">
                <ion-select [interfaceOptions]="{cssClass: 'level-15'}" class="calling_code" formControlName="calling_code" name="Country Calling Code" value="+1">
                  <ion-select-option *ngFor="let calling_code of calling_codes" [value]="calling_code.value">{{calling_code.name}}</ion-select-option>
                </ion-select>
                <ion-input id="phone_number" class="phone_number" type="tel" formControlName="phone_number" placeholder="Mobile Number"></ion-input>
              </ion-item>
              <ion-item *ngIf="loginMode === 'email'" lines="full">
                <ion-input id="email" class="email" type="email" formControlName="email" placeholder="Email" id="email"></ion-input>
              </ion-item>
              <ion-item [hidden]="recovery_mode" lines="full">
                <ion-input id="password" class="password" (key.enter) = "login()" placeholder="Password" formControlName="password" [type]="passwordType"></ion-input>
                <ion-icon slot="end" [name]="passwordIcon" class="password-icon" (click)='hideShowPassword()'></ion-icon>
              </ion-item>
            </ion-list>
            <div>
              <p class="ion-padding-horizontal" color="red" *ngIf="loginStatus">{{loginStatus}}</p>
            </div>
            <ion-button expand="block" shape="round" *ngIf="!recovery_mode" (click)="login()" color="primary" id="login-button">Login</ion-button>
            <ion-button expand="block" shape="round" *ngIf="recovery_mode && loginMode === 'mobile'" (click)="recover()" color="primary">Send Recovery Code</ion-button>
            <ion-button expand="block" shape="round" *ngIf="recovery_mode && loginMode === 'email'" (click)="recover()" color="primary">Send Recovery Link</ion-button>
            <input style="display: none;" type="submit">
          </form>
          <div style="margin-top: 10px">
             <ion-button *ngIf="!recovery_mode && platform.width() < 768" (click)="view = 'welcome'" class="create-account" fill="clear">Create an Account</ion-button>
            <ion-button *ngIf="!recovery_mode" (click)="toggleRecoveryMode()" class="create-account" fill="clear">Forgot my Password</ion-button>
            <ion-button *ngIf="recovery_mode" (click)="toggleRecoveryMode()" class="create-account" fill="clear" expand="full">Back to Login</ion-button>
          </div>
        </ion-col>
          
        <ion-col class="right-signUp" *ngIf="platform.width() >= 768">
          <img class="background-img" src="assets/img/signUp.png"/>
          <!--<div class="welcome-title">HELLO, Friend!</div>-->
          <div class="welcome-subtitle">Not a user yet? Sign up here</div>
          <ion-button color="white" expand="full" shape="round" fill="outline clear" (click)="view = 'welcome'" id="signup-button">Sign up</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="view === 'welcome'" class="full-height fade-in">
    <ion-grid class="full-height">
      <ion-row class="ion-align-items-center full-height overflow">
        <ion-list>
          <ion-slides #welcomeSlides pager class="ion-padding-bottom">
            <!--Intro slide 1-->
            <ion-slide>
              <ion-list>
                <ion-buttons style="margin-left: 18px" slot="start" (click)="view = 'signin'">
                  <ion-button fill="clear">
                    <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-item class="ion-justify-content-center intro-graphics" style="margin-left: 2%; margin-right: 2%" lines="none">
                  <div class="graphics-container">
                    <img src="assets/img/intro_1.png" />
                  </div>
                </ion-item>
                <ion-row class="ion-justify-content-center" lines="none">
                  <div class="intro-title">Connect with mentors</div>
                </ion-row>
                <ion-row class="ion-justify-content-center" lines="none">
                  <p class="intro-description">Restvo helps you discover new mentors</p>
                </ion-row>
              </ion-list>
            </ion-slide>
            <!--Intro slide 2-->
            <ion-slide>
              <ion-list>
                <ion-item class="ion-justify-content-center intro-graphics" style="margin-left: 7%; margin-right: 7%" lines="none">
                  <div class="graphics-container">
                    <img src="assets/img/intro_2.png" />
                  </div>
                </ion-item>
                <ion-row class="ion-justify-content-center" lines="none">
                  <div class="intro-title">Build deeper relationships</div>
                </ion-row>
                <ion-row class="ion-justify-content-center" lines="none">
                  <p class="intro-description">Invest in relationship that fosters growth.</p>
                </ion-row>
              </ion-list>
            </ion-slide>
            <!--Intro slide 3-->
            <ion-slide>
              <ion-list>
                <ion-item class="ion-justify-content-center intro-graphics" lines="none">
                  <div class="graphics-container">
                    <img src="assets/img/intro_3.png" />
                  </div>
                </ion-item>
                <ion-row class="ion-justify-content-center" lines="none">
                  <div class="intro-title">Discover new communities</div>
                </ion-row>
                <ion-row class="ion-justify-content-center" lines="none">
                  <p class="intro-description">It is better to do it with others.</p>
                </ion-row>
              </ion-list>
            </ion-slide>
          </ion-slides>
          <ion-row class="form">
            <ion-col>
              <ion-button shape="round" fill="outline clear" (click)="loadRegisterSlides()">Sign up</ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-row>
    </ion-grid>
  </div>

  <div class="full-height fade-in" *ngIf="view === 'register'">
    <ion-grid class="full-height">
      <ion-row class="ion-align-items-center full-height">
        <ion-col size-sm="12" size-md="7" class="full-height">
          <ion-slides [options]="slidesOpts" scrollbar (ionSlidesDidLoad)="registerSlidesLoaded()">
            <!--First Name-->
            <!--slide index 0-->
            <ion-slide>
              <ion-grid class="full-height">
                <ion-row class="ion-align-items-center full-height">
                  <ion-list lines="none" class="form">
                    <ion-buttons class="custom-back-button" slot="start" (click)="view = 'signin'">
                      <ion-button fill="clear">
                        <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
                      </ion-button>
                    </ion-buttons>

                    <ion-segment [value]="loginMode" (ionChange)="changeLoginMode($event)">
                      <ion-segment-button value="email">
                        <ion-label>Email</ion-label>
                      </ion-segment-button>
                      <ion-segment-button value="mobile">
                        <ion-label>Mobile</ion-label>
                      </ion-segment-button>
                    </ion-segment>

                    <div *ngIf="loginMode === 'email'" lines="none">
                      <form [formGroup]="nameForm">
                        <ion-item lines="full">
                          <ion-input type="text" formControlName="first_name" placeholder="First Name" autocapitalize="true" id="first-name"></ion-input>
                          <ion-input type="text" formControlName="last_name" placeholder="Last Name" autocapitalize="true" id="last-name"></ion-input>
                        </ion-item>

                        <div *ngIf="!nameForm.controls.first_name.pristine && !nameForm.controls.first_name.valid">
                          <div class="form-error ion-text-wrap"  *ngIf="!nameForm.controls.first_name.pristine && nameForm.controls.first_name.hasError('required')">
                            This is a required field.
                          </div>
                          <div class="form-error ion-text-wrap"  *ngIf="!nameForm.controls.first_name.pristine && nameForm.controls.first_name?.errors?.minlength">
                            First name must have at least 2 characters
                          </div>
                        </div>

                        <div *ngIf="!nameForm.controls.last_name.pristine && !nameForm.controls.last_name.valid">
                          <div class="form-error ion-text-wrap" *ngIf="!nameForm.controls.last_name.pristine && nameForm.controls.last_name.hasError('required')">
                            This is a required field.
                          </div>
                          <div class="form-error ion-text-wrap" *ngIf="!nameForm.controls.last_name.pristine && nameForm.controls.last_name?.errors?.minlength">
                            Last name must have at least 2 characters
                          </div>
                        </div>
                      </form>

                      <form [formGroup]="emailPassForm">
                        <ion-item *ngIf="loginMode === 'email'" lines="full">
                          <!-- <ion-input id="email" class="email" type="email" formControlName="email" placeholder="Email" id="email"></ion-input> -->
                          <ion-input #email type="email" formControlName="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9-.]{2,}$" placeholder="Email"></ion-input>
                        </ion-item>
                        <div *ngIf="!emailPassForm.controls.email.pristine && !emailPassForm.controls.email.valid">
                          <div class="form-error ion-text-wrap" *ngIf="!emailPassForm.controls.email.pristine && emailPassForm.controls.email.hasError('required')">
                            This is a required field.
                          </div>
                          <div class="form-error ion-text-wrap"  *ngIf="!emailPassForm.controls.email.pristine && !emailPassForm.controls.email.valid">
                            Invalid email address.
                          </div>
                        </div>
                        <ion-item *ngIf="loginMode === 'email'" lines="full">
                          <ion-input #password [type]="passwordType" formControlName="password" placeholder="Password"></ion-input>
                          <ion-icon slot="end" [name]="passwordIcon" class="password-icon" (click)='hideShowPassword()'></ion-icon>
                        </ion-item>
                        <div *ngIf="!emailPassForm.controls.password.pristine && !emailPassForm.controls.password.valid">
                          <div class="form-error ion-text-wrap" *ngIf="!emailPassForm.controls.password.pristine && emailPassForm.controls.password.hasError('required')">
                            This is a required field.
                          </div>
                          <div class="form-error ion-text-wrap" *ngIf="!emailPassForm.controls.password.pristine && emailPassForm.controls.password?.errors?.minlength">
                            Password must have at least 6 characters
                          </div>
                        </div>
                        <ion-item *ngIf="loginMode === 'email'" lines="full">
                          <ion-input type="password" formControlName="passwordConfirmation" placeholder="Confirm Password"></ion-input>
                        </ion-item>
                        <div *ngIf="!emailPassForm.controls.passwordConfirmation.pristine && (!emailPassForm.controls.passwordConfirmation.valid || emailPassForm.hasError('mismatchedPasswords'))">
                          <div class="form-error ion-text-wrap" *ngIf="!emailPassForm.controls.passwordConfirmation.pristine && emailPassForm.controls.passwordConfirmation.hasError('required')">
                            This is a required field.
                          </div>
                          <div class="form-error ion-text-wrap" *ngIf="!emailPassForm.controls.passwordConfirmation.pristine && emailPassForm.controls.passwordConfirmation?.errors?.minlength">
                            Password must have at least 6 characters
                          </div>
                          <div class="form-error ion-text-wrap" *ngIf="!emailPassForm.controls.passwordConfirmation.pristine && emailPassForm.hasError('mismatchedPasswords')">
                            Passwords do not match
                          </div>
                        </div>
                      </form>
                      <div></div><!--Do not remove! This fixes the white line issue at the bottom-->
                      <p *ngIf="loginMode === 'email'" class="centered" style="text-align: center;">By proceeding, you agree to our <a href="https://restvo.com/privacy-policy.html" target="_blank">Terms of Service and Privacy Policy</a>.</p>
                      <ion-row *ngIf="loginMode === 'email'" >
                        <ion-col>
                          <ion-button [disabled]="!nameForm.valid || !emailPassForm.valid" shape="round" color="primary" (click)="registerEmail()">Create Account</ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                    <div *ngIf="loginMode === 'mobile'" lines="none">
                      <form [formGroup]="nameForm">
                        <ion-item *ngIf="loginMode === 'mobile'" lines="full">
                          <ion-input type="text" formControlName="first_name" placeholder="First Name" autocapitalize="true" id="first-name"></ion-input>
                          <ion-input type="text" formControlName="last_name" placeholder="Last Name" autocapitalize="true" id="last-name"></ion-input>
                        </ion-item>

                        <div *ngIf="!nameForm.controls.first_name.pristine && !nameForm.controls.first_name.valid">
                          <div class="form-error ion-text-wrap"  *ngIf="!nameForm.controls.first_name.pristine && nameForm.controls.first_name.hasError('required')">
                            This is a required field.
                          </div>
                          <div class="form-error ion-text-wrap"  *ngIf="!nameForm.controls.first_name.pristine && nameForm.controls.first_name?.errors?.minlength">
                            First name must have at least 2 characters
                          </div>
                        </div>

                        <div *ngIf="!nameForm.controls.last_name.pristine && !nameForm.controls.last_name.valid">
                          <div class="form-error ion-text-wrap" *ngIf="!nameForm.controls.last_name.pristine && nameForm.controls.last_name.hasError('required')">
                            This is a required field.
                          </div>
                          <div class="form-error ion-text-wrap" *ngIf="!nameForm.controls.last_name.pristine && nameForm.controls.last_name?.errors?.minlength">
                            Last name must have at least 2 characters
                          </div>
                        </div>
                      </form>
                      <form [formGroup]="mobileForm">
                        <ion-item lines="full">
                          <ion-select [interfaceOptions]="{cssClass: 'level-15'}" class="calling_code" formControlName="mobile_calling_code" name='Country Calling Code'>
                            <ion-select-option *ngFor="let calling_code of calling_codes" [value]="calling_code.value">{{calling_code.name}}</ion-select-option>
                          </ion-select>
                          <ion-input class="phone_number" type="tel" pattern="[0-9]{4,}$" formControlName="mobile_sig_number" placeholder="Mobile Number"></ion-input>
                        </ion-item>
                        <div class="form-error" *ngIf="!mobileForm.controls.mobile_sig_number.pristine && !mobileForm.controls.mobile_sig_number.valid">
                          Invalid mobile number.
                        </div>
                      </form>
                      <p class="centered">We will send you a SMS message to verify this number. Standard SMS rate applies.</p>
                      <p *ngIf="loginMode === 'mobile'" class="centered" style="text-align: center;">By proceeding, you agree to our <a href="https://restvo.com/privacy-policy.html" target="_blank">Terms of Service and Privacy Policy</a>.</p>
                      <ion-row>
                        <ion-col>
                          <ion-button shape="round" color="primary" (click)="registerMobile()" [disabled]="!nameForm.valid || !mobileForm.valid">Send the SMS Code</ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-list>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <!--Verify SMS-->
            <!--Slide index 1-->
            <ion-slide>
              <ion-grid class="full-height">
                <ion-row class="ion-align-items-center full-height">
                  <form [formGroup]="verifyCodeForm"  class="form">
                    <ion-list lines="none">
                      <ion-buttons class="custom-back-button" slot="start" (click)="prevSlide()" *ngIf="!recovery_mode">
                        <ion-button fill="clear">
                          <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <ion-buttons class="custom-back-button" slot="start" (click)="view = 'signin'" *ngIf="recovery_mode">
                        <ion-button fill="clear">
                          <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <ion-item lines="full">
                        <ion-input type="text" inputmode="numeric" pattern="[0-9]*" formControlName="verification_code" plcaeholder="6-digit Verification Code" maxlength="6"></ion-input>
                      </ion-item>
                        <div class="form-error" *ngIf="!verifyCodeForm.controls.verification_code.pristine && !verifyCodeForm.controls.verification_code.valid">
                          Invalid code.
                        </div>
                    </ion-list>
                    <p style="text-align: center">We have sent you a 6-digit code via SMS that should arrive shortly. If you do not receive it, tap Back and make sure you entered your mobile number correctly.</p>
                    <ion-row>
                      <ion-col>
                        <ion-button expand="full" shape="round" color="primary" [disabled]="!(verifyCodeForm.valid && verifyCodeForm.value.verification_code.length === 6)" (click)="verifyMobile()">Verify Phone</ion-button>
                      </ion-col>
                    </ion-row>
                  </form>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <!--My Email-->
            <!--Slide index 2-->
            <ion-slide>
              <ion-grid class="full-height">
                <ion-row class="ion-align-items-center full-height">
                  <form [formGroup]="emailForm" class="form">
                    <ion-list lines="none">
                      <div class="title" style="margin-bottom: 20%">My Email</div>
                      <ion-item lines="full">
                        <ion-label position="stacked" color="secondary">Email Address</ion-label>
                        <ion-input type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter Email Address"></ion-input>
                      </ion-item>
                      <div *ngIf="!emailForm.controls.email.pristine && !emailForm.controls.email.valid">
                        <div class="form-error" *ngIf="!emailForm.controls.email.pristine && emailForm.controls.email.hasError('required')">
                          This is a required field.
                        </div>
                        <div class="form-error"  *ngIf="!emailForm.controls.email.pristine && !emailForm.controls.email.valid">
                          Invalid email address.
                        </div>
                      </div>
                    </ion-list>
                    <ion-row style="margin: 10% 0 0 0;">
                      <ion-col>
                        <ion-button [disabled]="!emailForm.valid" expand="full" shape="round" color="primary" (click)="saveEmail()">Next</ion-button>
                      </ion-col>
                    </ion-row>
                  </form>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <!--Pick Password-->
              <!--Slide index 3-->
            <ion-slide>
              <ion-grid class="full-height">
                <ion-row class="ion-align-items-center full-height">
                  <form [formGroup]="passForm" class="form">
                    <ion-list lines="none">
                      <ion-buttons class="custom-back-button" slot="start" *ngIf="exitType === 'dashboard'" (click)="prevSlide()">
                        <ion-button fill="clear">
                          <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <div class="title" style="margin-bottom: 20%">My Password</div>
                      <ion-item lines="full">
                        <ion-input #password [type]="passwordType" formControlName="password" placeholder="Pick a Password"></ion-input>
                        <ion-icon slot="end" [name]="passwordIcon" class="password-icon" (click)='hideShowPassword()'></ion-icon>
                      </ion-item>
                      <div *ngIf="!passForm.controls.password.pristine && !passForm.controls.password.valid">
                        <div class="form-error ion-text-wrap" *ngIf="!passForm.controls.password.pristine && passForm.controls.password.hasError('required')">
                          This is a required field.
                        </div>
                        <div class="form-error ion-text-wrap" *ngIf="!passForm.controls.password.pristine && passForm.controls.password?.errors?.minlength">
                          Password must have at least 6 characters
                        </div>
                      </div>
                      <ion-item lines="full">
                        <ion-input type="password" formControlName="passwordConfirmation" placeholder="Confirm Password"></ion-input>
                      </ion-item>
                      <div *ngIf="!passForm.controls.passwordConfirmation.pristine && (!passForm.controls.passwordConfirmation.valid || passForm.hasError('mismatchedPasswords'))">
                        <div class="form-error ion-text-wrap" *ngIf="!passForm.controls.passwordConfirmation.pristine && passForm.controls.passwordConfirmation.hasError('required')" >
                          This is a required field.
                        </div>
                        <div class="form-error ion-text-wrap" *ngIf="!passForm.controls.passwordConfirmation.pristine && passForm.controls.passwordConfirmation?.errors?.minlength" >
                          Password must have at least 6 characters
                        </div>
                        <div class="form-error ion-text-wrap" *ngIf="!passForm.controls.passwordConfirmation.pristine && passForm.hasError('mismatchedPasswords')" >
                          Password do not match
                        </div>
                      </div>
                    </ion-list>
                    <ion-row>
                      <ion-col>
                        <ion-button [disabled]="!passForm.valid || !password" expand="full" shape="round" color="primary" (click)="savePassword()">Save</ion-button>
                      </ion-col>
                    </ion-row>
                  </form>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <!--Upload Photo-->
            <!--Slide index 4-->
            <ion-slide>
              <ion-grid class="full-height">
                <ion-row class="ion-align-items-center full-height">
                  <ion-list class="form">
                    <div class="title">Upload Your Photo</div>
                    <p class="comment">People in the Restvo community will be able to easily identify you.</p>
                    <ion-item class="ion-justify-content-center" lines="none">
                      <div class="image-cropper" (click)="selectPhotoFromDeviceAndUpload($event, true)">
                        <img class="profile-pic" *ngIf="!userData || !userData.user || !userData.user.avatar" src="assets/img/avatar-default.jpg"/>
                        <img class="profile-pic" *ngIf="userData && userData.user && userData.user.avatar" [src]="userData.user.avatar" onerror="this.style.display='none'"/>
                        <ion-icon name="camera" class="camera-icon" color="primary"></ion-icon>
                      </div>
                    </ion-item>
                    <ion-item *ngIf="!platform.is('cordova')" class="ion-no-padding ion-no-margin" lines="none">
                      <div class="browser-upload">
                        <input type="file" name="image" (change)="selectPhotoFromDeviceAndUpload($event, false)" accept="image/*"/>
                      </div>
                    </ion-item>
                    <ion-row>
                      <ion-col>
                        <ion-button *ngIf="!userData || !userData.user || !userData.user.avatar" expand="full" shape="round" color="primary" (click)="finish()">Skip</ion-button>
                        <ion-button *ngIf="userData && userData.user && userData.user.avatar" expand="full" shape="round" color="primary" (click)="finish()">Next</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <!--Upload Contacts (not used)-->
            <!--Slide index 5-->
            <ion-slide>
              <ion-grid class="full-height">
                <ion-row class="ion-align-items-center full-height">
                  <div class="form">
                    <div class="title" style="margin-bottom: 30%">Congrats! One last step...</div>
                    <p class="comment">Connect your contacts to find friends, family, coworkers, and others on Restvo!</p>
                    <ion-row>
                      <ion-col>
                        <ion-button expand="full" shape="round" color="primary" (click)="importContacts()">Connect</ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-button fill="clear" (click)="finish()">
                          <div class="text-link">Nah. Next time.</div>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <!--Slide Index 6-->
            <!--Mobile Phone-->
            <ion-slide>
              <ion-grid class="full-height">
                <ion-row class="ion-align-items-center full-height">
                  <form [formGroup]="mobileForm" class="form">
                    <ion-list lines="none">
                      <ion-buttons class="custom-back-button" slot="start">
                        <ion-button fill="clear" *ngIf="exitType === 'slide'" (click)="goToSlide(1)">
                          <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" *ngIf="exitType === 'dashboard'" (click)="prevSlide()">
                          <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <ion-item lines="full">
                        <ion-select [interfaceOptions]="{cssClass: 'level-15'}" class="calling_code" formControlName="mobile_calling_code" name='Country Calling Code'>
                          <ion-select-option *ngFor="let calling_code of calling_codes" [value]="calling_code.value">{{calling_code.name}}</ion-select-option>
                        </ion-select>
                        <ion-input class="phone_number" type="tel" pattern="[0-9]{4,}$" formControlName="mobile_sig_number" placeholder="Mobile Number"></ion-input>
                      </ion-item>
                      <div class="form-error" *ngIf="!mobileForm.controls.mobile_sig_number.pristine && !mobileForm.controls.mobile_sig_number.valid">
                        Invalid mobile number.
                      </div>
                    </ion-list>
                    <p class="centered">We will send you a SMS message to verify this number. Standard SMS rate applies.</p>
                    <ion-row>
                      <ion-col>
                        <ion-button expand="full" shape="round" color="primary" (click)="registerMobile()" [disabled]="!mobileForm.valid">Send the SMS Code</ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row [hidden]="exitType === 'dashboard'">
                      <ion-col>
                        <ion-button expand="full" fill="clear" (click)="goToSlide(1)" class="ion-text-wrap">Sign me up with email instead</ion-button>
                      </ion-col>
                    </ion-row>
                  </form>
                </ion-row>
              </ion-grid>
            </ion-slide>
          </ion-slides>
        </ion-col>

        <ion-col class="right-signUp" *ngIf="platform.width() >= 768">
          <img class="background-img" src="assets/img/signUp.png"/>
          <!--<div class="welcome-title">Welcome Back!</div>-->
          <div *ngIf="exitType === 'slide'">
            <div class="welcome-subtitle">Already a user? Sign in here</div>
            <ion-button color="white" expand="full" shape="round" fill="outline clear" (click)="view = 'signin'" id="signup-button">Sign in</ion-button>
            <ion-button (click)="view = 'signin'; toggleRecoveryMode()" class="create-account" fill="clear">I forgot my password</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
