app-showboardpost {

  ion-spinner {
    position: absolute;
    margin: 48%;
  }

  .avatar {
/*    width: 40px !important;
    height : 40px !important;
    object-fit: cover;*/
  }

  .header-container {
    margin-bottom: 5px;
  }

  .post-author-container {
    width: 100%;
  }

  .post-author {
    margin: 10px 0 2px 0;
    display: block;
    width: 100%;
  }

  .date {
    margin: 0 0 5px 0;
    color: lightgrey;
  }

  .photo-frame {
    margin: 0 auto;
    width: 100%;
  }

  .photo {
    width: 100%;
    height: 100%;
  }

  .short-paragraph {
    max-height: 100%;
    line-height: 20px; /* Height / no. of lines to display */
    overflow: scroll;
  }

  .note-col {
    height: 100%;
    padding-left: 0;
    margin-left: 3px;
  }

  .note {
    color: lightgrey;
    width: 100%;
    margin: 5px 0 0 0;
  }

  .section-title {
    color: white;
    background-color: var(--ion-color-grey);
    text-align: left;
    font-size: large;
  }


  .relationship-action {
    color: white;
  }

  .chat-bubble {
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 8px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }

  .chat-bubble.left {
    margin-right: 40px;
    // padding-right: 25px; // enabled when using reply icon
    background-color: #EEEEEE;
    p {
      color: black;
    }
  }

  .chat-bubble.left:before {
    background-color: #EEEEEE;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
  }

  .message {
    margin: 0;
    word-break: break-word;
  }

  //moments
  .moment {
    width: 95%;
    margin: 5px auto;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-color: #f0f0f0;
    h2, p {
      color: black;
    }
  }

  .moment-image {
    max-height: 20%;
    width: 100%;
    border-radius: 5%;

  }
  .superimposedIcon{
    position: absolute;
    bottom: 50%;
    right: 40%;
    width: 20%;
  }

  .moment-name{
    font-weight: bold;
    width: 100%;
  }

  .moment-date {
    width: 100%;
    font-weight: bold;

  }
  .moment-notes{
    width: 100%;
    font-weight: bold;
  }

  .goalFooter{
    font-style: italic;
    font-weight: lighter;
    text-align: center;
  }


  //Poll message
  .pollIconDiv{
    height: 20%;
    width: 100%;

    .pollIcon{
      height: 1.8em;
      width: 10%;
      margin: 0 auto;
    }
  }

  .pollQuestion{
    color: black;
    font-size: medium;
    font-style: italic;
  }

  .pollContainer{
    width: 100%;
    display: inline-block;
    clear: both;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    padding: 2px;
  }

  .optionsContainer{
    float: left;
    width: 60%;
    .option{
      padding-top: 5px;
      float: left;
      font-size: medium;
      //color: #4a90e2;
      font-weight: bold;
    }
  }

  .votesContainer{
    float: left;
    width: 20%;
    .votecount{
      padding-top: 10px;
      color: black;
      font-size: x-small;
    }
  }

  .userContainer{
    float: right;
    width: 20%;
    .uservote{
      margin-top: 15px;
      font-size: x-small;
      width: 90%;
      height: 30px;
      color: black;
    }
    .uservoted{
      padding-top: 20px;
      width: 30%;
      margin: 0 40%;
    }
  }

  .comment {
    padding: 6px 5px;
  }

  .comment-author {
    display: block;
    font-size: 12px;
    width: 100%;
    margin: 0
  }

  .message-footer {
    background: #ffffff;
  }

  .message-form {

    display: flex;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0.5px;
    padding: 0;

    .moreButton {
      margin: 16px 3%;
      width: 31px;
      height: 30px;
      float: left;
    }

    .actionButton {
      margin: 16px 3%;
      width: 31px;
      height: 30px;
      float: right;
    }

    ion-button {
      margin: auto 0;
    }

    ion-textarea {
      margin: 8px 0;
      width: auto;
      border-style: solid;
      border-radius: 8px;
      border-color: #CCCCCC;
      border-width: 1px;
    }

    .sendImage {
      margin: 16px 3%;
      height: 30px;
      width: 30px;
      float: right;
    }

    .recordAudioImg {
      background-color: transparent;
      margin: 16px 2%;
      height: 30px;
      width: 30px;
      float: right;
    }
  }

  #expandable {
    animation-name: move;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  @keyframes move {
    from {
      transform: translateY(170px);
    }
    to {
      transform: translateY(0);
    }
  }

  .moreoptions {
    width: 100%;
    max-height: 180px;
    background-color: rgba(238,238,238,0.5);
    overflow: scroll;

    .moreGrid{
      width: 100%;
    }

    .topRow{
      margin-top: 2px;
      width: 100%;
    }

    /*    .bottomRow {
          padding: 0 10px;
          margin-bottom: 14px;
          height: 80px;
          width: 100%;
          float: left;
        }*/

    .optionscol {
      height: 100%;
      width: 100%;

      .colelement {
        height: 50px;
        width: 50px;
        //max-height: 75%;
        //max-width: 70%;
        padding: 10px;
        display: table;
        margin: 2% auto;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        background-color: #FFFFFF;
        border-color: #CCCCCC;
      }

      .moreLabel {
        display: table;
        margin: 0 auto;
        color: #969696;
        font-size: medium;
      }
    }
  }
}
