<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" color="grey">
            <ion-button (click)="closeModal(false)">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!post._id">{{resource['en-US'].matrix_string[0][2]}}</ion-title>
        <ion-title *ngIf="post._id">{{resource['en-US'].matrix_string[0][12]}} {{resource['en-US'].matrix_string[0][2]}} </ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="!post._id" (click)="savePost()" [disabled]="!post.body?.length" color="grey">{{resource['en-US'].matrix_string[0][8]}}</ion-button>
            <ion-button *ngIf="post._id" (click)="savePost()" [disabled]="!post.body?.length" color="grey">{{resource['en-US'].matrix_string[0][13]}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="height: 100%" *ngIf="!loadCompleted">
        <ion-row class="ion-align-items-center" style="height: 100%">
            <ion-spinner name="dots"></ion-spinner>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item lines="none">
            <ion-label class="post-label"><ion-icon name="chatbox" color="grey"></ion-icon></ion-label>
            <ion-textarea autoGrow="true" rows="1" [placeholder]="resource['en-US'].matrix_string[0][4]" [(ngModel)]="post.body"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="awsService.sessionAssets?.length" lines="none">
            <div class="event-photo-container" *ngIf="(['jpg', 'jpeg', 'gif', 'png']).indexOf(awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('.') + 1).toLowerCase()) > -1" >
                <img #photo class="event-photo" [src]="awsService.sessionAssets[0]"/>
            </div>
            <a [href]="awsService.sessionAssets[0]" *ngIf="(['doc', 'docx']).indexOf(awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('.') + 1).toLowerCase()) > -1" target="_blank"><ion-thumbnail><ion-img src="assets/img/docx.svg"></ion-img></ion-thumbnail><p>{{awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('/') + 1)}}</p></a>
            <a [href]="awsService.sessionAssets[0]" *ngIf="(['xls', 'xlsx']).indexOf(awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('.') + 1).toLowerCase()) > -1" target="_blank"><ion-thumbnail><ion-img src="assets/img/xlsx.svg"></ion-img></ion-thumbnail><p>{{awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('/') + 1)}}</p></a>
            <a [href]="awsService.sessionAssets[0]" *ngIf="(['pdf']).indexOf(awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('.') + 1).toLowerCase()) > -1" target="_blank"><ion-thumbnail><ion-img src="assets/img/pdf.svg"></ion-img></ion-thumbnail><p>{{awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('/') + 1)}}</p></a>
            <a [href]="awsService.sessionAssets[0]" *ngIf="(['jpg', 'jpeg', 'gif', 'png', 'doc', 'docx', 'xls', 'xlsx', 'pdf', 'mp4', 'webm', 'ogg', 'mov', 'mp3']).indexOf(awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('.') + 1).toLowerCase()) < 0" target="_blank"><ion-thumbnail><ion-img src="assets/img/file.svg"></ion-img></ion-thumbnail><p>{{awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('/') + 1)}}</p></a>
            <div *ngIf="(['mp3']).includes(post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase())" class="video-container" plyr [plyrSources]="[{ 'src': post.attachments[0], 'type': 'audio/' + post.attachments[0].substring(post.attachments[0].lastIndexOf('.') + 1).toLowerCase() }]" [plyrOptions]="resourceService.plyrOptions" (plyrInit)="player = $event" (click)="$event.stopPropagation()" plyrType="audio" [plyrCrossOrigin]="false"></div>
            <div class="event-photo-container" plyr [plyrSources]="[{ 'src': awsService.sessionAssets[0], 'type': 'video/' + (awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('.') + 1).toLowerCase() === 'mov' ? 'mp4' : awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('.') + 1).toLowerCase()) }]" [plyrOptions]="resourceService.plyrOptions" (plyrInit)="player = $event" *ngIf="(['mp4', 'webm', 'ogg', 'mov']).indexOf(awsService.sessionAssets[0].substring(awsService.sessionAssets[0].lastIndexOf('.') + 1).toLowerCase()) > -1" (click)="$event.stopPropagation()"></div>
            <ion-button class="remove-photo" fill="clear" size="large" (click)="removePhoto()">
                <ion-icon name="trash" color="primary"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item *ngIf="post.media?.length" (click)="resourceService.clickVideo($event, post.media[0].sources)" lines="none">
            <div plyr class="event-photo-container" [plyrSources]="post.media[0].sources" [plyrOptions]="resourceService.plyrOptions" (plyrInit)="player = $event"></div>

            <ion-button class="remove-photo" fill="clear" size="large" (click)="removeVideo()">
                <ion-icon name="trash" color="primary"></ion-icon>
            </ion-button>
        </ion-item>
        <div class="photo-frame" *ngIf="post.moments && post.moments.length && post.moments[0]._id && post.moments[0].resource && ['User Defined Activity','Track','Event','Goal','Meetup'].indexOf(post.moments[0].resource.field) > -1">
            <img class="photo" *ngIf="post.moments[0].assets.length > 0" [src]="post.moments[0].assets[0]">
        </div>
        <ion-item *ngIf="post.moments && post.moments.length && post.moments[0]._id" lines="none">
            <ion-thumbnail *ngIf="['User Defined Activity','Track','Event','Goal','Meetup'].indexOf(post.moments[0].resource.field) > -1 && post.moments[0].resource.hasOwnProperty('en-US') && post.moments[0].resource['en-US'].value[0] !== 'Poll'" slot="start">
                <img [src]="momentService.loadIcon(post.moments[0].resource.field).url" />
            </ion-thumbnail>
            <!--User Defined Activity-->
            <div class="moment ion-text-wrap" *ngIf="post.moments[0].resource && post.moments[0].resource.field === 'User Defined Activity' && post.moments[0].resource.hasOwnProperty('en-US') && post.moments[0].resource['en-US'].value[0] !== 'Poll'" (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].value[0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
            </div>
            <!--Track-->
            <div class="moment ion-text-wrap" *ngIf="post.moments[0].resource && post.moments[0].resource.field === 'Track'"  (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].matrix_string[0][0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
                <p class="moment-name">{{post.moments[0].matrix_string[0][1]}}</p>
            </div>
            <!--Event-->
            <div class="moment ion-text-wrap" slot="end" *ngIf="post.moments[0] && post.moments[0].resource && post.moments[0].resource.field === 'Event'"  (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].matrix_string[0][0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
                <p class="moment-date" >Date: {{post.moments[0].calendar.startDate | datetime: 'h:n,m:n,w:s,m:n,d:n'}}</p>
                <p class="moment-name">{{post.moments[0].matrix_string[1][0]}}</p>
            </div>
            <!--Meetup-->
            <div class="moment ion-text-wrap" slot="end" *ngIf="post.moments[0] && post.moments[0].resource && post.moments[0].resource.field === 'Meetup'"  (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].matrix_string[0][0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
                <p class="moment-date" >Date: {{post.moments[0].calendar.startDate | datetime: 'h:n,m:n,w:s,m:n,d:n'}}</p>
                <p class="moment-name">{{post.moments[0].matrix_string[1][0]}}</p>
            </div>
            <!--Goal-->
            <div class="moment ion-text-wrap" slot="end" *ngIf="post.moments[0] && post.moments[0].resource && post.moments[0].resource && post.moments[0].resource.field === 'Goal'"  (click)="openRestvoFeature($event, post.moments[0])">
                <p class="moment-name" >{{post.moments[0].resource['en-US'].matrix_string[0][0]}}: {{post.moments[0].matrix_string[0][0]}}</p>
                <p *ngIf="post.moments[0].calendar" class="moment-date" >Accomplish By: {{post.moments[0].calendar.startDate | datetime: 'h:n,m:n,w:s,m:n,d:n'}}</p>
                <p class="moment-notes">{{post.moments[0].matrix_string[1][0]}}</p>
            </div>
            <!-- Poll -->
            <div class="moment ion-text-wrap" *ngIf="post.moments[0] && post.moments[0].resource && post.moments[0].resource.field === 'Poll'">
                <p>This poll is no longer available</p>
            </div>
            <div class="moment ion-text-wrap" *ngIf="post.moments[0] && post.moments[0].resource && post.moments[0].resource.field === 'User Defined Activity' && post.moments[0].resource.hasOwnProperty('en-US') && post.moments[0].resource['en-US'].value[0] === 'Poll'" (click)="openRestvoFeature($event, post.moments[0])">
                <div class="pollIconDiv">
                    <img class="pollIcon" src="assets/img/Poll_Gray.png">
                </div>
                <p class="pollQuestion">{{post.moments[0].resource['en-US'].matrix_string[1][1]}}</p>
                <div class="unresolvedPollFooter">
                    <p>{{post.moments[0].resource['en-US'].matrix_string[1][6]}}: {{post.moments[0].calendar.endDate | datetime: 'h:n,m:n,w:s,m:n,d:n'}}</p>
                </div>
            </div>
            <ion-button size="large" fill="clear" slot="end" (click)="removeMoment()">
                <ion-icon name="trash" color="primary"></ion-icon>
            </ion-button>
        </ion-item>

        <div *ngIf="resourceService.showPixabay > -1">
            <ion-searchbar [(ngModel)]="resourceService.searchKeyword" (ionChange)="resourceService.searchPixabay()" placeholder="Type keywords to search Pixabay" debounce="500"></ion-searchbar>
            <ion-grid class="pixabay-grid" *ngIf="resourceService.stockPhotoResults && resourceService.stockPhotoResults.hits?.length">
                <ion-row>
                    <ion-col *ngFor="let photo of resourceService.stockPhotoResults.hits">
                        <ion-thumbnail (click)="awsService.selectStockPhoto(photo, this.boardId)">
                            <ion-img [src]="photo.previewURL"></ion-img>
                        </ion-thumbnail>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item-divider color="grey">
            <div style="color: white">Restvo Features</div>
        </ion-item-divider>
    </ion-list>
    <ion-grid class="moreGrid">
        <ion-row class="topRow" ion-align-self-center>
            <ion-col class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2"> <img class="colelement" (click)="takePhotoAndUpload()" src="assets/img/Camera_Gray.png" /><div class="moreLabel">Photo</div></ion-col>
            <ion-col class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2"> <img class="colelement" (click)="promptVideoUrl('youtube')" src="assets/img/Facetime_Gray.png" /><div class="moreLabel">Youtube</div></ion-col>
            <ion-col *ngIf="platform.is('cordova')" class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2">
                <img class="colelement" (click)="selectPhotoFromDeviceAndUpload($event)" src="assets/img/Album_Gray.png" />
                <div class="moreLabel">Album</div>
            </ion-col>
            <ion-col *ngIf="!platform.is('cordova')" class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2">
                <label for="image"><img class="colelement" src="assets/img/Album_Gray.png" /></label>
                <div class="moreLabel">Album</div>
                <input type="file" class="file-picker" name="image" id="image" (change)="selectPhotoFromDeviceAndUpload($event)" accept="image/*"/>
            </ion-col>
            <ion-col class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2">
                <label for="file"><img class="colelement" src="assets/img/Folder_Gray.png" /></label>
                <div class="moreLabel">Upload</div>
                <input type="file" class="file-picker" name="file" id="file" (change)="selectFileFromDeviceAndUpload($event)" />
            </ion-col>
            <ion-col class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2"> <img class="colelement" (click)="resourceService.showPixabay = 0" src="assets/img/Album_Gray.png"><p class="moreLabel">Stock</p></ion-col>
            <!--<ion-col class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2"> <img class="colelement" (click)="shareLocation()" src="assets/img/Location_Grey.png"><p class="moreLabel">Location</p></ion-col>-->
            <ion-col class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2"> <img class="colelement" (click)="pickFeatureModalPage($event, 'User Defined Activity')" src="assets/img/Calendar_Gray.png"/><div class="moreLabel">Library</div></ion-col>

            <ion-col class="optionscol ion-align-self-center" size-xs="3" size-sm="3" size-md="3" size-lg="2" size-xl="2"> <img class="colelement" (click)="pickFeatureModalPage($event, 'Poll')" src="assets/img/Poll_Gray.png" /><div class="moreLabel">Poll</div></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer *ngIf="post._id?.length">
    <ion-toolbar style="margin-top: 5%;">
        <ion-button expand="full" shape="round" fill="solid" color='danger' (click)="deletePost()" class="centered action">{{resource['en-US'].matrix_string[0][10]}} {{resource['en-US'].matrix_string[0][2]}}</ion-button>
    </ion-toolbar>
</ion-footer>
